! Configuration File for keepalived

global_defs {
   router_id {{ ansible_nodename }}
}

{% if groups['svc-nginx'] | count  > 1 %}
include /etc/keepalived/nginx.cnf
{% endif %}

{% if groups['svc-patroni'] | count  > 1 %}
include /etc/keepalived/patroni.cnf
{% endif %}
