{
  "service": {
    "name": "nginx-ip-master",
    "tags": [ ],
    "port": 0,
    "enableTagOverride": false,
    "check": {
      "interval": "10s",
      "script": "{{consul_scripts_path}}/keepalived_nginx.sh"
    }
  }
}
