
vrrp_instance nginx  {
    state {{keepalived_initial_state}}
    interface {{ansible_default_ipv4.interface}}
    virtual_router_id {{keepalived_nginx_router_id}}
    priority 200
    advert_int 1
    nopreempt
    authentication {
        auth_type PASS
        auth_pass {{keepalived_password}}
    }
    virtual_ipaddress {
        {{keepalived_nginx_virtual_ip}}
    }
    unicast_peer {
{% for host in groups['svc-nginx'] %}
        {{hostvars[host].ansible_default_ipv4.address}}
{% endfor %}
    }
}