

vrrp_script chk_haproxy {
        script "killall -0 haproxy"
        interval 1
        weight -20
        debug
        fall 2
        rise 2
}

vrrp_instance patroni {
        state {{keepalived_initial_state}}
        interface {{ansible_default_ipv4.interface}}
        virtual_router_id {{keepalived_patroni_router_id}}
        authentication {
            auth_type PASS
            auth_pass {{keepalived_password}}
        }
        track_script {
		    chk_haproxy weight 20
        }
        virtual_ipaddress {
                {{keepalived_patroni_virtual_ip}}
        }
    unicast_peer {
{% for host in groups['svc-haproxy'] %}
        {% if hostvars[host]["ansible_default_ipv4"] is defined %}
        {{hostvars[host].ansible_default_ipv4.address}}
        {%endif%}
{% endfor %}
    }

}
