//
// NOC colors css
// Build automatically from static/js/noc/colors.js
// Do not change manually
.noc-add {
    color: #2ecc71;
}

.noc-asbestos {
    color: #7f8c8d;
}

.noc-black {
    color: #232323;
}

.noc-clouds {
    color: #ecf0f1;
}

.noc-concrete {
    color: #95a5a6;
}

.noc-delete {
    color: #c0392b;
}

.noc-edit {
    color: #7f8c8d;
}

.noc-emerald {
    color: #2ecc71;
}

.noc-midnightblue {
    color: #2c3e50;
}

.noc-no {
    color: #c0392b;
}

.noc-piterriver {
    color: #3498db;
}

.noc-pomegranate {
    color: #c0392b;
}

.noc-preview {
    color: #f1c40f;
}

.noc-silver {
    color: #bdc3c7;
}

.noc-starred {
    color: #f1c40f;
}

.noc-sunflower {
    color: #f1c40f;
}

.noc-unstarred {
    color: #7f8c8d;
}

.noc-view {
    color: #f1c40f;
}

.noc-wetasphalt {
    color: #34495e;
}

.noc-while {
    color: #ffffff;
}

.noc-yes {
    color: #2ecc71;
}
