/*
 * NOC ExtJS extensions CSS
 */

/*
 * GeoField
 */
.noc-geo-wrap {
}

.noc-geo-lon, .noc-geo-lat {
    display: inline-block;
}

/* Clickable cell */
.noc-clickable-cell, .noc-clickable-cell:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px black dotted;
}

.noc-clickable-cell:hover {
    color: #808080;
    text-decoration: none;
    border-bottom: 1px #808080 solid;
}

.noc-label-required {
    font-weight: bold !important;
    color: #c0392b;
}

.noc-const {
    color: #c0c0c0;
}

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(/static/img/other/top2.gif);
}

.x-form-itemselector-up {
    background-image: url(/static/img/other/up2.gif);
}

.x-form-itemselector-add {
    background-image: url(/static/img/other/right2.gif);
}

.x-form-itemselector-remove {
    background-image: url(/static/img/other/left2.gif);
}

.x-form-itemselector-down {
    background-image: url(/static/img/other/down2.gif);
}

.x-form-itemselector-bottom {
    background-image: url(/static/img/other/bottom2.gif);
}
.x-display-tag {
    display: inline-block;
    position: relative;
    zoom:1; /* IE */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    o-border-radius: 7px;
    khtml-border-radius: 7px;
    padding: 0px 4px 0px 4px !important;
    margin: 0px 1px 0px 0px;
    background-color: #7f8c8d;
    color: #ffffff;
    border: 1px solid;
    cursor: default;
}

.x-panel-body-default {
    background-color: #ecf0f1 !important;
}

.x-grid-row {
    background-color: #ecf0f1 !important;
}

.x-summary {
    color: #7f8c8d;
}