/*
 * NOC ExtJS extensions CSS
 */

/*
 * GeoField
 */
.noc-geo-wrap {
}

.noc-geo-lon, .noc-geo-lat {
    display: inline-block;
}
/*
 * BoxSelect
 */
.x-boxselect ul.x-boxselect-list {
	height: auto;
	cursor: text;
	min-height: 20px;
	padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.x-boxselect input {
	border: none;
	background: none;
	line-height: 18px;
	height: 20px;
	width: 100%;
	padding: 1px 3px;
}
.x-boxselect-input, .x-boxselect-item {
	display: inline-block;
	position: relative;
	*display:inline; /* IE7 */
	zoom:1; /* IE */
}
.x-boxselect-stacked .x-boxselect-item {
	display: block;
}
.x-boxselect-item {
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    o-border-radius: 6px;
    khtml-border-radius: 6px;
    border: 1px solid #CAD8F3;
	padding: 0px 1px 0px 5px !important;
	margin: 1px 1px 1px 0;
	background-color: #DEE7F8;
	cursor: default;
}
.x-field:not(.x-item-disabled) .x-boxselect-item:hover {
	background: #BBCEF1;
	border: 1px solid #6D95E0;
}
.x-field:not(.x-item-disabled) .x-boxselect-item.selected {
	border: 1px solid #316AD3 !important;
	background: #658FDC !important;
}
.x-boxselect-item-text {
	line-height: 16px;
	padding-right: 20px;
}
.x-boxselect-item-close {
	cursor: pointer;
}
/* Clickable cell */
.noc-clickable-cell, .noc-clickable-cell:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px black dotted;
}

.noc-clickable-cell:hover {
    color: #808080;
    text-decoration: none;
    border-bottom: 1px #808080 solid;
}

.noc-label-required {
    font-weight: bold !important;
}

.noc-const {
    color: #c0c0c0;
}

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(/static/img/other/top2.gif);
}

.x-form-itemselector-up {
    background-image: url(/static/img/other/up2.gif);
}

.x-form-itemselector-add {
    background-image: url(/static/img/other/right2.gif);
}

.x-form-itemselector-remove {
    background-image: url(/static/img/other/left2.gif);
}

.x-form-itemselector-down {
    background-image: url(/static/img/other/down2.gif);
}

.x-form-itemselector-bottom {
    background-image: url(/static/img/other/bottom2.gif);
}
.x-display-tag {
    display: inline-block;
    position: relative;
    *display:inline; /* IE7 */
    zoom:1; /* IE */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    o-border-radius: 5px;
    khtml-border-radius: 5px;
    border: 1px solid #CAD8F3;
    padding: 0px 2px 0px 2px !important;
    margin: 0px 1px 0px 0px;
    background-color: #DEE7F8;
    cursor: default;
}
