<html>
<head>
    <title>Test Map</title>
    <meta http-equiv="text/html; charset=utf-8" />
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/js/ol/OpenLayers.js"></script>
    <script type="text/javascript">
        var map;

        function init() {
            map = new OpenLayers.Map("map_div", {
                projection: "EPSG:900913",
                displayProjection: "EPSG:900913"
            });
            /* Add Tile Base Layers */
            {% for m_id, name in t_maps %}
            map.addLayer(
                    new OpenLayers.Layer.XYZ(
                        "{{ name }}",
                        "/gis/tms/{{ m_id }}/${z}/${x}/${y}.png",
                        {
                            sphericalMercator: true,
                            isBaseLayer: true
                        }
                    )
            );
            // TMS Test
                map.addLayer(
                        new OpenLayers.Layer.TMS(
                            "{{ name }} (TMS Test)",
                            "/gis/tms/",
                            {
                                layername: "{{ m_id }}",
                                type: "png",
                                sphericalMercator: true,
                                isBaseLayer: true
                            }
                        )
                );
            {% endfor %}
            // OSM Layer
            map.addLayer(new OpenLayers.Layer.OSM("OpenStreetMap"));
            // Google layers
            map.addLayer(new OpenLayers.Layer.Google("Google Roadmap", {
                type: google.maps.MapTypeId.ROADMAP
            }));
            map.addLayer(new OpenLayers.Layer.Google("Google Satellite", {
                type: google.maps.MapTypeId.SATELLITE
            }));
            // Controls
            map.addControls([
                new OpenLayers.Control.Navigation(),
                new OpenLayers.Control.PanZoomBar(),
                new OpenLayers.Control.LayerSwitcher({}),
                new OpenLayers.Control.KeyboardDefaults(),
                new OpenLayers.Control.ScaleLine({
                    geodesic: true
                }),
                // new OpenLayers.Control.MousePosition({}),
                new OpenLayers.Control.Graticule({visible: false})
            ]);
            if(!map.getCenter())
                map.zoomToMaxExtent();
        }
    </script>
</head>
<body onload="init();">
    <div id="map_div" style="width: 100%; height: 100%"></div>
</body>
</html>