{% extends "template.html" %}
{% block content %}
<H1>{{ vc }} interfaces</H1>

<div class="module">
    {% if no_selector %}
    No selector defined for VC domain {{ vc.vcdomain.name }}.
    {% else %}
    <table border="0">
    {% if untagged %}
        <tr><th colspan="2" style="border-bottom: 1px solid gray">Untagged</th></tr>
        {% for o, ifaces in untagged %}
            <tr>
                <td><b>{{ o.name }}:</b></td>
                <td>
                    {% for i in ifaces %}
                        {{ i.name }}, 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {%  endif %}
    {% if tagged %}
        <tr><th colspan="2" style="border-bottom: 1px solid gray">Tagged</th></tr>
        {% for o, ifaces in tagged %}
            <tr>
                <td><b>{{ o.name }}:</b></td>
                <td>
                    {% for i in ifaces %}
                        {{ i.name }},
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {%  endif %}
    {% if l3 %}
        <tr><th colspan="2" style="border-bottom: 1px solid gray">L3</th></tr>
        {% for o, ifaces in l3 %}
            <tr>
                <td><b>{{ o.name }}:</b></td>
                <td>
                    {% for i in ifaces %}
                        {{ i.name }} (
                            {{ i.ipv4_addresses|join:", " }},
                            {{ i.ipv6_addresses|join:", " }}
                        )
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {%  endif %}
    </table>
    {% endif %}
</div>
{%endblock%}
