$window-header-color: $color-clouds;
$window-header-background-color: $color-midnight-blue;
$window-border-color: $color-midnight-blue;

.x-window-header-title-default > .x-title-text-default::after {
  content: '' !important;
}