---
- name: Install FreeBSD system packages
  pkgng: name={{item}} state=present
  with_items:
    - postgresql93-client
    - python2
    - py27-virtualenv
    - mercurial
    - quilt
    - curl
    - libffi
    - libmemcached
    - lsof
  tags:
    - requirements

- name: Create required directories
  file: path={{item}} state=directory mode=0755
  with_items:
    - /usr/local/etc/rc.d
    - /usr/local/etc/newsyslog.conf.d

- name: Install supervisord init script
  template: src="os/FreeBSD/etc/rc.d/noc.j2" dest="/usr/local/etc/rc.d/{{ noc_system_service }}" mode="a+rx"

- name: Enable NOC system service
  service: name="{{ noc_system_service }}" enabled=yes
