{% extends "template.html"%}
{% block content %}
<h1>Change Event Class</h1>

<form method="POST">
    {% include "includes/noc_fieldset.html" %}
    
    {{text_formset.management_form}}

    <div class="module">
        <h2>Text</h2>
        <table border="0" width="100%">
        {% for tf in text_formset %}
            {{tf.as_table}}
        {% endfor %}
        </table>
    </div>
    
    <div class="submit-row">
        <INPUT TYPE="submit" VALUE="Save" class="default"/>
        {% if object_id %}
            <script>
                function on_delete() {
                    if(confirm("Delete Event Class? This action cannot be undone!")) {
                        document.location = "{% url fm:eventclass:delete object_id %}";
                    }
                    return false;
                }
            </script>
            <a href="#"
                onclick="return on_delete()" class="deletelink" style="float: left">Delete</a>
        {% endif %}
    </div>
</form>
{% endblock %}