{% extends "template.html"%}
{% load noctags %}
{% block content %}
<ul class="object-tools">
    <li><a href="#" onclick="return show_popup('JSON', '{% url fm:eventclass:to_json o.id%}')">JSON</a></li>
</ul>

<h1>Event Class: {{o.name}}</h1>

<style>
    .labels {
        width: 100px;
    }
    
    .types {
        width: 50px;
    }
    
    .required {
        width: 30px;
    }
    
    .optional {
        font-style: italic;
    }
</style>

<div class="module">
    <table border="0" width="100%">
        <tr><td class="labels"><b>Name</b></td><td>{{o.name}}</td></tr>
        <tr><td><b>Is builtin</b></td><td>{{o.is_builtin|bool_icon}}</td></tr>
        <tr><td><b>Description</b></td><td>{{o.description}}</td></tr>
        <tr><td><b>Action</b></td><td>{{o.display_action}}</td></tr>
    </table>
    
    <h2>Vars</h2>
    <table border="0" width="100%">
        <thead>
            <tr>
                <th class="labels">Name</th>
                <th class="types">Type</th>
                <th class="required">Required</th>
                <th>Description</th>
            </tr>
        </thead>
        {% for v in o.vars %}
            <tr {% if not v.required %}class="optional"{% endif %}>
                <td><b>{{v.name}}</b></td>
                <td>{{v.type}}</td>
                <td>{{v.required|bool_icon}}</td>
                <td>{{v.description}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="module">
    <h2>Disposition rules</h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Condition</th>
                <th>Action</th>
                <th>Alarm Class</th>
                <th>Combo<br/>Condition</th>
                <th>Combo<br/>Window</th>
                <th>Combo<br/>Classes</th>
                <th>Stop</th>
            </tr>
        </thead>
        {% for d in o.disposition %}
            <tr>
                <td>{{d.name}}</td>
                <td>{{d.condition}}</td>
                <td>{{d.action}}</td>
                <td>
                    {% if d.alarm_class %}
                        <a href="{% url fm:alarmclass:preview d.alarm_class.id %}">{{d.alarm_class.name}}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{d.combo_condition}}</td>
                <td>{{d.combo_window}}</td>
                <td>
                    {% for cc in d.combo_event_classes %}
                        <a href="{% url fm:eventclass:preview cc.id %}">{{cc.name}}</a><br/>
                    {% endfor %}
                </td>
                <td>{{d.stop_disposition|bool_icon}}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="8"><b>Conditional pyRule:</b> {{o.conditional_pyrule_name}}</td></tr>
    </table>
</div>

<div class="module">
    <h2>Classification Rules</h2>
    <table border="0">
        <thead>
            <tr><th>Rule</th><th>Preference</th></tr>
        </thead>
        {% for r in extra.rules %}
            <tr>
                <td><a href="{% url fm:classificationrule:preview r.id %}">{{r.name}}</a></td><td>{{r.preference}}</td></tr>
            </tr>
        {% endfor %}
    </table>
</div>

{% for t in extra.text %}
    <div class="module">
        <h2>{{t.language}}</h2>
        <table border="0" width="100%">
            <tr><td><b>Subject Template:</b></td><td><pre>{{t.subject_template}}</pre></td></tr>
            <tr><td><b>Body Template:</b></td><td><pre>{{t.body_template}}</pre></td></tr>
            <tr><td><b>Symptoms:</b></td><td><pre>{{t.symptoms}}</pre></td></tr>
            <tr><td><b>Probable Causes:</b></td><td><pre>{{t.probable_causes}}</pre></td></tr>
            <tr><td><b>Recommended Actions:</b></td><td><pre>{{t.recommended_actions}}</pre></td></tr>
        </table>
    </div>
{% endfor %}
{% endblock %}