# NOC mongod-arbiter.conf


storage:
  dbPath: {{ noc_root }}/var/db/mongo-arbiter
  journal:
    enabled: false
  engine: {{ noc_mongo_storageengine }}
     
systemLog:
  verbosity: 0
  destination: file
  logAppend: true
  path: {{ mongo_arbiter_log_path }}

net:
  port: 27018
  bindIp: 0.0.0.0

processManagement:
  fork: {{ mongo_fork }}
  pidFilePath: {{ mongo_arbiter_pid }}

security:
  keyFile: {{ noc_root }}/var/etc/mongo/mongo.key
  clusterAuthMode: keyFile
  authorization: enabled

replication:
  replSetName: {{ noc_mongo_replicaset }}

#operationProfiling:

#sharding:
