# mongod.conf


storage:
  dbPath: {{ mongo_db_path }}
  journal:
    enabled: true
  engine: {{ noc_mongo_storageengine }}

systemLog:
  verbosity: 0
  destination: file
  logAppend: true
  path: {{ mongo_log_path }}

net:
  port: 27017
  bindIp: 0.0.0.0

processManagement:
  fork: {{ mongo_fork }}
  pidFilePath: {{ mongo_pid }}

security:
  keyFile: {{ noc_root }}/var/etc/mongo/mongo.key
  clusterAuthMode: keyFile
  authorization: enabled

replication:
  replSetName: {{ noc_mongo_replicaset }}

#operationProfiling:

#sharding:
