db = connect("{{mongo_hosts}}/{{noc_mongo_db}}?replicaSet={{noc_mongo_replicaset}}")
var master = db.isMaster()
if(!master.ismaster) {
    db = connect(master.primary + "/{{noc_mongo_db}}")
}
db.auth("{{noc_mongo_user}}", "{{noc_mongo_admin_password}}")
