<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML LANG="ru">
<HEAD>
    <TITLE>NOC: {% block title %}Title{% endblock %}</TITLE>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=utf8" />
    <META NAME="Copyright" CONTENT="2007, dv.net.ru" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <LINK REL="stylesheet" TYPE="text/css" HREF="/static/css/main.css" />
    {%block header%}{%endblock%}
</HEAD>
<BODY>
<DIV ID="header">NOC</DIV>
<DIV ID="menu">
    <B>Menu:</B>
    <UL>
        {% if user.is_staff %}
        <LI><A HREF="/admin/">Management</A></LI>
        {% endif %}
        <LI><A HREF="/ip/">Assigned addresses</A></LI>
        <LI><A HREF="/peer/lg/">Looking Glass</A></LI>
        <LI><A HREF="/main/report/">Reports</A></LI>
        <LI><A HREF="/doc/index.html">Documentation</A></LI>
    </UL>
<A HREF="/main/logout/">Logout</A><BR/>
</DIV>
<DIV ID="content">{% block content %}{% endblock %}</DIV>
</BODY>
</HTML>
