<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <title>NOC: {% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=utf8" />
    <META NAME="Copyright" CONTENT="2007, dv.net.ru" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    {%block header%}{%endblock%}
</head>

<body class="dashboard">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 ID="site-name">NOC</h1>
            </div>
                {% if user.is_authenticated and user.is_staff %}
                <div id="user-tools">Welcome, <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>.  <a href="{{ root_path }}admin/password_change/">Change password</a> / <a href="{{root_path}}admin/logout/">Logout</a></div>
                {% endif %}
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colSM">
            <!--<h1>{{title}}</h1>-->
            <div id="content-main">
                {% block content %}{% endblock %}
            </div>
            <div id="content-related">
                <div class="module" id="recent-actions-module">
                    <h2>Sidebar</h2>
                    <h3>Links</h3>
                        <ul class="actionlist">
                            <li><a href="/admin/">Management</a></li>
                            <li><a href="/main/report/">Reports</a></li>
                            <li><a href="/ip/">Assigned addresses</a></li>
                            <li><a href="/peer/lg/">Looking Glass</a></li>
                            <li><a href="/doc/index.html">Documentation</a></li>
                        </ul>
                </div>
            </div>
            <br class="clear" />
        </div>
        <!-- END Content -->
        <div id="footer">&copy;2007-2008, Dmitry Volodin</div>
    </div>
    <!-- END Container -->
</body>
</html>