{% extends "template.html" %}
{% load adminmedia %}
{% block content %}
<h1>Config pulling result</h1>
<table border="0">
    {% for object, status, config, diff, diff_text in result %}
        <tr class="{%cycle 'row1' 'row2'%}">
            <td>{{object.name}}</td>
            <td><img src="{% admin_media_prefix %}img/admin/icon-{% if status %}yes{%else%}no{%endif%}.gif" /></td>
            <td>
                {% if config %}
                    <a href="{{config}}">Current Config</a>
                {% endif %}
            </td>
            <td>
                {% if diff %}
                    <a href="{{diff}}">{{diff_text}}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock%}
