[[inputs.mongodb]]
  ## An array of URI to gather stats about. Specify an ip or hostname
  ## with optional port add password. ie,
  ##   mongodb://user:auth_key@10.10.3.30:27017,
  ##   mongodb://10.10.3.33:18832,
  ##   10.0.0.1:10000, etc.
  #
  # we use 127.0.0.1 hre because of it will be launched on each mongodb server
  #
  servers = ["mongodb://{{ noc_mongo_admin_user }}:{{ noc_mongo_admin_password }}@127.0.0.1:27017/admin"]
  gather_perdb_stats = true


[[inputs.procstat]]
pattern = "mongod"