[Unit]
Description=Realtime distributed messaging (nsqd)
After=network.target

[Service]
ExecStart={{nsq_root}}/nsqd -config {{nsqd_config_dir}}/nsqd.conf
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
User=nsq
Group=nsq

[Install]
WantedBy=multi-user.target