[Unit]
Description=Realtime distributed messaging (nsqd)
After=network.target

[Service]
ExecStart={{ nsq_root }}/nsqd -config {{ nsqd_config_dir }}/nsqd.conf
Type=simple
KillMode=process
Restart=always
RestartSec=10s
User=nsq
Group=nsq

[Install]
WantedBy=multi-user.target
