$panel-body-background-color: $color-clouds;
$panel-header-background-color: $color-clouds;
$panel-header-color: $color-black;

.x-panel-header-title-default > .x-title-text-default::after {
  content: '';
}

.x-panel-ghost {
  .x-panel-header-default,
  .x-panel-body-default {
    background-color: $color-white;
    border: 1px dashed $color-black !important;
  }

  .x-panel-header-default {
    border-bottom: none !important;
  }
}