{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans 'Password change' %}{% endblock %}
{% block breadcrumbs %}{{block.super}}<li>{% trans 'Password change' %}</li>{% endblock %}
{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" id="change-password-form">{% csrf_token %}
    <table border="0">
    {{form.as_table}}
    </table>
    <input type="submit" value="{% trans 'Change my password' %}" />
</form>
{% endblock %}
