{% extends "app/tree/preview.html" %}
{% load noctags %}
{% block preview %}
    <table border="0">
        <tr class="row1"><td><b>Name:</b></td><td>{{o.short_name}}</td></tr>
        <tr class="row2"><td><b>Is builtin?:</b></td><td>{{o.is_builtin|bool_icon}}</td></tr>
        {% if o.description %}
        <tr class="row1">
            <td><b>Description:</b></td>
            <td>{{o.description}}</td>
        </tr>
        {% endif %}
        <tr class="row2">
            <td><b>Has gender:</b></td>
            <td>{{o.has_gender|bool_icon}}</td>
        </tr>
        <tr class="row1">
            <td><b>Multi-Connections:</b></td>
            <td>{{o.multi_connection|bool_icon}}</td>
        </tr>
        <!-- m_compatible -->
        {% if o.m_compatible %}
        <tr class="row2">
            <td><b>When acting as "Male"<br/>compatible with:</b></td>
            <td>{{o.m_compatible|join:", "}}</td>
        </tr>
        {% endif %}
        <!-- f_compatible -->
        {% if o.f_compatible %}
        <tr class="row1">
            <td><b>When acting as "Female"<br/>compatible with:</b></td>
            <td>{{o.f_compatible|join:", "}}</td>
        </tr>
        {% endif %}
        <!-- model attributes -->
        {% if o.model_attributes %}
            <tr class="row2">
                <td><b>Model Attributes:</b></td>
                <td>
                    <table border="0">
                        <thead>
                            <tr>
                                <th>Name</th><th>Required</th>
                                <th>Type</th><th>Default</th>
                            </tr>
                        </thead>
                        {% for a in o.model_attributes %}
                            <tr>
                                <td>{{a.name}}</td>
                                <td>{{a.required|bool_icon}}</td>
                                <td>{{a.type}}</td>
                                <td>{% if a.default %}{{a.default}}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}