- name: Add InfluxDB repository
  template:
    src: os/RedHat/etc/yum.repos.d/influxdb.repo.j2
    dest: /etc/yum.repos.d/influxdb.repo

- name: Add GPG key influxdb
  rpm_key:
    state: present
    key: https://repos.influxdata.com/influxdb.key
    validate_certs: no
  environment:
    https_proxy: "{{http_proxy}}"


- name: Install Telegraf packages
  yum:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
   - telegraf
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: render telegraf config
  template:
    src: "etc/telegraf/telegraf.conf.j2"
    dest: "{{etc_prefix}}/telegraf/telegraf.conf"
  tags:
    - config

- name: Enable telegraf system service
  service:
    name: telegraf
    enabled: yes
    state: started
  tags:
    - config

- name: create systemd override dir
  file:
    path: "/etc/systemd/system/telegraf.service.d/"
    state: directory
  tags:
    - config

#https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
#
# order will be by filenaming.
# /etc/systemd/system/pgbouncer.service.d/noc.conf
#[Service]
#LimitNOFILE=1000
# /etc/systemd/system/pgbouncer.service.d/override.conf
#[Service]
#LimitNOFILE=5000
#
- name: Install telegraf override.conf
  template:
    src: "etc/telegraph.override.conf.j2"
    dest: "/etc/systemd/system/telegraf.service.d/noc.conf"
  tags:
    - config