{% extends "template.html"%}
{% block content %}
<h1>Change Event Classification Rule</h1>
<script>
    $(document).ready(function() {
        var w = $("#id_name").parent().width() - 150;
        $("#id_name").width(w);
        $("#id_description").width(w);
        $("#event_class").change(function(){
            $name = $("#id_name");
            var v = $("#event_class_text").html();
            var n = $name.attr("value");
            $name.attr("value", n.replace("<name>", v));
        });
    });
</script>
<form method="POST">
    {% include "includes/noc_fieldset.html" %}
    
    {{formset.management_form}}
    <table border="0">
        <thead>
            <tr><th>Key RE</th><th>Value RE</th><th>Delete</th></tr>
        </thead>
        {% for f in formset %}
            <tr class="{% cycle 'row1' 'row2'%}">
                <td>{% if f.key_re.errors%}{{f.key_re.errors}}{%endif%}{{f.key_re}}</td>
                <td>{% if f.key_re.errors%}{{f.value_re.errors}}{%endif%}{{f.value_re}}</td>
                <td>{{f.DELETE}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="submit-row">
        <INPUT TYPE="submit" VALUE="Save" class="default"/>
        {% if object_id %}
            <script>
                function on_delete() {
                    if(confirm("Delete Rule? This action cannot be undone!")) {
                        document.location = "{% url fm:classificationrule:delete object_id %}";
                    }
                    return false;
                }
            </script>
            <a href="#"
                onclick="return on_delete()" class="deletelink" style="float: left">Delete</a>
        {% endif %}
    </div>
</form>
{% endblock %}