{% extends "template.html"%}
{% load noctags %}
{% block content %}
<ul class="object-tools">
    <li><a href="#" onclick="return show_popup('JSON', '{% url fm:classificationrule:to_json o.id%}')">JSON</a></li>
    <li><a href="#" onclick="return show_popup('Test Event', '{% url fm:classificationrule:test_event o.id%}')">Test Event</a></li>
    <li><a href="{% url fm:classificationrule:change o.id %}">Change Classification Rule</a></li>
</ul>

<h1>Event Classification Rule: {{o.name}}</h1>

<style>
    .labels {
        width: 100px;
    }
    
    .types {
        width: 50px;
    }
    
    .required {
        width: 30px;
    }
    
    .optional {
        font-style: italic;
    }
    
    .testre {
        float: right;
    }
</style>
<div class="module">
    <h2>Summary</h2>
    <table border="0" width="100%">
        <tr><td class="labels"><b>Name</b></td><td>{{o.name}}</td></tr>
        <tr><td><b>Is builtin</b></td><td>{{o.is_builtin|bool_icon}}</td></tr>
        <tr><td><b>Description</b></td><td>{{o.description}}</td></tr>
        <tr><td><b>Event class</b></td><td><a href="{% url fm:eventclass:preview o.event_class.id %}">{{o.event_class.name}}</a></td></tr>
        <tr><td><b>Preference</b></td><td>{{o.preference}}</td></tr>
    </table>

    <h2>Patterns</h2>
    <table border="0" width="100%">
        <thead>
            <tr><th>key_re</th><th>value_re</th></tr>
        </thead>
        {% for p in o.patterns %}
            <tr>
                <td style="width: 50%">
                    {{p.key_re}}
                    <a class="testre" href="#" onclick="return show_popup('Test Regular Expression', '{% url fm:classificationrule:test_re o.id 'K' forloop.counter0%}');">
                        <img src="/media/img/admin/selector-addall.gif" title="Test RE"/>
                    </a>
                </td>
                <td>{{p.value_re}}
                    <a class="testre" href="#" onclick="return show_popup('Test Regular Expression', '{% url fm:classificationrule:test_re o.id 'V' forloop.counter0%}');">
                        <img src="/media/img/admin/selector-addall.gif" title="Test RE"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="module">
    <h2>Event class: {{o.event_class.name}}</h2>
    <table border="0" width="100%">
        <tr><td class="labels"><b>Name</b></td><td>{{o.event_class.name}}</td></tr>
        <tr><td><b>Is builtin</b></td><td>{{o.event_class.is_builtin|bool_icon}}</td></tr>
        <tr><td><b>Description</b></td><td>{{o.event_class.description}}</td></tr>
        <tr><td><b>Action</b></td><td>{{o.event_class.action}}</td></tr>
        {% for lang in o.event_class.text %}
        <tr>
            <td><b>{{lang}}</b></td>
            <td>
                <table border="0" width="100%">
                    {% for msg in o.event_class.text.lang %}
                    <tr>
                        <td class="labels"><b>msg</b></td>
                        <td>{{o.event_class.text.lang.msg}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <h2>Vars</h2>
    <table border="0" width="100%">
        <thead>
            <tr>
                <th class="labels">Name</th>
                <th class="types">Type</th>
                <th class="required">Required</th>
                <th>Description</th>
            </td>
        </thead>
        {% for v in o.event_class.vars %}
            <tr {% if not v.required %}class="optional"{% endif %}>
                <td><b>{{v.name}}</b></td>
                <td>{{v.type}}</td>
                <td>{{v.required|bool_icon}}</td>
                <td>{{v.description}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}