{% extends "popup.html"%}
{% load noctags %}
{% block content %}
<style>
.matched {
    color: #000000;
    background-color: #99ff99;
}

.mismatched {
    color: #000000;
    background-color: #ff6699;
}

.rest {
    color: #000000;
    background-color: #ffffcc;
}
</style>
<h1>Test Event</h1>
<form method="POST">
    <B>Event ID: </B>
    <input type="text" name="event" value="{{event}}" size="40"/>
    <input type="submit" value="Test" />
    {%  if not_found  %}
        Event not found!!!
    {%  else  %}
        {% if result %}{{result|bool_icon}} Matched {% endif %}
    {% endif %}
</form>
{% if r %}
    <div style="clear: both"></div>
    
    <table border="0" width="100%">
        <thead>
            <tr><th>Key</th><th>Value</th><th>Key RE</th><th>Value RE</th></tr>
        </thead>
        {% for s, k, v, pk, pv in r %}
        <tr class="{{s}}">
            <td style="border-right: 1px solid black;"><pre>{{k}}</pre></td>
            <td style="border-right: 5px double black;"><pre>{{v}}</pre></td>
            <td style="border-right: 1px solid black;"><pre>{{pk}}</pre></td>
            <td><pre>{{pv}}</pre></td>
        </tr>
        {% endfor %}
    </table>
    {% if rv %}
    <br/>
    <b>Extracted variables:</b>
    <table border="0">
    {% for k, v in rv.items %}
        <tr><td><b>{{k}}</b></td><td>{{v}}</td></tr>
    {% endfor %}
    </table>
    {% endif %}
{% endif %}
{% endblock %}