{% extends "popup.html"%}
{% load noctags %}
{% block content %}
<h1>Test regular expression</h1>
<form method="POST">
    <b>Expression: </b> <input type="text" name="rx" value="{{rx}}" size="150"/>
    <br/>
    <b>Paste test string:</b><br/>
    <div>
    <textarea name="value" rows="25" style="width: 50%; float: left; margin-right: 8px;">{% if value %}{{value}}{% endif %}</textarea>
    {% if value %}
        {{status|bool_icon}} <b>{%if status%}Matched{%else%}Not matched{% endif%}</b><br/>
        {% if vars %}
        <table border="0">
            {% for k, v in vars.items %}
                <tr><td><b>{{k}}:</b></td><td>{{v}}</td></tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not status %}
            <table border="0">
                <tr><td><b>Longest matched RE</b></td><td>{{longest_matched_re}}</td></tr>
                <tr><td><b>Longest matched string</b></td><td>{{longest_matched}}</td></tr>
            </table>
        {% endif %}
    {% endif %}
    </div>
    <div style="clear: both"></div>
    <input type="submit" value="Test" />
    <input type="submit" name="_update" value="Update Rule's Pattern" />
</form>

{% if to_reload %}
<script>
parent.location.reload();
</script>
{% endif %}
{% endblock %}