[Unit]
Description=High-performance, schema-free document-oriented database
Documentation=man:mongod(1)
After=syslog.target network.target

[Service]
Type=forking
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitRSS=infinity
LimitNPROC=64000
User={{ mongo_user }}
Group={{ mongo_user }}
PIDFile={{ mongo_arbiter_pid }}
Environment="OPTIONS= -f {{ mongo_dir }}/mongod-arbiter.conf"
ExecStart=/usr/bin/mongod $OPTIONS run

[Install]
WantedBy=multi-user.target
