file:
  {{ nats_config_path }}/nats-server.conf:
    exists: true
    mode: "0600"
    owner: {{ nats_user }}
    group: {{ nats_group }}
    filetype: file
    contains: []
service:
  nats-server:
    enabled: true
    running: true
process:
  nats-server:
    running: true
