- name: Install pgbouncer
  apt:
    name: pgbouncer
  environment:
    http_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Create pgbouncer directories
  file:
    path: "{{ item }}"
    owner: "{{ postgres_user }}"
    mode: 0700
    state: directory
  with_items:
    - /var/log/pgbouncer/
    - /var/run/pgbouncer/

- name: Install pgbouncer limits file
  template:
    src: "etc/security/limits.d/pgbouncer_limits.conf.j2"
    dest: "/etc/security/limits.d/pgbouncer_limits.conf"
  tags:
    - config

- name: create systemd override dir
  file:
    path: "/etc/systemd/system/pgbouncer.service.d/"
    state: directory
  tags:
    - config

#https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
#
# order will be by filenaming.
# /etc/systemd/system/pgbouncer.service.d/noc.conf
#[Service]
#LimitNOFILE=1000
# /etc/systemd/system/pgbouncer.service.d/override.conf
#[Service]
#LimitNOFILE=5000
#
- name: Install pgbouncer override.conf
  template:
    src: "etc/override.conf.j2"
    dest: "/etc/systemd/system/pgbouncer.service.d/noc.conf"
  tags:
    - config

- name: Install pgbouncer logrotated config
  template:
    src: "etc/pgbouncer.j2"
    dest: "/etc/logrotate.d/pgbouncer.conf"
  when: "'Linux' in ansible_system"
  notify: reload systemd
  tags:
    - config