{% extends "template.html" %}
{% block content %}
<H1>VRF:{{vrf}} {{prefix}} tools</H1>
<div class="module">
    <table width="100%">
        <caption>Download allocated IP addresses</caption>
        <tr><td>Download list of allocated IP addresses in CSV format</td></tr>
        <tr>
            <td>
                <form method="POST" action="{% url ip:tools:download_ip vrf.id afi prefix.prefix %}" id="download_ip">{% csrf_token %}
                    <input type="submit" value="Download IP addresses">
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table width="100%">
        <caption>Upload allocated IP addresses via Zone Transfer</caption>
        <tr><td>Upload list of allocated IP addresses from existing DNS servers via AXFR request</td></tr>
        <tr>
            <td>
                <div id="content-main">
                    <form method="POST" action="{% url ip:tools:upload_axfr vrf.id afi prefix.prefix %}">{% csrf_token %}
                        <div>
                            {% with upload_ips_axfr_form as form %}
                                {% include "includes/noc_fieldset.html" %}
                            {% endwith %}
                            <div class="submit-row" >
                                <input type="submit" value="Start zone transfer" class="default" name="_save" />
                            </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table width="100%">
        <caption>Rebase prefix</caption>
        <tr><td>Rebase prefix {{prefix}} and all nested prefixes, addresses and related permissions to a new location</td></tr>
        <tr>
            <td>
                <div id="content-main">
                    <form method="POST" action="{% url ip:tools:rebase vrf.id afi prefix.prefix %}">
                        {% with rebase_form as form %}
                            {% include "includes/noc_fieldset.html" %}
                        {% endwith %}
                        <div class="submit-row" >
                            <input type="submit" value="Rebase Prefix" class="default" name="_save" />
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
{%endblock%}
