// Color scheme
$color-clouds: #ecf0f1;
$color-concrete: #95a5a6;
$color-piter-river: #3498db;
$color-silver: #bdc3c7;
$color-asbestos: #7f8c8d;
$color-sun-flower: #f1c40f;
$color-wet-asphalt: #34495e;
$color-pomegranate: #c0392b;
$color-black: #232323;
$color-midnight-blue: #2c3e50;
$color-emerald: #2ecc71;
$color-white: #ffffff;

// Font
@include google-webfont(
	$font-name: PT Sans,
	$font-weight: 400, 400 italic, 700, 700 italic
);

$font-size-base: 13px;
$font-size-header: 20px;
$font-size-main-menu: 15px;
$font-size-small: 12px;

$font-weight-header: bold;

// Other
$border-radius: 5px;

// Global Ext Theme vars
$color: $color-black;
$font-size: $font-size-base;
$font-family: 'PT Sans', sans-serif;