[[inputs.procstat]]
pid_file = "{{ consul_pid_path }}"


{% if consul_power == 'bootstrap' %}
[[inputs.consul]]
  address = "consul:8500"
  token = "{{ consul_token }}"
  datacentre = "{{ consul_datacenter }}"
{% endif %}