---
- name: Consul tasks
  hosts: svc-consul-exec
  become: "True"
  any_errors_fatal: "False"
  serial: 50%
  gather_facts: "True"
  tags:
    - consul
  vars_files:
    - "../../vars/main.yml"
    - "../../vars/{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
    - "vars/{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"  
  roles:
    - role: consul
      when: consul_complete is not defined
  post_tasks:
    - name: set consul complete
      set_fact:
        consul_complete: "True"
