{% extends "template.html" %}
{% block content %}
<h1>Welcome to the NOC Project!</h1>

NOC Project is an Operation Support System (OSS) for telecom companies, service providers, and enterprise Network Operation Centers (<a href="http://en.wikipedia.org/wiki/Network_operations_center">NOC</a>). Areas covered by NOC include:
<ul>
    <li><a href="http://redmine.nocproject.org/wiki/noc/Service_Activation">service activation/provisioning</a></li>
    <li>multi-VRF <a href="http://redmine.nocproject.org/wiki/noc/IPAM">address space management (IPAM)</a></li>
    <li>multi-vendor <a href="http://redmine.nocproject.org/wiki/noc/Configuration_Management">configuration management</a></li>
    <li>fault management</li>
    <li>performance management</li>
    <li><a href="http://redmine.nocproject.org/wiki/noc/Virtual_Circuits_Management">VC management</a></li>
    <li>DNS provisioning</li>
    <li>knowledge base</li>
    <li>peering management</li>
    <li>RPSL and BGP filter generation</li>
    <li>and reporting.</li>
</ul>

NOC is open source and released under the terms of <a href="http://redmine.nocproject.org/wiki/noc/LICENSE">BSD LICENSE</a>

<h2>Getting started</h2>
<ul>
    <li><a href="http://redmine.nocproject.org/">Official site</a></li>
    <li><a href="/main/doc/nocbook/">Online documentation</a></li>
    <li>IRC: <a href="http://redmine.nocproject.org/projects/noc/irclog/">#nocproject.org at irc.freenode.net</a></li>
    <li><a href="http://www.linkedin.com/company/nocproject-org">NOC at linkedin.com</a></li>
</ul>

<a href="http://www.linkedin.com/company/nocproject-org?trk=fc_badge"><img src="/static/img/badges/linkedin_follow.png" locale="en" alt="nocproject.org on LinkedIn"></a>
{% endblock %}
