---
# File: config.yml - Consul configuration tasks

- name: Bootstrap configuration
  template:
    src: config_bootstrap.json.j2
    dest: "{{ item.dest }}"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
  no_log: "{{ tower_show_secrets }}"
  with_items:
    - dest: "{{ consul_config_path }}/config.json"
      when: "{{ consul_power == 'bootstrap' }}"
  when:
    - item.when
  notify:
    - restart consul
  tags:
    - config

- name: Server configuration
  template:
    src: config_server.json.j2
    dest: "{{ item.dest }}"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
  no_log: "{{ tower_show_secrets }}"
  with_items:
    - dest: "{{ consul_config_path }}/config.json"
      when: "{{ consul_power == 'server' }}"
  when:
    - item.when
  notify:
    - restart consul
  tags:
    - config

- name: Client configuration
  template:
    src: config_client.json.j2
    dest: "{{ item.dest }}"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
  no_log: "{{ tower_show_secrets }}"
  with_items:
    - dest: "{{ consul_config_path }}/config.json"
      when: "{{ consul_power == 'agent' }}"
  when:
    - item.when
  notify:
    - restart consul
  tags:
    - config

- name: Perfomance configuration
  template:
    src: perfomance.json.j2
    dest: "{{ consul_configd_path }}/perfomance.json"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
  when: "'prod' in noc_env_type"
  notify:
    - restart consul
  tags:
    - config

- name: setup resolv.conf
  lineinfile:
    line: "search service.{{ consul_datacenter }}.{{ consul_domain }}"
    dest: /etc/resolv.conf
    regexp: "^search.+"
  when: "'prod' in noc_env_type"
  tags:
    - config

# fight against thousands of time-wait connections. good enough reading http://fx-files.ru/archives/602
- name: Tune sysctl.conf for consul
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: "True"
  with_items:
    - { name: 'net.ipv4.tcp_tw_reuse', value: 1}
    - { name: 'net.ipv4.tcp_rfc1337', value: 1}
  tags:
    - config
  when:
    - "'Linux' in ansible_system"

# fight against thousands of time-wait connections.
# good enough reading https://vincent.bernat.im/en/blog/2014-tcp-time-wait-state-linux
# that one is dangerous
- name: Tune sysctl.conf for consul
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: "True"
  with_items:
    - { name: 'net.ipv4.tcp_tw_recycle', value: 1}
  tags:
    - config
  when:
    - "'Linux' in ansible_system"
    - "'prod' in noc_env_type"
    - " ansible_kernel.split('-') is version('4.1.0', '<')"
