---
- name: import path to control repo
  include_vars: "vars/{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"

# Read default value.
- name: Read key/value pair for key {{ consul_service_key }}
  consul_kv:
    key: "{{ consul_service_key }}"
    state: present
  vars:
    ansible_python_interpreter: "{{ consul_control_python }}"
  environment:
    ANSIBLE_JINJA2_NATIVE: true
  register: consul_key_response

# if default value is unset provide default json
# waiting for https://github.com/ansible/ansible/pull/32738
- name: init default if unset
  consul_kv:
    key: "{{ consul_service_key }}"
    value: "{{ service_tmpl | to_nice_json }}"
  vars:
    service_tmpl:
      Holders: []
      Limit: "{{ consul_service_value }}"
    ansible_python_interpreter: "{{ consul_control_python }}"
  environment:
    ANSIBLE_JINJA2_NATIVE: true
  when:
    - consul_key_response.data is defined
    - not consul_key_response.data or not consul_key_response.data.Value

# if json is already valid just update needed value
- name: Update a key/value pair for key {{ consul_service_key }}
  consul_kv:
    key: "{{ consul_service_key }}"
    value: "{{ consul_key_response.data.Value
            | from_json
            | combine({ consul_service_internal_key: consul_service_value })
            | to_nice_json
            }}"
    #token: "{{ consul_service_token }}"
  vars:
    ansible_python_interpreter: "{{ consul_control_python }}"
  environment:
    ANSIBLE_JINJA2_NATIVE: true
  when:
    - consul_key_response.data is defined
    - consul_key_response.data.Value is defined
    - consul_key_response.data.Value
