---
# File: main.yml - Handlers for Consul template

- name: reload systemd
  become: yes
  systemd:
    name: consul-template
    daemon_reload: yes

- name: restart consul-template
  become: yes
  service:
    name: consul-template
    state: restarted

- name: reload consul-template
  become: yes
  service:
    name: consul-template
    state: reloaded

- name: start consul-template
  become: yes
  service:
    name: consul-template
    enabled: yes
    state: started

