{% extends "app/tree/preview.html" %}
{% load noctags %}
{% block preview %}
<style>
    .sockets_table {
        margin-left: 20px;
    }
    .h_name {
        width: 70px;
    }
    .h_type {
        width: 200px;
    }
    .h_kind {
        width: 50px;
    }
    .h_range {
        width: 100px;
    }
    .h_x_range {
        border-left: 7px solid #c0c0c0;
    }
    .help_text {
        font-size: 8pt;
        padding: 4px;
        font-style: italic;
    }
</style>
<h2>Description</h2>
<table border="0">
    <tr class="row1">
        <td><b>Vendor:</b></td>
        <td><a href="{% url inv:vendor:preview o.vendor.id %}">{{o.vendor.name}}</a></td>
    </tr>
    <tr class="row2"><td><b>Model:</b></td><td>{{o.short_name}}</td></tr>
    <tr class="row1"><td><b>Is builtin?:</b></td><td>{{o.is_builtin|bool_icon}}</td></tr>
    <tr class="row2"><td><b>Description:</b></td><td>{{o.description}}</td></tr>
    <tr class="row1"><td><b>Part No.:</b></td><td>{{o.part_number}}</td></tr>
    <tr class="row2"><td><b>Part No. Aliases:</b></td><td>{{o.part_number_aliases|join:", "}}</td></tr>
</table>

{% with s_title="Outer" sockets=o.o_sockets direction="o"%}
    {% include "inv/apps/model/templates/sockets_table.html" %}
    {% if sockets %}
    <div class="help_text">
        Outer sockets allow to plug this model inside other ones.
        Outer sockets can only be connected to inner sockets of compatible type.
    </div>
    {% endif %}
{% endwith %}

{% with s_title="Inner" sockets=o.i_sockets  direction="i"%}
    {% include "inv/apps/model/templates/sockets_table.html" %}
    {% if sockets %}
    <div class="help_text">
        Inner sockets allow to plug other models inside this one.
        Inner sockets can only be connected to outher sockets of compatible type.
    </div>
    {% endif %}
{% endwith %}

{% with s_title="Connection" sockets=o.c_sockets  direction="c"%}
    {% include "inv/apps/model/templates/sockets_table.html" %}
    {% if sockets %}
    <div class="help_text">
        Connection sockets allow horizontal (one-range) connections
        between models. Connection sockets can only be connected to
        connections sockets of compatible types.
    </div>
    {% endif %}
{% endwith %}

{% endblock %}