{% if sockets %}
    <h2>{{s_title}} sockets</h2>
    <table border="0" class="sockets_table">
        <thead>
            <tr>
                <th class="h_name">Name</th>
                <th class="h_type">Type</th>
                <th class="h_kind">Kind</th>
                <th></th>
                <th class="h_range">Range</th>
                <th></th>
            </tr>
        </thead>
        {% for s in sockets %}
            <tr>
                <td>{{s.name}}</td>
                <td><a href="{% url inv:socket:preview s.type.id %}"{% if s.type.description %} title="{{s.type.description}}"{% endif %}>{{s.type.name}}</a></td>
                <td>
                    {% if s.type.has_gender %}
                        {% if s.kind == "F" %}
                            Female &#9792;
                        {% else %}
                            Male &#9794;
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a href="#" onclick="show_popup('Models can be connected', '{% url inv:model:connections direction s.type.id s.kind%}');" title="Click to see models can be connected"><img src="/media/img/admin/selector-addall.gif"/></a>
                </td>
                <td>{% if s.range %}{{s.range}}{% endif %}</td>
                {% if s.range %}
                    <td class="h_x_range">{{s.names|join:", "}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
