{% extends "popup.html" %}
{% block content %}
<style>
.h_label {
    width: 50px;
    font-weight: bold;
}
</style>
    <table width="100%">
        <tr><td class="h_label">MIB:</td><td><a href="{% url fm:mib:preview data.mib.id %}">{{data.mib.name}}</a></td></tr>
        <tr><td class="h_label">Name:</td><td>{{data.name}}</td></tr>
        <tr><td class="h_label">OID:</td><td>{{data.oid}}</td></tr>
        <tr><td class="h_label">Description:</td><td><pre>{{data.description}}</pre></tr>
        <tr><td class="h_label">Syntax:</td><td>{% for s in syntax %}{{s}}<br/>{% endfor %}</td></tr>
    </table>
{% endblock %}