{% extends "app/tree/preview.html" %}
{% load noctags %}
{% block preview %}
    <div class="module">
        <h2>{{o.name}} Summary</h2>
        <table border="0" width="100%">
            <tr><td style="width: 100px"><b>MIB:</b></td><td>{{o.name}}</td></tr>
            {% if o.description %}
                <tr><td><b>Description:</b></td><td><pre>{{o.description}}</pre></td></tr>
            {% endif %}
                <tr><td><b>Last revision:</b></td>
                    <td>
                        {{o.last_updated}}
                        {%  if o.version %}(Rev {{ o.version }}){% endif %}
                    </td></tr>
            {% if o.depends_on %}
            <tr>
                <td><b>Depends on:</b></td>
                <td>
                    {% for m in o.depends_on %}
                    <a href="{% url fm:mib:go "mib_name" m %}">{{m}}</a><br/>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% if o.depended_by %}
            <tr>
                <td><b>Depended by:</b></td>
                <td>
                    {% for m in o.depended_by %}
                    <a href="{% url fm:mib:go "mib_name" m.name %}">{{m.name}}</a><br/>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="module">
        <h2>{{o.name}} nodes</h2>
        <table width="100%">
            <thead>
                <tr><th>OID</th><th>Name</th><th>Description</th><th>Syntax</th></tr>
            </thead>
            {% for r in extra.data %}
            <tr class="{% cycle "row1" "row2" %}">
                <td style="padding-left: {{r.offset}}px;">{{r.oid}}</td>
                <td>{{r.name}}{% if r.aliases %}<br/><i>({{ r.aliases|join:", " }})</i>{% endif %}</td>
                <td>{% if r.description %}<pre>{{r.description}}</pre>{% endif %}</td>
                <td>{% for s in r.syntax %}{{s}}<br/>{% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}