{% extends "app/tree/tree.html" %}
{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
{% endblock %}
{% block extralower  %}
<div>
    <form id="lookup_form">
        <b>Lookup MIB:</b>
        <input type="text" name="lookup_field" />
    </form>
    
    <div id="lookup_result" style="display: none"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#lookup_form").ajaxForm({
        dataType: "json",
        success: function(data) {
            var $result = $("#lookup_result");
            if (data) {
                $result.html("<b>OID:</b> " + data["oid"] + " <b>Name:</b> " + data["name"]);
            } else {
                $result.html("Not found");
            }
            $result.show();
        },
        url: "{% url fm:mib:lookup_mib %}"
    });
});
</script>
{% endblock %}
