[flake8]
exclude=.git,var,share
# E203 whitespace before ':'
#    Conflicts with black formatting
# E231 missing whitespace after ','
#    Conflicts with black formatting
# E402 module level import not at top of file
#    Imports may be at the end of module to resolve circular references
# E501 line too long
#    Not a real bug
# W503 line break before binary operator
#    Not PEP8 compliant
ignore=E203,E231,E402,E501,W503
