[flake8]
exclude=.git,var,share
# E402 module level import not at top of file
#    Imports may be at the end of module to resolve circular references
# E501 line too long
#    Not a real bug
# F403 from xxx import *' used; unable to detect undefined names
#    Needs global refactoring, postponed for a while
# F405 'xxx' may be undefined, or defined from star imports: xxx
#    Needs global refactoring, postponed for a while
ignore=E402,E501,F403,F405
