syntax: glob
*.pyc
*.pyo
*.swp
*.orig
dist/
build/
noc.egg-info/
bin/*
etc/**
include/*
lib/
lib64
.*
!/.devcontainer/
!/.docker/*
!/.gitignore
!/.dockerignore*
!/.gitlab-ci.yml
!/.flake8
!/.coveragerc
!/.prettierrc
!/.requirements
!/scripts/build/
!/docs/blog/.authors.yml
!/.eslintrc.json
!/ui/.eslintrc.json
ext_*
static/test/
pip-selfcheck.json
var/
django/*
ui/pkg/
ansible/vars/local.yml
etc/etl.yml
speedup/*.c
speedup/*.so
ui/bi/**
ui/bi2/**
include
lib-python/
lib_pypy/
site-packages/
rust/Cargo.lock
rust/target/
docs/src/en/src/
docs/src/en/include/auto
docs/src/en/platforms/
scripts/build/web/node_modules
README.creole
pyvenv.cfg
ui/node_modules
ui/dist
ui/web/app-bundle.*
