syntax: glob
*.pyc
*.pyo
*.swp
*.orig
dist/
build/
noc.egg-info/
bin/*
etc/**
include/*
lib/
lib64
.*
!/.github/
!/.devcontainer/
!/.docker/*
!/.gitignore
!/.dockerignore*
!/.gitlab-ci.yml
!/.coveragerc
!/.prettierrc
!/.requirements
!/scripts/build/
!/docs/blog/.authors.yml
!/.eslintrc.json
!/ui/.eslintrc.json
!/tests/infra/docker/testdropbear/root/home/test/.ssh
!/tests/infra/docker/testsshd/root/home/test/.ssh
ext_*
static/test/
pip-selfcheck.json
var/
django/*
ui/pkg/
ansible/vars/local.yml
etc/etl.yml
ui/bi/**
ui/bi2/**
include
lib-python/
lib_pypy/
site-packages/
rust/Cargo.lock
rust/target/
docs/src/en/src/
docs/src/en/include/auto
docs/src/en/platforms/
scripts/build/web/node_modules
pyvenv.cfg
ui/.cache
ui/node_modules
ui/dist
ui/scripts/.env
ui/scripts/nginx.conf
ui/scripts/bundles/dist
ui/playwright-report