# ----------------------------------------------------------------------
# NOC Python requirements
# Following extras can be set:
# * activator
# * cache-redis
# * cache-memcached
# * classifier
# * cython
# * dev
# * login-ldap
# * login-pam
# * login-radius
# * prod-tools
# * supervisor
# * testing
# * sender-kafka
# ----------------------------------------------------------------------
# Copyright (C) 2007-2021 The NOC Project
# See LICENSE for details
# ----------------------------------------------------------------------

# Basic node requirements
Django==3.0.6
FastAPI==0.62.0
Jinja2==2.8
PyYAML==5.3.1
Pygments==2.2.0
XlsxWriter==0.9.3
atomicl==0.1.1
blinker==1.4
bsdiff4==1.2.0
cachetools==4.1.1
crontab==0.22.9
csiphash==0.0.5
demjson==2.2.4
fs==2.4.11
geojson==2.5.0
geopy==0.97
grpcio==1.35
http-parser==0.9.0
manhole==1.6.0
markerlib==0.6.0
mongoengine==0.20.0
markupsafe==2.0.1
networkx==2.5
numpy==1.19.3
orjson==3.4.1
progressbar2==3.53.1
protobuf==3.13.0
psycopg2==2.8.6
pydantic==1.7.1
pymongo==3.11.0
pynsq==0.9.0
pyproj==2.6.0
python-consul==1.1.0
python-creole==1.3.2
python-dateutil==2.8.1
python-jose[cryptography]==3.2.0
python-multipart==0.0.5
pytz==2020.1
requests==2.20.0
setproctitle==1.1.10
tornado==6.0.4
typing-extensions==3.7.4.3; python_version < '2.8'
uvicorn==0.12.3
yappi==1.3.0
# Activator requirements
ssh2-python==0.26.0; extra == "activator"
# Classifier
bitarray==0.8.1; extra == "classifier"
# Cache-Redis
hiredis==1.1.0; extra == "cache-redis"
redis==3.5.3; extra == "cache-redis"
# Cache-Memcached
pylibmc==1.5.1; extra == "cache-memcached"
# Dev requirements
Babel==2.3.4; extra == "dev"
ipython==7.18.1; extra == "dev"
pojson==0.7; extra == "dev"
# Login LDAP
ldap3==2.8.1; extra == "login-ldap"
# Login PAM
python-pam==1.8.4; extra == "login-pam"
# Login RADIUS
pyrad==2.0; extra == "login-radius"
# Standalone node with supervisor
supervisor==4.1.0; extra == "supervisor"
supervisor-serialrestart==0.1.1; extra == "supervisor"
# Additional prod tools
alerta==4.7.16; extra == "prod-tools"
sentry-sdk==0.16.5; extra == "prod-tools"
supervisor-wildcards==0.1.3; extra == "prod-tools"
# Test
Coverage[toml]==5.3; extra == "testing"
pytest==6.1.2; extra == "testing"
pytest-assume==2.3.3; extra == "testing"
pytest-dependency==0.5.1; extra == "testing"
# Cython
Cython==0.29.21; extra == "cython"
# Kafka
aiokafka==0.6.0; extra == "sender-kafka"
