.parents, .parents li {
    margin: 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}

.parents li:before {
    content: "\00a0";
}

.parents li:after {
    content: "\00a0\203a";
}

.freeip {
    font-style: italic;
    background-color: #CCCCCC;
    display: none;
}

td[class=nav-label] {
    font-weight: bold;
    vertical-align: center;
    width: 80px;
}

td[class=nav-form] {
    vertical-align: center;
    width: 120px;
}

/* Column widths */
th[class=status] {
    width: 1em;
}

th[class=ip] {
    width: 7em;
}

th[class=status] {
    width: 3em;
}

th[class=range] {
    width: 1em;
}

th[class=fqdn] {
    width: 17em;
}

th[class=mac] {
    width: 7em;
}

th[class=tt] {
    width: 5em;
}

th[class=gw] {
    width: 1em;
}

th[class=project] {
    width: 5em;
}

#ranges th[class=legend] {
    width: 1em;
}

#ranges th[class=name] {
    width: 17em;
}

#ranges th[class=address] {
    width: 7em;
}
