BODY {
    padding: 4px;
}

.parents, .parents li {
    margin: 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}

.parents li:before {
    content: "\00a0";
}

.parents li:after {
    content: "\00a0\203a";
}

.freeip {
    font-style: italic;
    background-color: #CCCCCC;
    display: none;
}

td[class=nav-label] {
    font-weight: bold;
    vertical-align: middle;
    width: 80px;
}

td[class=nav-form] {
    vertical-align: middle;
    width: 120px;
}

/* Column widths */
th[class=fav] {
    width: 1em;
}

th[class=status] {
    width: 1em;
}

th[class=ip] {
    width: 7em;
}

th[class=status] {
    width: 3em;
}

th[class=range] {
    width: 1em;
}

th[class=fqdn] {
    width: 17em;
}

th[class=usage] {
    width: 5em;
}

th[class=mac] {
    width: 7em;
}

th[class=tt] {
    width: 5em;
}

th[class=gw] {
    width: 1em;
}

th[class=project] {
    width: 5em;
}

th[class=ippoll-tg] {
    width: 12em;
}

th[class=ippool-name] {
    width: 7em;
}

th[class=ippool-type] {
    width: 5em;
}

th[class=ippool-from] {
    width: 7em;
}

th[class=ippool-to]
#ranges th[class=legend] {
    width: 1em;
}

#ranges th[class=name] {
    width: 17em;
}

#ranges th[class=address] {
    width: 7em;
}

.free-prefix {
    background-color: #ccc;
    font-style: italic;
}

#quickjump-form {
    display: inline-block;
}

.free-address {
    background-color: #ccc;
}

.free-address-sep {
    background-color: #ccc;
}

caption.module {
    font-weight: bold;
    font-size: 1.5em;
}

.description {
    padding-top: 4px;
}

.favorite {
    color:#f1c40f;
}
