{% extends "template/template.html" %}
{% block title%}{{rb.name}} | Reference Books{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><A HREF="/">Home</A> &rsaquo; <a href="/main/refbook/">Reference Books</a> &rsaquo; {{rb.name}} &rsaquo;</div>
{% endblock %}
{% block content %}
<h1>{{rb.name}}</h1>
{% if can_edit %}
<script type="text/javascript">
function on_edit(x,record_id) {
    var i=0;
    $(x).parent().parent().children().each(function(){
        var t=$(this);
        if(t.hasClass("edit_link")) {
            t.html("<td><input type='hidden' name='record_id' value='"+record_id+"' /><input type='submit' value='save' /></td>")
        } else {
            t.html("<td><input type='text' value='"+t.html()+"' name='field_"+i+"'/></td>");
            i+=1;
        }
    });
}
</script>
<div class="module filtered" id="changelist">
{% if rb.can_search %}
<div id="toolbar">
    <form id="changelist-search" action="/main/refbook/{{rb.id}}/" method="get">
        <div>
            <input type="hidden" name="page" value="{{page}}" />
            <label for="searchbar"><img src="/media/img/admin/icon_searchbox.png" alt="Search" /></label>
            <input type="text" size="40" name="query" value="{{query}}" id="searchbar" />
            <input type="submit" value="Go" />
        </div>
    </form>
</div>
{% endif %}
<form method="post" action="/main/refbook/{{rb.id}}/?page={{page}}" id="form">
{% endif %}
<table border="0">
    <thead>
    <tr>
    {% for f in rb.refbookfield_set.all %}<th>{{f.name}}</th>{% endfor %}
    {% if can_edit %}<th></th>{% endif %}
    </tr>
    </thead>
    {% for d in object_list %}
    <tr class="{%cycle 'row1' 'row2'%}">
        {% for c in d.value %}
        <td>{{c}}</td>
        {% endfor %}
        {% if can_edit %}
        <td class='edit_link'><a onclick="on_edit(this,{{d.id}});">edit</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% if can_edit %}
</form>
{% endif %}

</div>

{% load paginator %}
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}

{% if can_edit %}
<h2>Add new record</h2>
<form method="post" action="/main/refbook/{{rb.id}}/?page={{page}}" id="form">
<table border="0">
    <thead>
    <tr>
    {% for f in rb.refbookfield_set.all %}<th>{{f.name}}</th>{% endfor %}
    <th></th>
    </tr>
    </thead>
    <tr>
        {% for f in rb.refbookfield_set.all %}<td><input type="text" name="field_{{forloop.counter0}}"/></td>{% endfor %}
        <td><input type="hidden" name="record_id" value="0"/><input type="submit" value="Add"/></td>
    </tr>
</table>
</form>
{% endif %}
{% endblock %}
