{% extends "template/template.html" %}
{% block title%}{{rb.name}} | Reference Books{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><A HREF="/">Home</A> &rsaquo; <a href="/main/refbook/">Reference Books</a> &rsaquo; {{rb.name}} &rsaquo;</div>
{% endblock %}
{% block content %}
<h1>{{rb.name}}</h1>

<table border="0">
    <thead>
    <tr>
    {% for f in rb.refbookfield_set.all %}<th>{{f.name}}</th>{% endfor %}
    </tr>
    </thead>
    {% for d in object_list %}
    <tr class="{%cycle 'row1' 'row2'%}">
        {% for c in d.value %}
        <td>{{c}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% load paginator %}
{% if is_paginated %}<div class="paginator">{% paginator %}</div>{% endif %}
{% endblock %}
