---
- name: reload systemd
  become: yes
  systemd:
    name: nginx
    daemon_reload: yes

- name: reload nginx
  become: yes
  service:
    name: "{{ nginx_system_service }}"
    state: reloaded

- name: reload telegraf
  become: yes
  service:
    name: telegraf
    state: reloaded

- name: reload consul
  become: yes
  service:
    name: consul
    state: reloaded
  when: "'Linux' in ansible_system"

- name: freebsd reload consul
  become: yes
  service:
    name: consul
    state: restarted
  when: "'FreeBSD' in ansible_system"