@import "@cssPkg/extjs/packages/charts/classic/classic/resources/charts-all.css";
@import "@cssWeb/extjs.css";
@import "@cssWeb/ux.css";
@import "@cssWeb/colors.css";
@import "@cssPkg/fontawesome/css/font-awesome.min.css";
@import "@cssPkg/joint/joint.min.css";
@import "../node_modules/leaflet/dist/leaflet.css";
/* self made css */
@import "@cssPkg/monaco/monaco.css";