---
- name: Install FreeBSD system packages
  pkgng:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - postgresql{{ postgres_version|replace(".","") }}-client
      - python2
      - py27-virtualenv
      - curl
      - libffi
      - libmemcached
      - git
      - zstd
  tags:
    - requirements

- name: Install supervisord init script
  template:
    src: "os/FreeBSD/etc/rc.d/noc.j2"
    dest: "/usr/local/etc/rc.d/{{ noc_system_service }}"
    mode: "a+rx"
