---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Install notebook monitoring
  template:
    src: "etc/telegraf/telegraf.d/notebook.conf.j2"
    dest: "{{etc_prefix}}/telegraf/telegraf.d/notebook.conf"
  notify: reload telegraf
  tags:
    - config
    - telegraf

- name: Install packages
  pip:
    chdir: "{{noc_root}}"
    requirements: "requirements/notebook.txt"
    virtualenv: "{{noc_root}}"
    extra_args: "--trusted-host cdn.getnoc.com --find-links https://cdn.getnoc.com/npkg/simple/ --allow-all-external --upgrade"
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"

- name: Create notebook directories
  file: path="{{ noc_root }}/{{ item }}" owner="{{ noc_user }}" mode=0700 state=directory
  with_items:
    - etc/jupyter
    - etc/jupyter/profile_default
    - etc/jupyter/profile_default/startup
    - var/notebooks
    - var/jupyter
    - var/jupyter/runtime

- name: Set up configs
  template:
    src: "{{ item }}"
    dest: "{{ noc_root }}/{{ item[:-3] }}"
  with_items:
    - etc/jupyter/jupyter_notebook_config.py.j2
    - etc/jupyter/profile_default/ipython_kernel_config.py.j2
    - etc/jupyter/profile_default/startup/00-logging.py.j2
  tags:
    - config