---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Install packages
  pip: >
    chdir="{{noc_root}}"
    executable="{{noc_root}}/bin/pip"
    requirements="requirements/notebook.txt"
    virtualenv="{{noc_root}}"
    extra_args="--trusted-host cdn.nocproject.org --find-links https://cdn.nocproject.org/pkg/simple/ --allow-all-external --upgrade"

- name: Create notebook directories
  file: path="{{ noc_root }}/{{ item }}" owner="{{ noc_user }}" mode=0700 state=directory
  with_items:
    - etc/jupyter
    - etc/jupyter/profile_default
    - etc/jupyter/profile_default/startup
    - var/notebooks
    - var/jupyter
    - var/jupyter/runtime

- name: Set up configs
  template: src="{{ item }}" dest="{{ noc_root }}/{{ item[:-3] }}"
  with_items:
    - etc/jupyter/jupyter_notebook_config.py.j2
    - etc/jupyter/profile_default/ipython_kernel_config.py.j2
    - etc/jupyter/profile_default/startup/00-logging.py.j2
