---
- name: include nsqd os specific tasks
  include: "os/{{ ansible_distribution }}/main.yml"

- name: Install nsqd monitoring
  template:
    src: "etc/telegraf/telegraf.d/nsqd.conf.j2"
    dest: "{{etc_prefix}}/telegraf/telegraf.d/nsqd.conf"
  notify: reload telegraf
  tags:
    - config
    - telegraf



- name: install nsqd config
  template:
    src: etc/config/nsqd.conf.j2
    dest: "{{noc_root}}/var/etc/nsq/nsqd.conf"
  notify: restart nsqd
  tags:
    - config

- name: Enable nsq system service
  service:
    name: "nsqd"
    enabled: yes
    state: started