---
- name: Prepare
  hosts: all
  gather_facts: false
  become: true
  tasks:
    #    - name: expose vars to playbook
    #      set_fact:
    #        use_cache: "{{ lookup('env','USE_CACHE') or True | bool }}"
    - name: Check if not python2 on host
      raw: test -e /usr/bin/python || (apt -qy update && apt install -y python-minimal)
      when: molecule_yml.platforms[0].distr is match("ubuntu.*|debian.*")

#    - name: download caches
#      import_tasks: cache_download.yml
#      when: use_cache
