---
- name: Prepare
  hosts: all
  gather_facts: false
  become: true
  tasks:
    #    - name: expose vars to playbook
    #      set_fact:
    #        use_cache: "{{ lookup('env','USE_CACHE') or True | bool }}"

    - name: Install Python in Ubuntu
      raw: apt -y update && apt install -y python-minimal
      when: molecule_yml.platforms[0].distr is match("ubuntu.*")

#    - name: download caches
#      import_tasks: cache_download.yml
#      when: use_cache
