version: '2'
services:
  build_coffee:
    image: freeseacher/node:latest
    working_dir: /code
    command: coffee -c .
    volumes:
      - ./src/:/code

  build_sencha:
    image: freeseacher/sencha:6.1.3.42
    command: app build production
    working_dir: /code
    depends_on:
      - build_coffee
    volumes:
      - ./workspace:/code
      - ../../report:/code/build/
      - ./src/app:/code/app
      - ./src/sass:/code/sass
      - ./src/packages:/code/packages
      - ./src/app.js:/code/app.js
      - ./src/app.json:/code/app.json
    volumes_from:
      - ext

  work_sencha:
      image: freeseacher/sencha:6.1.3.42
      command: app watch
      working_dir: /code
      ports:
        - 1841:1841
      volumes:
        - ./workspace:/code
        - ../../report:/code/build/
        - ./src/app:/code/app
        - ./src/sass:/code/sass
        - ./src/packages:/code/packages
        - ./src/app.js:/code/app.js
        - ./src/app.json:/code/app.json
      volumes_from:
        - ext

  ext:
    image: freeseacher/ext:6.0.1
    command: test
