[Unit]
Description=NATS Server
Requires=network-online.target
After=network-online.target

[Service]
User={{ nats_user }}
Group={{ nats_group }}
PIDFile={{ nats_pid_path }}
PermissionsStartOnly=true
Restart=on-failure
RestartSec=42s
Type=simple
ExecStart={{ nats_bin_path }}/nats-server -c {{ nats_config_path }}/nats-server.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
