{% extends "template/template.html" %}
{% block content %}
<h1>DNS Zones</h1>
{% ifequal zonetype "F" %}
<B>Forward</B> <A HREF="/dns/type/R/">Reverse</A>
{% else %}
<A HREF="/dns/type/F/">Forward</A> <B>Reverse</B>
{% endifequal %}
<TABLE BORDER="1">
    <TR><TH>Zone</TH><TH>Description</TH><TH></TH></TR>
    {% for z in zones %}
        <TR>
            <TD>{{z.name}}</TD>
            <TD>{{z.description}}</TD>
            <TD><A HREF="/dns/{{z.name}}/zone/">Zone</A></TD>
        </TR>
    {% endfor %}
</TABLE>
{%endblock%}