---
- name: Add MongoDB repository
  yum_repository:
    name: mongodb
    description: MongoDB Repository
    baseurl: https://repo.mongodb.org/yum/redhat/{{ ansible_distribution_major_version }}/mongodb-org/{{ mongo_version }}/x86_64/
    gpgcheck: yes
    gpgkey: https://www.mongodb.org/static/pgp/server-{{ mongo_version }}.asc
    enabled: yes
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Disable Transparent Hugepages (runtime)
  shell: if test -f /sys/kernel/mm/transparent_hugepage/enabled; then
            echo never > /sys/kernel/mm/transparent_hugepage/enabled;
            echo never > /sys/kernel/mm/transparent_hugepage/defrag;
         fi
  notify: restart mongod

- name: Install MongoDB
  yum:
    name: mongodb-org
    state: present
    update_cache: yes
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"

- name: Copy mongod service file
  template:
    src:  etc/systemd/system/mongod.service.j2
    dest: /etc/systemd/system/mongod.service
  register: mongod_service
  notify: restart mongod

- name: Copy systemd tmpfile
  template:
    src: etc/tmpfiles.d/mongo.conf.j2
    dest: /etc/tmpfiles.d/mongo.conf

- include: "arbiter.yml"
  when: "has_svc_mongo_arbiter | default(False)"

- name: Reload systemd daemon
  command: /usr/bin/systemctl daemon-reload
  when: mongod_service.changed

- name: Enable custom systemd service
  command: /usr/bin/systemctl enable mongod