package:
{% if ansible_distribution in ['RedHat', 'CentOS'] %}
  libssh2:
    installed: true
{% elif ansible_distribution in ['Debian', 'Ubuntu'] %}
  libssh2-1:
    installed: true
{% endif %}
command:
  {{ noc_root }}/bin/pip freeze | grep -e pylibssh2 -e ssh2-python:
    exit-status: 0
    stdout:
    - /(pylibssh2.+|ssh2-python.+)/
    stderr: []
    timeout: 10000
  {{ noc_root }}/noc ctl status |grep activator:
    exit-status: 0
    stdout:
    - /activator-.+RUNNING/
    stderr: []
    timeout: 10000
