file:
  {{ noc_root }}:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
    contains: []
  {{ noc_root }}/.env:
    exists: true
    mode: "0644"
    owner: {{ noc_user }}
    group: {{ noc_group }}
    filetype: file
    contains:
    - NOC_CONFIG="{{ config_order }}"
  {{ noc_root }}/etc/noc_services.conf:
    exists: true
    mode: "0640"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ noc_root }}/etc/supervisord.conf:
    exists: true
    mode: "0640"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ noc_root }}/etc/tower.yml:
    exists: true
    mode: "0640"
    owner: {{ noc_user }}
    group: {{ noc_group }}
    filetype: file
    contains: []
  {{ noc_root }}/lib/python:
    exists: true
    mode: "0755"
    group: root
    filetype: directory
    contains: []
  {{ noc_root }}/lib/python/site-packages/noc.pth:
    exists: false
    mode: "0644"
    owner: root
    group: root
    filetype: file
service:
  noc:
    enabled: true
    running: true
