file:
  {{ noc_root }}:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
    contains: []
  {{ noc_root }}/.env:
    exists: true
    mode: "0644"
    owner: {{ noc_user }}
    group: {{ noc_group }}
    filetype: file
    contains:
    - NOC_CONFIG="{{ config_order }}"
  {{ noc_root }}/etc/noc_services.conf:
    exists: true
    mode: "0640"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ noc_root }}/etc/supervisord.conf:
    exists: true
    mode: "0640"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ noc_root }}/etc/tower.yml:
    exists: true
    mode: "0640"
    owner: {{ noc_user }}
    group: {{ noc_group }}
    filetype: file
    contains: []
  {{ noc_root }}/lib/python:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
    contains: []
  {{ noc_root }}/lib/python/site-packages/noc.pth:
    exists: true
    mode: "0644"
    owner: root
    group: root
    filetype: file
    contains:
    - import os; os.environ['DJANGO_SETTINGS_MODULE'] = 'noc.settings'
    - {{ noc_root }}
{% if noc_custom_path is defined %}
    - {{ noc_custom_path }}
{% endif %}
  {{ noc_root }}/lib/python/site-packages/sitecustomize.py:
    exists: true
    mode: "0644"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ noc_root }}/lib/python2.7:
    exists: true
    mode: "0777"
    owner: root
    group: root
    linked-to: python
    filetype: symlink
    contains: []
  {{ noc_etc }}/activator.conf:
    exists: false
  {{ noc_etc }}/bi.conf:
    exists: false
  {{ noc_etc }}/card.conf:
    exists: false
  {{ noc_etc }}/chwriter.conf:
    exists: false
  {{ noc_etc }}/classifier.conf:
    exists: false
  {{ noc_etc }}/correlator.conf:
    exists: false
  {{ noc_etc }}/discovery.conf:
    exists: false
  {{ noc_etc }}/escalator.conf:
    exists: false
  {{ noc_etc }}/grafanads.conf:
    exists: false
  {{ noc_etc }}/login.conf:
    exists: false
  {{ noc_etc }}/mailsender.conf:
    exists: false
  {{ noc_etc }}/mrt.conf:
    exists: false
  {{ noc_etc }}/notebook.conf:
    exists: false
  {{ noc_etc }}/notifier.conf:
    exists: false
  {{ noc_etc }}/ping.conf:
    exists: false
  {{ noc_etc }}/sae.conf:
    exists: false
  {{ noc_etc }}/scheduler.conf:
    exists: false
  {{ noc_etc }}/sync.conf:
    exists: false
  {{ noc_etc }}/syslogcollector.conf:
    exists: false
  {{ noc_etc }}/tgsender.conf:
    exists: false
  {{ noc_etc }}/trapcollector.conf:
    exists: false
  {{ noc_etc }}/web.conf:
    exists: false
service:
  noc:
    enabled: true
    running: true
command:
{% if noc_env_type == 'prod' %}
  {{ noc_root }}/bin/pip freeze | grep raven:
    exit-status: 0
    stdout:
    - raven==6.1.0
    stderr: []
    timeout: 10000
{% endif %}
  {{ noc_root }}/bin/pip freeze | grep supervisor:
    exit-status: 0
    stdout:
    - supervisor==3.3.1
{% if noc_env_type == 'prod' %}
    - supervisor-serialrestart==0.1.1
    - supervisor-wildcards==0.1.3
{% endif %}
    stderr: []
    timeout: 10000
  {{ noc_root }}/bin/pip freeze | grep tornado:
    exit-status: 0
    stdout:
    - tornado==4.5
    stderr: []
    timeout: 10000
  {{ noc_root }}/bin/python -c 'import sys;print sys.getdefaultencoding()':
    exit-status: 0
    stdout:
    - utf-8
    stderr: []
    timeout: 10000
  cd {{ noc_root }}/; git status -sb:
    exit-status: 0
    stdout:
    - '!/\?\?\\s/'
    - '!/\\sM/'
    stderr: []
    timeout: 10000
{#  consul catalog nodes -service=nsqd -near=_agent|sed -n 2p|cut -f1 -d " ":#}
{#    exit-status: 0#}
{#    stdout:#}
{#    - {{ ansible_host }}#}
{#    stderr: []#}
{#    timeout: 10000#}
