command:
  {{noc_root}}/noc ctl status |grep syslogcollector:
    exit-status: 0
    stdout:
    - /syslogcollector-.+RUNNING/
    stderr: []
    timeout: 10000
  /sbin/iptables-save | grep "dport 514":
    exit-status: 0
    stdout:
    - /ACCEPT/
    stderr: []
    timeout: 10000
port:
  udp:514:
    listening: true
    ip:
    - 0.0.0.0
