command:
  {{ noc_root }}/noc ctl status |grep syslogcollector:
    exit-status: 0
    stdout:
    - /syslogcollector-.+RUNNING/
    stderr: []
    timeout: 10000
{% if molecule_yml is not defined %}
{% if syslogcollector_permit_firewall | bool %}
  /sbin/iptables-save | grep "dport 514":
    exit-status: 0
    stdout:
    - /ACCEPT/
    stderr: []
    timeout: 10000
{% endif %}
{% endif %}
port:
  udp:514:
    listening: true
    ip:
    - 0.0.0.0
