command:
  {{ noc_root }}/noc ctl status |grep trapcollector:
    exit-status: 0
    stdout:
    - /trapcollector-.+RUNNING/
    stderr: []
    timeout: 10000
{% if molecule_yml is not defined %}
{% if trapcollector_permit_firewall | bool %}
  /sbin/iptables-save | grep "dport {{ trapcollector_listen.split(':')[1] }}":
    exit-status: 0
    stdout:
    - /ACCEPT/
    stderr: []
    timeout: 10000
{% endif %}
{% endif %}
port:
  udp:162:
    listening: true
    ip:
    - 0.0.0.0
