{% extends "template.html" %}
{% load tags %}
{% block content %}
<h1>Items tagged as '{{tag.name}}'</h1>
{% for t,il in items %}
    <div class="module">
        <table summary="{{t}}" width="100%">
            <caption>{{t}}</caption>
            {% for i in il %}
                <tr class="{%cycle 'row1' 'row2'%}">
                    <td style="width: 200px"><a href="{{i.get_absolute_url}}">{{i}}</a></td>
                    <td>{% tags i %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}
{% endblock %}
