---
- name: "Fail if Python version for download is not recommended"
  fail:
    msg: |
      In case if system doesn't have system Python of chosen version {{ noc_py3_ver }},
      we recommend to use last supported for that release: https://getnoc.com/blog/
  when: noc_py3_ver == "3.7"

- name: Create dirs for Python's archives
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ noc_dist }}"
    - "/opt/python{{ noc_py3_ver }}"

- name: "Python{{ noc_py3_ver }} | Download archive's checksum"
  get_url:
    url: "{{ noc_python_url ~ '_SHA1SUMS' }}"
    dest: "{{ noc_dist }}"
    force: true
  environment:
    https_proxy: "{{ http_proxy }}"
    http_proxy: "{{ http_proxy }}"

- name: "Python{{ noc_py3_ver }} | Read checksum"
  slurp:
    src: "{{ noc_dist }}/python{{ py_rel_name }}.tar.gz_SHA1SUMS"
  register: python_checksum

- name: "Python{{ noc_py3_ver }} | Download precompiled archive"
  get_url:
    url: "{{ noc_python_url }}"
    dest: "{{ noc_dist }}/Python-{{ py_rel_name }}.tar.gz"
    checksum: "sha1:{{ python_checksum['content'] | b64decode }}"
  register: python_archive_download
  environment:
    https_proxy: "{{ http_proxy }}"
    http_proxy: "{{ http_proxy }}"

- name: "Python{{ noc_py3_ver }} | Uncompress"
  unarchive:
    src: "{{ noc_dist }}/Python-{{ py_rel_name }}.tar.gz"
    dest: "/opt/python{{ noc_py3_ver }}/"
    creates: "/opt/python{{ noc_py3_ver }}/Python-{{ py_rel_name }}"
    remote_src: true
  when: python_archive_download is changed

- name: Take path for Python3
  set_fact:
    noc_init_python_path: "/opt/python{{ noc_py3_ver }}/bin/python{{ noc_py3_ver }}"
