{
  "id": 1862616214,
  "title": "{{device}}",
  "tags": ["{{pool}}"],
  "style": "dark",
  "timezone": "browser",
  "refresh": "15m",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [ "5m","10m","15m"],
    "time_options": ["1h","3h","6h","12h","24h","2d","7d"]
  },
  "templating": {
    "list": [
      {% include "template_discovery_interval.j2" with context -%},
      {% include "template_bi_id.j2" with context -%},
      {% include "template_ping_interval.j2" with context -%}
    ]
  },
  "schemaVersion": 12,
  "version": 33,
  "gnetId": null,
  "rows": [
    {%if sfp_types %}
    {
      "collapse": false,
      "editable": false,
      "height": "250px",
      "showTitle": true,
      "internal_comment": "info_row",
      "title": "{{ extra_vars.model }}",
      "panels": [
          {% include "panel_sfp.j2" with context -%}
      ]
    }
    {% endif %}

    {%if port_types %}

        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "title": "Interface: {{port_types.port.name}} Profile: {{port_types.name}}",
          "internal_comment": "port_row",
          "panels": [
                {%if "load_in" in port_types.metrics or "load_out" in port_types.metrics  %}
                  {% from "graph_interface_card_load.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "packets_in" in port_types.metrics or "packets_out" in port_types.metrics  %}
                  {% from "graph_interface_card_pps.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "multicast_in" in port_types.metrics or "multicast_out" in port_types.metrics  %}
                  {% from "graph_interface_card_multicast.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "broadcast_in" in port_types.metrics or "broadcast_out" in port_types.metrics  %}
                  {% from "graph_interface_card_broadcast.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "errors_out" in port_types.metrics or "errors_in" in port_types.metrics %}
                  {% from "graph_interface_card_error.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "discards_in" in port_types.metrics or "discards_out" in port_types.metrics %}
                  {% from "graph_interface_card_discards.j2" import interface -%}
                {{interface(port_types)}},
                {% endif %}
                {%if "poe_oper_status" in port_types.metrics %}
                  {% from "graph_interface_poe_operstatus.j2" import interface -%}                  
                {{interface(port_types)}},
                {% endif %}
                {%if "poe_power" in port_types.metrics %}
                  {% from "graph_interface_poe_power.j2" import interface -%}                  
                {{interface(port_types)}},
                {% endif %}
              ]
            }
    {%endif%}
    {%if radio_types %}
    ,
        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "title": "Radio: {{radio_types.port.name}} Profile: {{radio_types.name}}",
          "internal_comment": "radio_row",
          "panels": [
                {%if "tx_power" in radio_types.metrics or "rx_power" in radio_types.metrics %}
                  {% from "graph_interface_card_radio_power.j2" import interface -%}
                  {{interface(radio_types)}},
                {% endif %}

                {%if "rssi" in radio_types.metrics or "cinr" in radio_types.metrics %}
                  {% from "graph_interface_card_radio_rssicnri.j2" import interface -%}
                  {{interface(radio_types)}},
                {% endif %}

                {%if "signal_level" in radio_types.metrics or "noise_level" in radio_types.metrics %}
                  {% from "graph_interface_card_radio_level.j2" import interface -%}
                  {{interface(radio_types)}},
                {% endif %}

                {%if "mcs" in radio_types.metrics %}
                  {% from "graph_radio_mcs.j2" import interface -%}
                  {{interface(radio_types)}},
                {% endif %}
              ]
            }
    {%endif%}
    {%if sfp_types %}
    ,
        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "title": "Interface: {{sfp_types.port.name}} Profile: {{sfp_types.name}}",
          "internal_comment": "sfp_row",
          "panels": [
                {%if "optical_tx_dbm" in sfp_types.port.metrics or "optical_rx_dbm" in sfp_types.port.metrics %}
                  {% from "graph_interface_card_dom_txrx.j2" import interface -%}
                  {{interface(sfp_types)}},
                 {% endif %}
                 {%if"voltage_v" in sfp_types.port.metrics %}
                  {% from "graph_interface_card_dom_voltage.j2" import interface -%}
                  {{interface(sfp_types)}},
                 {% endif %}
                 {%if"temp_c" in sfp_types.port.metrics %}
                  {% from "graph_interface_card_dom_temp.j2" import interface -%}
                  {{interface(sfp_types)}},
                {% endif %}
                {%if"current_ma" in sfp_types.port.metrics %}
                  {% from "graph_interface_card_dom_current.j2" import interface -%}
                  {{interface(sfp_types)}},
                {% endif %}
              ]
            }
    {%endif%}
  ]
}
