{
  "id": "e3be24d6-8d7e-4b91-9d0a-3a7254bc0d27",
  "title": "Link {{device_a}} - {{device_b}}",
  "tags": ["{{pool}}"],
  "style": "dark",
  "timezone": "browser",
  "refresh": "15m",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5m",
      "10m",
      "15m"
    ],
    "time_options": [
      "1h",
      "3h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d"
    ]
  },
  "templating": {
    "list": [
      {
        "current": {
          "text": "{{bi_id_a}}",
          "value": "{{bi_id_a}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "bi_id_a",
        "options": {
          "text": "{{bi_id_a}}",
          "value": "{{bi_id_a}}"
        },
        "query": "{{bi_id_a}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{bi_id_b}}",
          "value": "{{bi_id_b}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "bi_id_b",
        "options": {
          "text": "{{bi_id_b}}",
          "value": "{{bi_id_b}}"
        },
        "query": "{{bi_id_b}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{device_a}}",
          "value": "{{device_a}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "device_a",
        "options": {
          "text": "{{device_a}}",
          "value": "{{device_a}}"
        },
        "query": "{{device_a}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{device_b}}",
          "value": "{{device_b}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "device_b",
        "options": {
          "text": "{{device_b}}",
          "value": "{{device_b}}"
        },
        "query": "{{device_b}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{interface_a.descr}}",
          "value": "{{interface_a.name}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "label": "A",
        "multi": false,
        "name": "interface_a",
        "options": [
          {
            "text": "{{interface_a.descr}}",
            "value": "{{interface_a.name}}"
          }
        ],
        "query": "{{interface_a.name}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{interface_b.descr}}",
          "value": "{{interface_b.name}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "label": "B",
        "multi": false,
        "name": "interface_b",
        "options": [
           {
            "text": "{{interface_b.descr}}",
            "value": "{{interface_b.name}}"
          }
        ],
        "query": "{{interface_b.name}}",
        "refresh": 0,
        "type": "custom"
      }
    ]
  },
  "annotations": {
    "list": [
      {
        "datasource": "NocDS",
        "enable": false,
        "iconColor": "rgba(255, 96, 96, 1)",
        "name": "Alarms A",
        "query": "{{device_a_id}}"
      },
      {
        "datasource": "NocDS",
        "enable": false,
        "iconColor": "rgba(255, 96, 96, 1)",
        "name": "Alarms B",
        "query": "{{device_b_id}}"
      }
    ]
  },
  "schemaVersion": 12,
  "version": 33,
  "links": [
    {
      "icon": "doc",
      "includeVars": true,
      "keepTime": true,
      "tags": [],
      "targetBlank": true,
      "type": "link",
      "title": "png",
      "tooltip": "png",
      "url": "/ui/grafana/render/dashboard/script/noc.js?width=1800&dashboard=link&id={{link_id}}"
    },
    {
      "icon": "external link",
      "includeVars": true,
      "keepTime": true,
      "tags": [
        "{{pool}}"
      ],
      "targetBlank": true,
      "type": "dashboards"
    },
    {
      "asDropdown": true,
      "icon": "external link",
      "includeVars": true,
      "tags": [
        "SYSTEM"
      ],
      "targetBlank": true,
      "type": "dashboards"
    }
  ],
  "gnetId": null,
  "rows": [
    {
      "title": "Errors",
      "showTitle": true,
      "collapse": false,
      "editable": true,
      "height": "60px",
      "panels": [
        {% from "graph_interface_errors.j2" import errors -%}
        {% from "graph_interface_discards.j2" import discards -%}
        {{errors("$interface_a", "$bi_id_a", "$device_a", 1)}},
        {{discards("$interface_a", "$bi_id_a", "$device_a", 2)}},
        {{errors("$interface_b", "$bi_id_b", "$device_b", 3)}},
        {{discards("$interface_b", "$bi_id_b", "$device_b", 4)}}
      ]
    },
    {
      "title": "LOAD",
      "showTitle": true,
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {% from "graph_interface_load_simple.j2" import interface -%}
        {{interface("$interface_a", "$bi_id_a", "$device_a", 5)}},
        {{interface("$interface_b", "$bi_id_b", "$device_b", 6)}}
        ]
    },
    {
      "title": "PPS",
      "showTitle": true,
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {% from "graph_interface_pps.j2" import pps -%}
        {{pps("$interface_a", "$bi_id_a", "$device_a", 7)}},
        {{pps("$interface_b", "$bi_id_a", "$device_b", 8)}}
      ]
    }
  ]
}
