{
  "id": 2315521122522621,
  "title": "{% set comma = joiner(" ") -%}{% for o in container_path %}{{ comma() }}{{ o.name }}{% endfor %}",
  "tags": ["{{pool}}"],
  "style": "dark",
  "timezone": "browser",
  "refresh": "15m",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": ["5m","10m","15m"],
    "time_options": ["1h","3h","6h","12h","24h","2d","7d"]
  },
  "templating": {
    "list": [
      {% include "template_resolved_bi_id.j2" with context -%}
    ]
  },
  "annotations": {},
  "schemaVersion": 12,
  "version": 33,
  "links": [
    {
      "icon": "doc",
      "includeVars": true,
      "keepTime": true,
      "tags": [],
      "targetBlank": true,
      "type": "link",
      "title": "png",
      "tooltip": "png",
      "url": "/ui/grafana/render/dashboard/script/noc.js?width=1800&dashboard=container&id={{ container_id }}"
    },
    {
      "icon": "external link",
      "includeVars": true,
      "keepTime": true,
      "tags": [
        ""
      ],
      "targetBlank": true,
      "type": "dashboards"
    },
    {
      "asDropdown": true,
      "icon": "external link",
      "includeVars": true,
      "tags": [
        "SYSTEM"
      ],
      "targetBlank": true,
      "type": "dashboards"
    }
  ],
  "gnetId": null,
  "rows": [
    {
      "collapse": false,
      "height": "25px",
      "panels": [
        {% include "panel_container.j2" with context -%}
      ]
    }
    {% if sensor_enum %}
        ,
        {
          "collapse": false,
          "editable": false,
          "height": "100px",
          "showTitle": false,
          "title": "Sensors Status",
          "internal_comment": "status_row",
          "panels": [
            {% include "graph_sensor_enum.j2" with context -%}
        ]
        }
    {% endif %}
    {%if sensor_types %}
    ,
        {% set comma = joiner(",") -%}
        {% for stype in sensor_types -%}
            {{ comma() }}
            {
              "collapse": true,
              "editable": false,
              "height": "250px",
              "showTitle": true,
              "title": "Датчики: {{stype}}",
              "internal_comment": "sensor_row",
              "panels": [
                 {% from "graph_sensor_value.j2" import sensors -%}
                {% for sensor in sensor_types[stype] -%}
                        {{sensors(sensor, loop.index)}}
                                        {{ comma() }}
                    {%- endfor %}
              ]
            }
        {%- endfor %}
    {% endif %}
    {% if bi_ids %}
    ,{
      "collapse": false,
      "height": "250px",
      "repeat": "bi_id",
      "showTitle": true,
      "title": "$bi_id",
      "titleSize": "h6",
      "panels": [
        {% include "graph_errors.j2" with context -%},
        {% include "graph_rtt.j2" with context -%},
        {% include "graph_memory_usage.j2" with context -%},
        {% include "graph_cpu_usage.j2" with context -%}
      ]
    }
    {% else %}
    ,{
      "collapse": false,
      "height": "25px",
      "panels": [
        {% include "panel_empty_container.j2" with context -%},
      ]
    }
    {% endif %}
  ]
}
