{
  "links": [],
  "id": 6102099622138834,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "{{ noc_db_metrics }}",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "table": "multicast",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, group, argMax(c_bandwidth_percent, t) as c_bandwidth_percent, argMax(c_bandwidth_used, t) as c_bandwidth_used, argMax(c_group_count, t) as c_group_count FROM $table WHERE managed_object = $bi_id and like(channel, '') and $timeFilter GROUP BY t, group ORDER BY t, group",
      "refId": "A",
      "resultFormat": "time_series",
      "format": "table",
      "extrapolate": true,
      "skip_comments": true,
      "dateTimeType": "DATETIME",
      "round": "0s",
    }
  ],
  "title": "Multicast | Channel",
  "type": "table",
  "span": 6,
  "options": {
    "showHeader": true,
    "sortBy": [
      {
        "displayName": "Channel",
        "desc": false
      }
    ]
  },
  "fieldConfig": {
    "defaults": {
      "custom": {
        "align": "left",
        "displayMode": "color-text",
        "filterable": false
      },
      "unit": "none",
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": []
    },
    "overrides": [
      {
        "matcher": {
          "id": "byName",
          "options": "Channel"
        },
        "properties": [
        ]
      },
      {
        "matcher": {
          "id": "byName",
          "options": "Bandwidth Load"
        },
        "properties": [
          {
            "id": "custom.displayMode",
            "value": "gradient-gauge"
          },
          {
            "id": "unit",
            "value": "percent"
          },
          {
            "id": "thresholds",
            "value": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "dark-green",
                  "value": null
                },
                {
                  "value": 30,
                  "color": "semi-dark-green"
                },
                {
                  "value": 60,
                  "color": "semi-dark-yellow"
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          }
        ]
      },
      {
        "matcher": {
          "id": "byName",
          "options": "Bandwidth Used"
        },
        "properties": [
          {
            "id": "unit",
            "value": "bps"
          }
        ]
      },
      {
        "matcher": {
          "id": "byName",
          "options": "Group Count"
        },
        "properties": [
        ]
      }
    ]
  },
  "pluginVersion": "7.3.5",
  "transformations": [
    {
      "id": "groupBy",
      "options": {
        "fields": {
          "channel": {
            "aggregations": [],
            "operation": "groupby"
          },
          "c_bandwidth_percent": {
            "aggregations": [
              "last"
            ],
            "operation": "aggregate"
          },
          "c_bandwidth_used": {
            "aggregations": [
              "last"
            ],
            "operation": "aggregate"
          },
          "c_group_count": {
            "aggregations": [
              "last"
            ],
            "operation": "aggregate"
          }
        }
      }
    },
    {
      "id": "organize",
      "options": {
        "excludeByName": {},
        "indexByName": {},
        "renameByName": {
          "c_bandwidth_percent (last)": "Bandwidth Load",
          "c_bandwidth_used (last)": "Bandwidth Used",
          "channel": "Channel",
          "c_group_count (last)": "Group Count"
        }
      }
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "datasource": null
}