{
  "links": [],
  "id": 60622138835,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "noc",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "table": "multicast",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, argMax(g_bitrate_in, t) as Input, argMax(g_bitrate_out, t) as Output FROM $table WHERE managed_object = $bi_id and path[1] = '{{ extra_vars.var_ifaces }}' and $timeFilter GROUP BY t ORDER BY t",
      "refId": "A",
      "resultFormat": "time_series",
      "format": "time_series",
      "extrapolate": true,
      "skip_comments": true,
      "dateTimeType": "DATETIME",
      "round": "0s",
    }
  ],
  "title": "IP Group {{ extra_vars.var_ifaces }}",
  "type": "graph",
  "options": {
    "alertThreshold": true
  },
  "fieldConfig": {
    "defaults": {
      "custom": {
        "align": "left",
        "displayMode": "color-text",
        "filterable": false
      },
      "unit": "bps",
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": []
    },
    "overrides": []
  },
  "pluginVersion": "7.3.5",
  "transformations": [],
  "renderer": "flot",
  "yaxes": [
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "bps",
      "decimals": 3,
      "$$hashKey": "object:63"
    },
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:64"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "fill": 1,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": true,
    "max": true,
    "current": true,
    "total": false,
    "avg": true,
    "alignAsTable": true,
    "hideEmpty": false
  },
  "nullPointMode": "null",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 0
  },
  "aliasColors": {},
  "seriesOverrides": [
    {
      "$$hashKey": "object:85",
      "alias": "Output",
      "transform": "negative-Y"
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "span": 12,
  "timeFrom": null,
  "timeShift": null,
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false,
  "steppedLine": false,
  "datasource": null,
  "decimals": 3
}