{
  "bars": false,
  "timeFrom": null,
  "links": [],
  "thresholds": [],
  "nullPointMode": "connected",
  "renderer": "flot",
  "linewidth": 2,
  "steppedLine": false,
  "targets": [
    {
      "refId": "A",
      "resultFormat": "time_series",
      "intervalFactor": 1,
      "query": "SELECT \n    t, \n    groupArray((concat('CPU | Load | 1min ',path[3]), d)) AS groupArr\nFROM \n    ( SELECT \n          $timeSeries as t, \n        path[3], \n        avg(load_1min) d \n        from $table\n        WHERE \n            $timeFilter\n            AND  managed_object= $bi_id\n        GROUP BY t, path[3]\n        ORDER BY t\n    ) \nGROUP BY t \nORDER BY t",
      "database": "noc",
      "tableLoading": false,
      "table": "cpu",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "date",
      "dateTimeColDataType": "ts"
    }
  ],
  "fill": 1,
  "span": 6,
  "title": "CPU | Load | 1min per cpu",
  "tooltip": {
    "sort": 0,
    "shared": true,
    "value_type": "cumulative",
    "msResolution": false
  },
  "id": "b485a632-cd74-429e-8f69-9839e451ee83",
  "points": false,
  "xaxis": {
    "values": [],
    "mode": "time",
    "name": null,
    "show": true,
    "buckets": null
  },
  "seriesOverrides": [],
  "percentage": false,
  "type": "graph",
  "pointradius": 5,
  "editable": true,
  "grid": {},
  "stack": false,
  "timeShift": null,
  "aliasColors": {},
  "lines": true,
  "legend": {
    "rightSide": false,
    "total": false,
    "show": true,
    "max": true,
    "min": true,
    "current": true,
    "values": true,
    "alignAsTable": true,
    "avg": true
  },
  "yaxes": [
    {
      "logBase": 1,
      "min": "0",
      "max": "100",
      "format": "percent",
      "show": true,
      "label": null
    },
    {
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "show": true,
      "label": null
    }
  ],
  "datasource": null,
  "error": false,
  "dashes": false,
  "dashLength": 10,
  "spaceLength": 10
}