{
  "title": "template missing for graph {{graph}}",
  "error": false,
  "span": 6,
  "editable": true,
  "mode": "markdown",
  "isNew": true,
  "id": 32,
  "mode": "text",
  "content": "# template missing for graph {{graph}}",
  "links": []
}
