{% set template="graph_" + graph | lower() |replace(" ","") | replace("|","_") + ".j2" %}
{
  "id": {{ range(1000, 99999) | random }},
  "title": "",
  "span": 6,
  "type": "text",
  "mode": "html",
  "content": "<div class=\"text-center dashboard-header\"><span>No such template {{graph}}</span><br/>File: {{ template }}</div>",
  "links": [],
  "transparent": true
}