{
  "aliasColors": {
    "Disk | Usage | Percent": "#fce2de"
  },
  "bars": false,
  "dashLength": 10,
  "dashes": false,
  "datasource": null,
  "fill": 1,
  "id": 7725424320425220,
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "links": [],
  "nullPointMode": "null",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "span": 6,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "database": "{{ noc_db_metrics }}",
      "dateColDataType": "date",
      "dateLoading": false,
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "intervalFactor": 1,
      "query": "SELECT \n  $timeSeries as t, \n  avg(disk_usage_p) as `Disk | Usage | Percent`\n  FROM \n  $table \n  WHERE managed_object=$bi_id\n  and $timeFilter \n  GROUP BY t \n  ORDER BY t",
      "refId": "A",
      "resultFormat": "time_series",
      "table": "disk",
      "tableLoading": false
    }
  ],
  "thresholds": [],
  "timeFrom": null,
  "timeShift": null,
  "title": "Disk | Usage | Percent",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "percent",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ]
}
