{% macro interface(interface, lindex) -%}
{
  "title": "${{interface.type}}",
  "aliasColors": {},
  "bars": false,
  "internal_comment":"graph_interface_load.j2",
  "datasource": null,
  "fill": 1,
  "grid": {
    "threshold1": null,
    "threshold1Color": "rgba(216, 200, 27, 0.27)",
    "threshold2": null,
    "threshold2Color": "rgba(234, 112, 112, 0.22)"
  },
  "id": {{lindex + 100}},
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "minSpan": 6,
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "repeat": "{{interface.type}}",
  "scopedVars": {
    "{{interface.type}}": {
      "selected": true,
      "text": "{{interface.ports[0].name}}({{interface.ports[0].descr}})",
      "value": "{{interface.ports[0].name}}"
    }
  },
  "seriesOverrides": [
    {
      "alias": "Input",
      "transform": "negative-Y"
    },
    {
      "alias": "Oper status",
      "yaxis": 2,
      "fill": 0
    },
    {
      "alias": "Admin status",
      "yaxis": 2,
      "fill": 0
    }
  ],
  "span": 12,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "alias": "Input",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$discovery_interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "Interface | Load | In",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=~",
          "value": "/^${{interface.type}}$/"
        }
      ]
    },
    {
      "alias": "Output",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$discovery_interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "Interface | Load | Out",
      "policy": "default",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=~",
          "value": "/^${{interface.type}}$/"
        }
      ]
    },
    {
      "refId": "C",
      "measurement": "Interface | Status | Oper",
      "alias": "Oper status",
      "hide": false,
      "policy": "default",
      "dsType": "influxdb",
      "resultFormat": "time_series",
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=~",
          "value": "/^${{interface.type}}$/"
        }
      ],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$discovery_interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ]
    },
    {
      "refId": "D",
      "measurement": "Interface | Status | Admin",
      "alias": "Admin status",
      "hide": false,
      "policy": "default",
      "dsType": "influxdb",
      "resultFormat": "time_series",
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=~",
          "value": "/^${{interface.type}}$/"
        }
      ],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$discovery_interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ]
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "show": true
  },
  "y-axis": true,
  "yaxes": [
    {
      "format": "bps",
      "label": "bit/s",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "logBase": 1,
      "show": false,
      "max": null,
      "format": "short",
      "min": null,
      "label": null
    }
  ]
}
{%- endmacro %}
