{% macro interface(interface, lindex) -%}
{% set comma = joiner(",") -%}
{
  "title": "{{interface.name}} : Members {{ interface.status | join(", ") }}",
  "aliasColors": {},
  "bars": false,
  "internal_comment":"graph_interface_load_lag.j2",
  "datasource": null,
  "fill": 4,
  "grid": {
    "threshold1": null,
    "threshold1Color": "rgba(216, 200, 27, 0.27)",
    "threshold2": null,
    "threshold2Color": "rgba(234, 112, 112, 0.22)"
  },
  "id": {{lindex + 200}},
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true,
    "rightSide": true
  },
  "lines": true,
  "linewidth": 1,
  "links": [],
  "minSpan": 6,
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "repeat": "",
  "seriesOverrides": [
    {
      "alias": "/Input.+/",
      "transform": "negative-Y"
    },
    {
      "alias": "/Agg.+/",
      "fill": 5,
      "linewidth": 5
    }
  ],
  "span": 12,
  "stack": false,
  "steppedLine": false,

  "targets": [
    {
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, sum(load_in) as `Agg_Input {{ interface.name }}`,  sum(load_out) as `Agg_Output {{ interface.name }}` FROM $table WHERE managed_object = $bi_id and interface in ({%for port in interface.ports %}{{ comma() }}'{{port}}'{%endfor%}) and $timeFilter GROUP BY t ORDER BY t",
      "resultFormat": "time_series",
      "database": "{{ noc_db_metrics }}",
      "tableLoading": false,
      "table": "interface",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "date",
      "dateTimeColDataType": "ts",
      "interval": "$discovery_interval"
    }
    {% for port in interface.ports -%}
        {{ comma() }}
          {
          "intervalFactor": 1,
          "query": "SELECT $timeSeries as t, argMax(load_in, t) as `Input {{ port }}`,  argMax(load_out, t) as `Output {{ port }}` FROM $table WHERE managed_object = $bi_id and interface = toString('{{port}}') and $timeFilter GROUP BY t ORDER BY t",
          "resultFormat": "time_series",
          "database": "{{ noc_db_metrics }}",
          "tableLoading": false,
          "table": "interface",
          "dateLoading": false,
          "datetimeLoading": false,
          "dateColDataType": "date",
          "dateTimeColDataType": "ts",
          "interval": "$discovery_interval"
        }
    {% endfor %}

  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "show": true
  },
  "y-axis": true,
  "yaxes": [
    {
      "format": "bps",
      "label": "bit/s",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ]
}
{%- endmacro %}
