{
  "bars": false,
  "timeFrom": null,
  "links": [],
  "nullPointMode": "connected",
  "renderer": "flot",
  "id": "c20c71b5-c555-46b1-b177-646aa0da7bbc",
  "linewidth": 2,
  "steppedLine": false,
  "targets": [
    {
      "dsType": "influxdb",
      "tags": [
        {
          "key": "object",
          "operator": "=",
          "value": "$device"
        }
      ],
      "refId": "A",
      "alias": "CPU | Load | 5min on cpu $tag_slot",
      "resultFormat": "time_series",
      "measurement": "CPU | Load | 5min",
      "policy": "default",
      "groupBy": [
        {
          "params": [
            "$discovery_interval"
          ],
          "type": "time"
        },
        {
          "type": "tag",
          "params": [
            "slot"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ]
    }
  ],
  "fill": 1,
  "span": 6,
  "title": "CPU | Load | 5min per cpu",
  "tooltip": {
    "sort": 0,
    "shared": true,
    "value_type": "cumulative",
    "msResolution": false
  },
  "stack": false,
  "yaxes": [
    {
      "logBase": 1,
      "format": "short",
      "max": null,
      "show": true,
      "label": null,
      "min": null
    },
    {
      "logBase": 1,
      "format": "short",
      "max": null,
      "show": true,
      "label": null,
      "min": null
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": []
  },
  "seriesOverrides": [],
  "percentage": false,
  "type": "graph",
  "error": false,
  "editable": true,
  "grid": {},
  "legend": {
    "avg": true,
    "min": true,
    "max": true,
    "show": true,
    "current": true,
    "values": true,
    "total": false,
    "alignAsTable": true,
    "rightSide": false
  },
  "timeShift": null,
  "aliasColors": {},
  "lines": true,
  "points": false,
  "datasource": null,
  "pointradius": 5,
  "thresholds": []
}