{
  "mappingTypes": [
    {
      "name": "value to text",
      "value": 1
    },
    {
      "name": "range to text",
      "value": 2
    }
  ],
  "textSize": 24,
  "links": [],
  "valueMaps": [
    {
      "value": "0",
      "op": "=",
      "text": "Upstream not connected"
    },
    {
      "value": "1",
      "op": "=",
      "text": "Upstream online"
    }
  ],
  "rangeMaps": [
    {
      "to": "null",
      "from": "null",
      "text": "N/A"
    }
  ],
  "showLegend": true,
  "legendSortBy": "-ms",
  "id": "fc04d1a6-a6d8-4fb2-835a-e1c220e9b072",
  "writeLastValue": true,
  "span": 6,
  "title": "Upstream status",
  "showLegendNames": true,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "noc",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "table": "video",
      "intervalFactor": 1,
      "query": "SELECT \n  $timeSeries as t, \n  avg(tmp133) as `Video Upstream Status`\nFROM \n  $table \nWHERE managed_object=$bi_id and path[3]='Sub'\n  and $timeFilter \n  GROUP BY t \n  ORDER BY t",
      "refId": "A",
      "resultFormat": "time_series"
    }
  ],
  "backgroundColor": "rgba(128, 128, 128, 0.1)",
  "valueTextColor": "#000000",
  "highlightOnMouseover": true,
  "type": "natel-discrete-panel",
  "writeAllValues": false,
  "showLegendTime": true,
  "writeMetricNames": true,
  "extendLastValue": true,
  "showDistinctCount": false,
  "showLegendCounts": false,
  "metricNameColor": "#000000",
  "showLegendValues": true,
  "showTransitionCount": false,
  "expandFromQueryS": 600,
  "rowHeight": 50,
  "showLegendPercent": true,
  "colorMaps": [
    {
      "color": "#CCC",
      "text": "N/A"
    },
    {
      "text": "Upstream not connected",
      "color": "#bf1b00"
    },
    {
      "text": "Upstream online",
      "color": "#508642"
    }
  ],
  "datasource": null,
  "lineColor": "rgba(128, 128, 128, 1.0)",
  "display": "timeline"
}