{
  "title": "Memory | Usage",
  "aliasColors": {},
  "bars": false,
  "datasource": null,
  "fill": 1,
  "grid": {
    "threshold1": null,
    "threshold1Color": "rgba(216, 200, 27, 0.27)",
    "threshold2": null,
    "threshold2Color": "rgba(234, 112, 112, 0.22)"
  },
  "id": "be3ec24e-c0e0-4b19-a4b2-25c7638c6046",
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [],
  "span": 6,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "noc",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "intervalFactor": 1,
      "table": "memory",
      "policy": "default",
      "query": "SELECT $timeSeries as t, avg(usage) `Memory | Usage` FROM $table WHERE managed_object=$bi_id and $timeFilter GROUP BY t ORDER BY t",
      "refId": "A",
      "resultFormat": "time_series",
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "x-axis": true,
  "xaxis": {
    "show": true
  },
  "y-axis": true,
  "yaxes": [
    {
      "logBase": 1,
      "show": true,
      "max": "100",
      "format": "percent",
      "min": "0",
      "label": null
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ]
}
