{
  "title": "Telephony | SIP | Register | Contacts | Active",
  "aliasColors": {},
  "bars": false,
  "datasource": null,
  "fill": 1,
  "grid": {},
  "id": 1773199202143,
    "legend": {
    "alignAsTable": true,
    "avg": false,
    "current": true,
    "max": false,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true,
    "rightSide": false
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [],
  "span": 6,
  "stack": false,
  "steppedLine": false,
  "decimals": 0,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "{{ noc_db_metrics }}",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "table": "object",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, avg(sip_register_contacts_active) as `Register Contacts Active` FROM $table WHERE managed_object=$bi_id and $timeFilter GROUP BY t ORDER BY t",
      "refId": "A",
      "resultFormat": "time_series"
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "x-axis": true,
  "xaxis": {
    "show": true
  },
  "y-axis": false,
  "yaxes": [
    {
      "format": "none",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": 0,
      "show": true,
      "decimals": 0
    },    {
      "format": null,
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": false
    }
  ]
}
