{
  "bars": false,
  "timeFrom": null,
  "links": [],
  "nullPointMode": "connected",
  "renderer": "flot",
  "id": "03fae50b-87a6-4de0-88ab-bb6f13565541",
  "linewidth": 2,
  "steppedLine": false,
  "targets": [
    {
      "dsType": "influxdb",
      "tags": [
        {
          "key": "object",
          "operator": "=",
          "value": "$device"
        }
      ],
      "refId": "B",
      "alias": "Subscribers sum",
      "resultFormat": "time_series",
      "measurement": "Subscribers | Summary",
      "policy": "default",
      "groupBy": [
        {
          "params": [
            "$discovery_interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "sum",
            "params": []
          }
        ]
      ],
      "rawQuery": false
    },
    {
      "dsType": "influxdb",
      "tags": [
        {
          "key": "object",
          "operator": "=",
          "value": "$device"
        }
      ],
      "refId": "A",
      "alias": "Subscribers on slot $tag_slot",
      "resultFormat": "time_series",
      "measurement": "Subscribers | Summary",
      "policy": "default",
      "groupBy": [
        {
          "params": [
            "$discovery_interval"
          ],
          "type": "time"
        },
        {
          "type": "tag",
          "params": [
            "slot"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "sum",
            "params": []
          }
        ]
      ],
      "rawQuery": false
    }
  ],
  "fill": 1,
  "span": 6,
  "title": "Subscribers on slots",
  "tooltip": {
    "sort": 0,
    "shared": true,
    "value_type": "cumulative",
    "msResolution": false
  },
  "stack": false,
  "yaxes": [
    {
      "logBase": 1,
      "format": "short",
      "max": null,
      "show": true,
      "label": null,
      "min": null
    },
    {
      "logBase": 1,
      "format": "short",
      "max": null,
      "show": true,
      "label": null,
      "min": null
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": []
  },
  "seriesOverrides": [],
  "percentage": false,
  "type": "graph",
  "error": false,
  "editable": true,
  "grid": {},
  "legend": {
    "avg": true,
    "min": true,
    "max": true,
    "show": true,
    "current": true,
    "values": true,
    "total": false,
    "alignAsTable": true
  },
  "timeShift": null,
  "aliasColors": {},
  "lines": true,
  "points": false,
  "datasource": null,
  "pointradius": 5,
  "thresholds": []
}