{
  "id": 17,
  "title": "{{title}}",
  "tags": [],
  "style": "dark",
  "timezone": "browser",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5m"
    ],
    "time_options": [
      "1h",
      "3h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d"
    ]
  },
  "templating": {
    "list": [
      {
        "current": {
          "selected": true,
          "text": "{{name}}",
          "value": "{{name}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "device",
        "options": [
          {
            "selected": true,
            "text": "{{name}}",
            "value": "{{name}}"
          }
        ],
        "query": "{{name}}",
        "refresh": 0,
        "type": "constant"
      },

      {
        "current": {
          "selected": true,
          "tags": [],
          "text": "Eth 1/25",
          "value": [
            "Eth 1/25"
          ]
        },
        "datasource": null,
        "hide": 0,
        "includeAll": true,
        "label": "Trunk ports",
        "multi": true,
        "name": "trunk_ports",
        "options": [
          {
            "selected": false,
            "text": "All",
            "value": "$__all"
          },
          {
            "selected": true,
            "text": "Eth 1/25",
            "value": "Eth 1/25"
          },
          {
            "selected": false,
            "text": "Eth 1/26",
            "value": "Eth 1/26"
          },
          {
            "selected": false,
            "text": "Eth 1/27",
            "value": "Eth 1/27"
          },
          {
            "selected": false,
            "text": "Eth 1/28",
            "value": "Eth 1/28"
          }
        ],
        "query": "Eth 1/25, Eth 1/26, Eth 1/27, Eth 1/28",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{vendor}}",
          "value": "{{vendor}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "vendor",
        "options": [
          {
            "selected": true,
            "text": "{{vendor}}",
            "value": "{{vendor}}"
          }
        ],
        "query": "{{vendor}}",
        "refresh": 0,
        "type": "custom"
      },
      {
        "current": {
          "text": "{{ip}}",
          "value": "{{ip}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "ip",
        "options": [
          {
            "selected": true,
            "text": "{{ip}}",
            "value": "{{ip}}"
          }
        ],
        "query": "{{ip}}",
        "refresh": 0,
        "type": "constant"
      },
      {
        "current": {
          "text": "{{platform}}",
          "value": "{{platform}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "platform",
        "options": [
          {
            "selected": true,
            "text": "{{platform}}",
            "value": "{{platform}}"
          }
        ],
        "query": "{{platform}}",
        "refresh": 0,
        "type": "constant"
      },
      {
        "current": {
          "text": "{{mo_id}}",
          "value": "{{mo_id}}"
        },
        "datasource": null,
        "hide": 2,
        "includeAll": false,
        "multi": false,
        "name": "device_id",
        "options": [
          {
            "selected": true,
            "text": "{{mo_id}}",
            "value": "{{mo_id}}"
          }
        ],
        "query": "{{mo_id}}",
        "refresh": 0,
        "type": "constant"
      }
    ]
  },
  "annotations": {
    "list": []
  },
  "refresh": "1m",
  "schemaVersion": 12,
  "version": 33,
  "links": [],
  "gnetId": null,
  "rows": [
    {
      "collapse": false,
      "editable": false,
      "height": "100px",
      "showTitle": true,
      "title": "$device $ip $vendor $platform",
      "panels": [

      ],

    },
    {
      "collapse": true,
      "editable": false,
      "height": "250px",
      "showTitle": true,
      "title": "Client ports",
      "panels": [

      ]

    },
    {
      "collapse": true,
      "editable": false,
      "height": "250px",
      "showTitle": true,
      "title": "Trunk ports",
      "panels": [

      ]

    },
    {
      "collapse": false,
      "editable": false,
      "height": "250px",
      "showTitle": true,
      "title": "Objects metrics",
      "panels": [

      ]

    }
  ]
}
