{
  "content": "[$device](https://sova.center.rt.ru/#sa.managedobject/$device_id) ",
  "editable": true,
  "error": false,
  "height": "50x",
  "id": 30,
  "isNew": true,
  "links": [],
  "mode": "markdown",
  "span": 3,
  "title": "Объект",
  "type": "text"
}
