{
  "content": "Производитель: $vendor, Платформа: $platform, Версия: $firmare_version  Карточка объекта: [$device](/api/card/view/managedobject/$device_id/).  Карта: [$device](/#inv.map/$segment)  Доступ: [Telnet](telnet://$ip), [ssh](ssh://$ip)",
  "editable": true,
  "error": false,
  "height": "50x",
  "id": 30,
  "isNew": true,
  "links": [],
  "mode": "markdown",
  "span": 12,
  "title": "Объект",
  "type": "text"
}
