{
  "span": 6,
  "links": [],
  "title": "Объект",
  "editable": true,
  "content": "Производитель: $vendor, Платформа: $platform, Версия: $firmare_version  \n\nКарточка объекта: [$device](/api/card/view/managedobject/$device_id/).  \n\nКарта: [$device](/#inv.map/$segment)  \n\nДоступ: [Telnet](telnet://$ip), [ssh](ssh://$ip)",
  "mode": "markdown",
  "error": false,
  "type": "text",
  "id": 30
}
