{
  "columns": [
    {
      "text": "Avg",
      "value": "avg"
    },
    {
      "text": "Count",
      "value": "count"
    }
  ],
  "fontSize": "100%",
  "id": 60935,
  "links": [],
  "pageSize": null,
  "scroll": true,
  "showHeader": true,
  "sort": {
    "col": 1,
    "desc": true
  },
  "span": 6,
  "styles": [
    {
      "dateFormat": "YYYY-MM-DD HH:mm:ss",
      "pattern": "Time",
      "type": "hidden"
    },
    {
      "colorMode": null,
      "colors": [
        "rgba(50, 172, 45, 0.97)",
        "rgba(237, 129, 40, 0.89)",
        "rgba(245, 54, 54, 0.9)"
      ],
      "decimals": 2,
      "pattern": "/.*/",
      "thresholds": [
        "0",
        "0.01",
        "0.2"
      ],
      "type": "number",
      "unit": "short"
    }
  ],
  "targets": [
    {
      "database": "noc",
      "dateColDataType": "date",
      "dateLoading": false,
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "intervalFactor": 1,
      "query": "SELECT \n\tt, \n\tgroupArray((concat('Discards ',path), d)) AS groupArr\nFROM \n\t( SELECT \n\t\t$timeSeries as t, \n\t\tpath[4] as path, \n\t\tavg(discards_out) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, path\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
      "refId": "A",
      "resultFormat": "time_series",
      "table": "interface",
      "tableLoading": false
    },
    {
      "database": "noc",
      "dateColDataType": "date",
      "dateLoading": false,
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "intervalFactor": 1,
      "query": "SELECT \n\tt, \n\tgroupArray((concat('Errors ',path), d)) AS groupArr\nFROM \n\t( SELECT \n\t\t$timeSeries as t, \n\t\tpath[4] as path, \n\t\tavg(errors_in) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, path\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
      "refId": "B",
      "resultFormat": "time_series",
      "table": "interface",
      "tableLoading": false
    }
  ],
  "title": "Errors and Discards",
  "transform": "timeseries_aggregations",
  "type": "table"
}