{% macro sensors(port, lindex) -%}
{
  "datasource": null,
  "type": "stat",
  "title": "Pulse",
  "id": 111561422825611,
  "span": 3,
  "timeFrom": null,
  "timeShift": null,
  "options": {
    "graphMode": "area",
    "colorMode": "value",
    "justifyMode": "auto",
    "fieldOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "defaults": {
        "thresholds": {
          "mode": "absolute",
          "steps": [
            {
              "color": "blue",
              "value": null
            }
          ]
        },
        "mappings": [],
        "unit": "none",
        "nullValueMode": "connected"
      },
      "overrides": []
    },
    "orientation": "horizontal"
  },
  "pluginVersion": "6.7.0",
  "targets": [
    {
      "refId": "A",
      "format": "time_series",
      "dateTimeType": "DATETIME",
      "round": "0s",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, argMax(pulse, t) FROM $table WHERE managed_object = $bi_id and sensor=toString('{{ port.name }}') and $timeFilter GROUP BY t ORDER BY t",
      "database": "{{ noc_db_metrics }}",
      "tableLoading": false,
      "table": "environment",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "",
      "dateTimeColDataType": "ts"
    }
  ]
}
{%- endmacro %}