{% macro sensors(port, lindex) -%}
{
  "datasource": null,
  "type": "stat",
  "title": "{{ port.name }} {{ port.profile }}",
  "id": {{lindex + 1130000}},
  "span": 3,
  "timeFrom": null,
  "timeShift": null,
  "options": {
    "graphMode": "area",
    "colorMode": "value",
    "justifyMode": "auto",
    "fieldOptions": {
      "values": false,
      "calcs": [
        "last"
      ],
      "defaults": {
        "thresholds": {
          "mode": "absolute",
          "steps": [
            {
              "color": "dark-green",
              "value": null
            },
            {
              "color": "dark-red",
              "value": 1
            }
          ]
        },
        "mappings": [
          {
            "id": 1,
            "operator": "",
            "value": "1",
            "text": "{{ port.name }} Power Off ",
            "type": 1,
            "from": "",
            "to": ""
          },
          {
            "id": 2,
            "operator": "",
            "value": "0",
            "text": "{{ port.name }} Power On",
            "type": 1,
            "from": "",
            "to": ""
          }
        ],
        "unit": "none"
      },
      "overrides": []
    },
    "orientation": "auto"
  },
  "pluginVersion": "6.7.0",
  "targets": [
    {
      "refId": "A",
      "format": "time_series",
      "dateTimeType": "DATETIME",
      "round": "0s",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, argMax(power_input_status, t) FROM $table WHERE managed_object = $bi_id and sensor=toString('{{ port.name }}') and $timeFilter GROUP BY t ORDER BY t",
      "database": "noc",
      "tableLoading": false,
      "table": "environment",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "",
      "dateTimeColDataType": "ts"
    }
  ]
}
{%- endmacro %}