{
  "id": "8a639eaa-a49c-4243-8742-f9c00fc44a57",
  "title": "",
  "span": 12,
  "type": "text",
  "mode": "html",
  "content": '<div class=\"text-center dashboard-header\">\n  <span>Контейнер не содержит объектов</span>\n</div>',
  "links": [],
  "transparent": true
}