{% macro sensors(port, lindex) -%}
{
  "datasource": null,
  "type": "stat",
  "title": "{{ port.name }} {{ port.profile }}",
  "id": 1561422825611,
  "span": 3,
  "timeFrom": null,
  "timeShift": null,
  "options": {
    "graphMode": "area",
    "colorMode": "value",
    "justifyMode": "auto",
    "fieldOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "defaults": {
        "thresholds": {
          "mode": "absolute",
          "steps": [
            {
              "color": "blue",
              "value": null
            }
          ]
        },
        "mappings": [],
        "unit": "kWh",
        "nullValueMode": "connected",
        "decimals": 2
      },
      "overrides": []
    },
    "orientation": "horizontal"
  },
  "pluginVersion": "6.7.0",
  "targets": [
    {
      "refId": "A",
      "format": "time_series",
      "dateTimeType": "DATETIME",
      "round": "0s",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, argMax(energy_consumption, t) FROM $table WHERE managed_object = $bi_id and path[4]=toString('{{ port.name }}') and $timeFilter GROUP BY t ORDER BY t",
      "database": "noc",
      "tableLoading": false,
      "table": "environment",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "",
      "dateTimeColDataType": "ts"
    }
  ]
}
{%- endmacro %}