{
  "content": "$ip",
  "editable": true,
  "error": false,
  "height": "50",
  "id": 31,
  "isNew": true,
  "links": [],
  "mode": "html",
  "span": 2,
  "style": {
    "font-size": "14pt"
  },
  "title": "IP",
  "transparent": false,
  "type": "text"
}
