{
  "id": 60935,
  "title": "Errors and Discards",
  "span": 6,
  "type": "table",
  "targets": [
    {
      "policy": "default",
      "dsType": "influxdb",
      "resultFormat": "time_series",
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "value",
          "operator": ">",
          "value": "0"
        }
      ],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$discovery_interval"
          ]
        },
        {
          "type": "tag",
          "params": [
            "interface"
          ]
        },
        {
          "type": "fill",
          "params": [
            "0"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "refId": "A",
      "rawQuery": false,
      "alias": "Errors on $tag_interface",
      "measurement": "Interface | Errors | In"
    },
    {
      "policy": "default",
      "dsType": "influxdb",
      "resultFormat": "time_series",
      "tags": [
        {
          "key": "object",
          "operator": "=~",
          "value": "/^$device$/"
        },
        {
          "condition": "AND",
          "key": "value",
          "operator": ">",
          "value": "0"
        }
      ],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$discovery_interval"
          ]
        },
        {
          "type": "tag",
          "params": [
            "interface"
          ]
        },
        {
          "type": "fill",
          "params": [
            "0"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "refId": "B",
      "rawQuery": false,
      "alias": "Dis on $tag_interface",
      "measurement": "Interface | Discards | Out"
    }
  ],
  "styles": [
    {
      "type": "hidden",
      "pattern": "Time",
      "dateFormat": "YYYY-MM-DD HH:mm:ss"
    },
    {
      "unit": "short",
      "type": "number",
      "decimals": 2,
      "colors": [
        "rgba(50, 172, 45, 0.97)",
        "rgba(237, 129, 40, 0.89)",
        "rgba(245, 54, 54, 0.9)"
      ],
      "colorMode": null,
      "pattern": "/.*/",
      "thresholds": [
        "0",
        "0.01",
        "0.2"
      ]
    }
  ],
  "transform": "timeseries_aggregations",
  "pageSize": null,
  "showHeader": true,
  "columns": [
    {
      "text": "Avg",
      "value": "avg"
    },
    {
      "text": "Count",
      "value": "count"
    }
  ],
  "scroll": true,
  "fontSize": "100%",
  "sort": {
    "col": 0,
    "desc": true
  },
  "links": []
}