{
  "collapse": true,
  "repeat": null,
  "repeatIteration": null,
  "repeatRowId": null,
  "showTitle": true,
  "title": "Errors and Discards",
  "titleSize": "h6",
  "height": 250,
  "panels": [
    {
      "aliasColors": {},
      "bars": false,
      "datasource": null,
      "fill": 1,
      "id": 60934,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "hideEmpty": true,
        "hideZero": true,
        "max": true,
        "min": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 12,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "alias": "Errors on $tag_interface",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "$discovery_interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "interface"
              ],
              "type": "tag"
            },
            {
              "params": [
                "0"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Interface | Errors | In",
          "policy": "default",
          "rawQuery": false,
          "refId": "B",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "count"
              }
            ]
          ],
          "tags": [
            {
              "key": "object",
              "operator": "=~",
              "value": "/^$device$/"
            },
            {
              "condition": "AND",
              "key": "value",
              "operator": ">",
              "value": "0"
            }
          ]
        },
        {
          "alias": "Discards on $tag_interface",
          "dsType": "influxdb",
          "groupBy": [
            {
              "params": [
                "$discovery_interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "interface"
              ],
              "type": "tag"
            },
            {
              "params": [
                "0"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Interface | Discards | Out",
          "policy": "default",
          "rawQuery": false,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "count"
              }
            ]
          ],
          "tags": [
            {
              "key": "object",
              "operator": "=~",
              "value": "/^$device$/"
            },
            {
              "condition": "AND",
              "key": "value",
              "operator": ">",
              "value": "0"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Errors and Discards",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    }
  ]
}