{
  "collapse": true,
  "repeat": null,
  "repeatIteration": null,
  "repeatRowId": null,
  "showTitle": true,
  "title": "Errors and Discards",
  "titleSize": "h6",
  "height": 250,
  "panels": [
    {
      "aliasColors": {},
      "bars": true,
      "datasource": null,
      "fill": 1,
      "id": 60934,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "hideEmpty": true,
        "hideZero": true,
        "max": true,
        "min": true,
        "show": true,
        "total": true,
        "values": true
      },
      "lines": false,
      "linewidth": 1,
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 0.5,
      "points": true,
      "renderer": "flot",
      "seriesOverrides": [],
      "span": 12,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Discards Out ',interface), d)) AS groupArr\nFROM \n\t( SELECT \n\t\t$timeSeries t, \n\t\tinterface, \n\t\tavg(discards_out) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Discards In ',interface), d)) AS groupArr\nFROM \n\t( SELECT \n\t\t$timeSeries t, \n\t\tinterface, \n\t\tavg(discards_in) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "hide": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Errors Out ',interface), d)) AS groupArr\nFROM \n\t( SELECT  \n\t$timeSeries as t, \n\t\tinterface, \n\t\tavg(errors_out) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "hide": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Errors In ',interface), d)) AS groupArr\nFROM \n\t( SELECT  \n\t$timeSeries as t, \n\t\tinterface, \n\t\tavg(errors_in) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "hide": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Errors In Delta ',interface), d)) AS groupArr\nFROM \n\t( SELECT  \n\t$timeSeries as t, \n\t\tinterface, \n\t\tavg(errors_in_delta) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "hide": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Errors Out Delta ',interface), d)) AS groupArr\nFROM \n\t( SELECT  \n\t$timeSeries as t, \n\t\tinterface, \n\t\tavg(errors_out_delta) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface\n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        },
        {
          "database": "{{ noc_db_metrics }}",
          "dateColDataType": "date",
          "dateLoading": false,
          "dateTimeColDataType": "ts",
          "datetimeLoading": false,
          "hide": false,
          "intervalFactor": 1,
          "interval": "$discovery_interval",
          "query": "SELECT \n\tt, \n\tgroupArray((concat('Dropped Out Delta ', interface, ' Queue ', queue), d)) AS groupArr\nFROM \n\t( SELECT  \n\t$timeSeries as t, \n\t\tinterface, queue, \n\t\tavg(qos_discards_out_delta) d \n\t\tfrom noc.interface \n\t\tWHERE \n\t\t\t$timeFilter\n\t\t\tAND  managed_object= $bi_id \n\t\tGROUP BY t, interface, queue \n\t\thaving d > 0\n\t\tORDER BY t\n\t) \nGROUP BY t \nORDER BY t",
          "resultFormat": "time_series",
          "table": "interface",
          "tableLoading": false
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Errors and Discards",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    }
  ]
}
