{
  "current": {
    "text": "{{mo_id}}",
    "value": "{{mo_id}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "device_id",
  "options": [
    {
      "selected": true,
      "text": "{{mo_id}}",
      "value": "{{mo_id}}"
    }
  ],
  "query": "{{mo_id}}",
  "refresh": 0,
  "type": "constant"
}
