{
  "current": {
    "text": "{{segment}}",
    "value": "{{segment}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "segment",
  "options": [
    {
      "selected": true,
      "text": "{{segment}}",
      "value": "{{segment}}"
    }
  ],
  "query": "{{segment}}",
  "refresh": 0,
  "type": "custom"
}