{
  "current": {
    "selected": true,
    "text": "{{bi_id}}",
    "value": "{{bi_id}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "bi_id",
  "options": [
    {
      "selected": true,
      "text": "{{bi_id}}",
      "value": "{{bi_id}}"
    }
  ],
  "query": "{{bi_id}}",
  "refresh": 0,
  "type": "constant"
}
