{
  "current": {
    "text": "{{platform}}",
    "value": "{{platform}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "platform",
  "options": [
    {
      "selected": true,
      "text": "{{platform}}",
      "value": "{{platform}}"
    }
  ],
  "query": "{{platform}}",
  "refresh": 0,
  "type": "constant"
}
