{
  "current": {
    "text": "{{ip}}",
    "value": "{{ip}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "ip",
  "options": [
    {
      "selected": true,
      "text": "{{ip}}",
      "value": "{{ip}}"
    }
  ],
  "query": "{{ip}}",
  "refresh": 0,
  "type": "constant"
}
