{
  "current": {
    "selected": true,
    "text": "{{device}}",
    "value": "{{device}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "device",
  "options": [
    {
      "selected": true,
      "text": "{{device}}",
      "value": "{{device}}"
    }
  ],
  "query": "{{device}}",
  "refresh": 0,
  "type": "constant"
}
