{
  "current": {
    "text": "{{vendor}}",
    "value": "{{vendor}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "vendor",
  "options": [
    {
      "selected": true,
      "text": "{{vendor}}",
      "value": "{{vendor}}"
    }
  ],
  "query": "{{vendor}}",
  "refresh": 0,
  "type": "custom"
}
