{
  "current": {
    "text": "{{firmare_version}}",
    "value": "{{firmare_version}}"
  },
  "datasource": null,
  "hide": 2,
  "includeAll": false,
  "multi": false,
  "name": "firmare_version",
  "options": [
    {
      "selected": true,
      "text": "{{firmare_version}}",
      "value": "{{firmare_version}}"
    }
  ],
  "query": "{{firmare_version}}",
  "refresh": 0,
  "type": "custom"
}