---
# http://www.ibm.com/support/knowledgecenter/SSEPGG_10.5.0/com.ibm.db2.luw.qb.server.doc/doc/t0008238.html?lang=ru
- name: tune systcl for PostgesSQL
  sysctl:
    name: "{{item.name}}"
    value: "{{item.value}}"
    state: present
    reload: yes
  with_items:
    - { name: kernel.shmmax, value: "{{ kernel_shmmax }}" }
    - { name: kernel.shmall, value: "{{ kernel_shmall }}" }
    - { name: kernel.sem, value: '250 256000 400 4096' }
  tags:
    - config

- include_tasks: install.yml

- name: Install postgres limits file
  template:
    src: "etc/security/limits.d/postgres_limits.conf.j2"
    dest: "/etc/security/limits.d/postgres_limits.conf"
  tags:
    - config
