{% extends "template.html" %}
{% block content %}
<div class="module">
    <table width="100%">
        <caption>Rebase prefix {{ prefix }}</caption>
        <tr><td>Rebase prefix {{prefix}} and all nested prefixes, addresses and related permissions to a new location</td></tr>
        <tr>
            <td>
                <div id="content-main">
                    <form method="POST" action="{% url ip:ipam:rebase vrf.id afi prefix.prefix %}">
                        {% with rebase_form as form %}
                            {% include "includes/noc_fieldset.html" %}
                        {% endwith %}
                        <div class="submit-row" >
                            <input type="submit" value="Rebase Prefix" class="default" name="_save" />
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}