{% extends "template.html" %}
{% load tags %}
{% block breadcrumbs %}{{block.super}}<li>Test Selectors</li>{% endblock %}
{% block content %}
<h1>Test Managed Objects selectors</h1>
<div class="module">
    <table width="100%">
        <thead>
            <tr><th>Id</th><th>Name</th><th>Profile</th><th>Address</th><th>Description</th><th>Tags</th></tr>
        </thead>
        <tbody>
        {% for r in data %}
        <tr><td colspan="6"><b>{{r.name}}</b></td></tr>
            {% for o in r.objects %}
            <tr class="{%cycle 'row1' 'row2'%}">
                <td>{{o.id}}</td>
                <td>{{o.name}}</td>
                <td>{{o.profile_name}}</td>
                <td>{{o.address}}</td>
                <td>{{o.description}}</td>
                <td>{% tags o %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
