# {{ ansible_managed }}
template {
  source = "{{ consul_template_templates_dir }}/upstream.conf.ctmpl"
  destination = "{{nginx_conf_upstream_path}}"
  command = "{{ nginx_reload_command }}"
  command_timeout = "60s"
  perms = 0644
  backup = true
  wait {
    min = "2s"
    max = "10s"
  }
}