---
- name: create consul-template directory structure
  file:
    state: directory
    path: "{{ item }}"
  with_items:
    - "{{ consul_template_config_dir }}"
    - "{{consul_template_templates_dir}}"

- name: include install
  import_tasks: "install.yml"

- name: consul-template config file
  template:
    src: "{{ consul_template_config_file_template }}"
    dest: "{{consul_template_config_dir}}/{{ consul_template_config_file }}"
    mode: 0755
  notify:
    - reload consul-template
  tags:
    - config

- name: copy consul-template systemd service configuration
  template:
    src: consul-template.service.j2
    dest: /etc/systemd/system/consul-template.service
    mode: 0755
  when: "'Linux' in ansible_system"
  notify:
    - reload systemd
    - restart consul-template
  tags:
    - config

- name: copy consul-template bsdinit service configuration
  template:
    src: consul-template.bsdinit.j2
    dest: "{{etc_prefix}}/rc.d/consul-template"
    mode: 0755
  when: "'FreeBSD' in ansible_system"
  tags:
    - config

- name: include services
  import_tasks: "services.yml"
  tags:
    - requirements
    - config

- name: include telegraf services
  include_tasks: "telegraf_services.yml"
  vars:
    service: "{{item['name']}}"
  when:
    - "'svc-telegraf' in groups"
    - "inventory_hostname in groups['svc-telegraf-exec']"
    - "'influx' in telegraf_outpul_plugin"
  with_items:
     - "{{noc_services}}"
  no_log: yes
  tags:
    - requirements
    - config

- name: include ch_dictionaries
  import_tasks: "ch_dictionaries.yml"
  when: ansible_nodename in groups['svc-clickhouse']
  tags:
    - requirements
    - config
    - clickhouse

- name: start consul-template service
  service:
    name: consul-template
    state: started
    enabled: yes

- name: restart consul-template on freebsd
  service:
    name: consul-template
    state: restarted
  when: "'FreeBSD' in ansible_system"