/var/log/pgbouncer/pgbouncer.log {
	missingok
	copytruncate
	compress
	notifempty
	sharedscripts
	create 0640 {{postgres_user}} {{postgres_user}}
	nodateext
	weekly
	rotate 5
	postrotate
		/bin/kill -HUP `cat {{pgbouncer_path_pid}}/pgbouncer.pid  2>/dev/null` 2> /dev/null || true
	endscript
}
