<img src="/static/img/logo_black.svg" style="width: 100px; height: 100px; padding: 8px; float: left"></img>
<div style="font-size: 16pt; font-weight: bold">NOC {{version}}</div>
<div style="font-size: 12pt; font-style: italic">{{installation}}</div>
{{#if system_id}}
<div style="font-size: 12pt">System ID: {{system_id}}</div>
{{else}}
<div style="font-size: 12pt">Unregistred system</div>
{{/if}}
<div style="">Copyright &copy; {{copyright}}</div>
<a href='http://nocproject.org/' target='_'>nocproject.org</a>
