<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="NONE,NOARCHIVE" />
        <meta name="Copyright" content="2007-2014, nocproject.org" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title id="title">NOC|{{ setup.installation_name }}</title>
        <!-- favicon -->
        {% if setup.favicon_mime %}<link rel="icon" type="{{setup.favicon_mime}}" href="{{setup.favicon_url}}" />{% endif %}
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" id="theme" href="{{theme_css}}" />
        <link rel="stylesheet" type="text/css" href="/static/pkg/famfamfam-silk/icons.css" />
        <link rel="stylesheet" type="text/css" href="/static/pkg/silk-companion1/icons.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/noc-extjs.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/noc/ux.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/noc/colors.css" />
        <link rel="stylesheet" type="text/css" href="/static/pkg/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/main/style/css/" />
        <link rel="stylesheet" type="text/css" href="/static/pkg/mxgraph/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/static/pkg/codemirror/lib/codemirror.css" />
        <!-- JS -->
        <script type="text/javascript" src="/static/pkg/handlebars/handlebars{% if setup.debug_js %}-debug{% endif %}.js"></script>
        <script type="text/javascript" src="/static/js/logging.js"></script>
        <script type="text/javascript" src="/static/js/noc/jsloader.js"></script>
        <script type="text/javascript" src="/static/pkg/extjs/ext-all{% if setup.debug_js %}-debug{% endif %}.js"></script>
        <script type="text/javascript" src="{{theme_js}}"></script>
        <script type="text/javascript" src="/static/pkg/d3/d3{% if setup.debug_js %}-debug{% endif %}.js"></script>
        <script type="text/javascript" src="/static/pkg/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="/static/js/noc/colors.js"></script>
        <script type="text/javascript" src="/static/js/noc/glyph.js"></script>
        <script type="text/javascript" src="/static/js/noc/util.js"></script>
        <script type="text/javascript" src="/static/js/noc/jira.js"></script>
        <!-- page specific -->
        <script type="text/javascript">
            //
            console.log("!!!");
            console.log("!!! Running NOC desktop");
            console.log("!!!");
            // Initialize loader
            Ext.BLANK_IMAGE_URL = "/static/img/s.gif";
            Ext.namespace("NOC");
            NOC.settings = {
                installation_name: "{{setup.installation_name}}",
                theme: "{{theme}}",
                logo_url: "{{setup.logo_url}}",
                logo_width: {{setup.logo_width}},
                logo_height: {{setup.logo_height}},
                branding_color: "{{ setup.branding_color }}",
                branding_background_color: "{{ setup.branding_background_color }}",
                install_collection: {% if setup.install_collection %}true{% else %}false{% endif %},
                gis: {
                    base: {
                        "enable_osm": {% if setup.enable_gis_base_osm %}true{% else %}false{% endif %},
                        "enable_google_sat": {% if setup.enable_gis_base_google_sat %}true{% else %}false{% endif %},
                        "enable_google_roadmap": {% if setup.enable_gis_base_google_roadmap %}true{% else %}false{% endif %}
                    }
                },
                traceExtJSEvents: {% if setup.trace_extjs_events %}true{% else %}false{% endif %}
            };
            NOC.templates = {};
            Ext.Loader.setConfig({
                enabled: true,
                paths: {
                    {% for m, a in apps %}"NOC.{{m}}.{{a}}.templates": "/{{m}}/{{a}}/templates",{% endfor %}
                    {% for m, a in apps %}"NOC.{{m}}.{{a}}": "/{{m}}/{{a}}/js",{% endfor %}
                    "NOC.models": "/static/js/noc/models",
                    "NOC.widgets": "/static/js/noc/widgets",
                    "NOC.core": "/static/js/noc/core",
                    "Ext.ux": "/static/js/noc/ux"
                }});
            Ext.setGlyphFontFamily("FontAwesome");
        </script>
        <script type="text/javascript" src="/static/js/noc/override.js"></script>
        <script type="text/javascript" src="/main/desktop/js/app.js"></script>
    </head>
    <body>
    <form id="history-form" class="x-hide-display">
        <input type="hidden" id="x-history-field" />
        <iframe id="x-history-frame"></iframe>
    </form>
    </body>
</html>
