ttl: &ttl 30
loop_wait: &loop_wait 10
scope: &scope {{ patroni_scope }}
restapi:
  listen: 0.0.0.0:{{patroni_listen}}
  connect_address: {{ ansible_default_ipv4.address }}:{{patroni_listen}}
  auth: 'username:{{ patroni_rest_password }}'
consul:
  host: 127.0.0.1:8500


bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        max_connections: {{postgres_max_connections}}

  pg_hba:
    - host all all 0.0.0.0/0 md5
    - host replication replicator {{patroni_replication_network| ipaddr}}    md5
  initdb:
    - data-checksums
  users:
    replicator:
      password: {{ postgres_replicator_password }}
      options:
        - replication
    superuser:
      password: {{ patroni_postgres_password }}
      options:
        - createrole
        - createdb
    {{noc_pg_user}}:
      password: {{ noc_pg_password }}
      options:
        - nosuperuser
        - createdb
    {{grafana_pg_user}}:
      password: {{ grafana_pg_password }}
      options:
        - nosuperuser
        - createdb
  pg_rewind:
    username: replicator
    password: {{ postgres_superuser_password }}

  restore: /opt/patroni/patroni/scripts/restore.py
  #recovery_conf:
    #restore_command: cp ../wal_archive/%f %p


postgresql:
  name: {{ ansible_nodename }}
  scope: *scope
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: {{postgres_data_dir}}
  bin_dir: {{postgres_bin_dir}}
  maximum_lag_on_failover: 1048576 # 1 megabyte in bytes
  use_slots: True
  config_base_name: postgresql
  replication:
    username: replicator
    password: {{ postgres_replicator_password }}
    network:  {{patroni_replication_network| ipaddr}}
  superuser:
    username: superuser
    password: {{ patroni_postgres_password }}

  parameters:
    archive_mode: "on"
    wal_level: replica
    archive_command: mkdir -p ../wal_archive && cp %p ../wal_archive/%f
    max_wal_senders: 10
    wal_keep_segments: 8
    archive_timeout: 1800s
    max_replication_slots: 5
    hot_standby: "on"
    wal_log_hints: "on"

tags:
    nofailover: false
    noloadbalance: false
    nosync: false