$form-text-field-border-radius: $border-radius;
$form-toolbar-text-field-border-radius: $border-radius;

input.x-form-field {
	$radius: $border-radius - 1px;

	border-radius: $radius;

	&, .x-form-trigger-wrap & {
		border-radius: $radius 0 0 $radius;
	}
}

/**
 * Чиним баг, когда поля ввода вылезают на 1 пиксель
 * на скругленные углы рамки справа.
 **/
.x-form-text {
	width: calc(100% - 3px);
}