$form-text-field-border-radius: $border-radius;
$form-toolbar-text-field-border-radius: $border-radius;

input.x-form-field {
	$radius: $border-radius - 1px;

	border-radius: $radius;

	&, .x-form-trigger-wrap & {
		border-radius: $radius 0 0 $radius;
	}
}

/**
 * Чиним баг, когда поля ввода вылезают на 1 пиксель
 * на скругленные углы рамки справа.
 **/
.x-form-text {
	width: calc(100% - 3px);
}

/**
 * Аналогично, но для триггеров полей.
 */
.x-form-trigger-default {
	border-radius: $border-radius;
}

/**
 * Чиним аффект от починки бага со скругленными углами (см. выше).
 * Возвращаем белизну частичке фона что находится под сдвинутым полем ввода.
 * Актуально для эдиторов внутри грида.
 **/
.x-form-trigger-wrap.x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
	background-color: white;
}