---
- name: Disable nsq system service
  service:
    name: "nsqd"
    enabled: "False"
    state: stopped
  ignore_errors: "True"

- name: Remove nsqd group
  group:
    name: nsq
    state: absent
  ignore_errors: "True"

- name: Remove nsqd user
  user:
    name: nsq
    state: absent
  ignore_errors: "True"

- name: Remove path for on-disk queue files
  file:
    path: "{{ item.dir }}"
    state: absent
  with_items:
    - dir: "{{ nsqd_db_dir }}"
      mode: "0770"
    - dir: "{{ nsqd_config_dir }}"
      mode: "u=rwx,g=rx,o=rx"
    - dir: "{{ nsq_root }}"
      mode: "u=rwx,g=rx,o=rx"

- name: remove nsqd ct template
  import_role:
    name: consul-template
    tasks_from: deservice
  vars:
    ct_service_name: nsqd
    ct_service_source: "nsqd.conf.ctmpl"
    ct_service_dest: "{{ nsqd_config_dir }}/nsqd.conf"
    ct_service_command: "{{ reload_command }}"
    ct_service_command_timeout: "60s"
    ct_service_source_template: "True"

- name: remove nsqd consul check
  import_role:
    name: consul
    tasks_from: deservice
  vars:
    consul_service_name: nsqd
    consul_service_tags: ""
    consul_service_port: "4150"
    consul_service_check_type: "tcp"
    consul_service_check_value: "127.0.0.1:4150"
    consul_service_check_interval: "10s"
    consul_service_check_http_skip_verify: "False"

- name: remove nsqdhttp consul check
  import_role:
    name: consul
    tasks_from: deservice
  vars:
    consul_service_name: nsqdhttp
    consul_service_tags: ""
    consul_service_port: "4151"
    consul_service_check_type: "http"
    consul_service_check_value: "http://127.0.0.1:4151/ping"
    consul_service_check_interval: "10s"
    consul_service_check_http_skip_verify: "False"

- name: set nsqd removed flag
  set_fact:
    nsqd_removed: "True"
