<table border="0">
    {{#if vars.length}}
        <tr><td colspan="2"><b>Event Variables</b></td></tr>
        {{#each vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if resolved_vars.length}}
        <tr><td colspan="2"><b>Resolved Variables</b></td></tr>
        {{#each resolved_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if raw_vars.length}}
        <tr><td colspan="2"><b>Raw Variables</b></td></tr>
        {{#each raw_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
</table>
