<table border="0">
    {{#if vars.length}}
        <tr><th colspan="3">Event Variables</th></tr>
        {{#each vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
            <td><i>{{this.[2]}}</i></td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if resolved_vars.length}}
        <tr><th colspan="3">Resolved Variables</th></tr>
        {{#each resolved_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
            <td><i><pre>{{this.[2]}}</pre></i></td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if raw_vars.length}}
        <tr><th colspan="3">Raw Variables</th></tr>
        {{#each raw_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td colspan="2">{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
</table>
