<table border="0">
    {{#if vars.length}}
        <tr><th colspan="2">Event Variables</th></tr>
        {{#each vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if resolved_vars.length}}
        <tr><th colspan="2">Resolved Variables</th></tr>
        {{#each resolved_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
    {{#if raw_vars.length}}
        <tr><th colspan="2">Raw Variables</th></tr>
        {{#each raw_vars}}
        <tr>
            <td><b>{{this.[0]}}</b></td>
            <td>{{this.[1]}}</td>
        </tr>
        {{/each}}
    {{/if}}
</table>
