{% extends "template.html" %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.pager.css">
    <link type="text/css" rel="stylesheet" href="/static/apps/fm/event/css/index.css">
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/jquery.pager.js"></script>
    <script type="text/javascript" src="/static/apps/fm/event/js/index.js"></script>
{% endblock %}
{% block content %}
<ul class="object-tools">
    <li><a href="#" onclick="return show_popup('Set Checkpoint', '{% url main:checkpoint:create %}')">Set Checkpoint</a></li>
</ul>

    <style>
        #pager {
            width: 100%;
            border: 1px solid #c0c0c0;
        }
    </style>
<h1>Events</h1>
<div class="module">
    <h2>Event filter <span style="float: right;"><a href="#" id="toggle_panel_link" onclick="toggle_panel();">Hide Filter</a></span></h2>
<div id="form_panel">
    {{form.media}}
    <form id="form">
        {{form.page}}
            <b>Status</b> {{form.status}}
            <b>From:</b> {{form.from_time}}
            <b>To:</b> {{form.to_time}}
            <b>Managed Object:</b> {{form.managed_object}}
            <span id="e-class"><b>Event Class:</b> {{form.event_class}}</span>
            <INPUT TYPE="submit" VALUE="Filter" class="default"/>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        /* Set up ajax form */
        $("#form").ajaxForm({
            dataType: "json",
            beforeSubmit : show_cover,
            success : show_result,
            url     : "{% url fm:event:events %}"
        });
        window.setTimeout(update_data, 200);
        /* Status change hook */
        $("#id_status").change(function(){
            var v = $(this).val();
            if((v == "A") || (v == "C"))
                $("#e-class").show();
            else
                $("#e-class").hide();
        });
    });
</script>
</div>
<div class="module">
    <TABLE BORDER='0' width="100%" ID="events_table">
        <caption>Events: <span id="events_count"></span></caption>
        <THEAD>
            <TR>
                <TH class="event-id">#</TH>
                <TH class="event-object">Object</TH>
                <TH class="event-time">Time</TH>
                <TH class="event-status">Status</TH>
                <TH class="event-class">Class</TH>
                <TH>Subject</TH>
            </TR>
        </THEAD>
        <TBODY>
        </TBODY>
    </TABLE>
</div>
<DIV ID="pager"></DIV>
<DIV ID="cover"></DIV>
{%endblock%}
