---
- name: Add CentOS Nginx repo
  yum_repository:
    name: nginx
    description: CentOS Nginx repo
    baseurl: http://nginx.org/packages/centos/{{ ansible_distribution_major_version }}/{{ ansible_architecture }}
    gpgcheck: yes
    gpgkey: http://nginx.org/packages/keys/nginx_signing.key
    enabled: yes
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Install Nginx
  yum:
    name: nginx
    state: latest
    update_cache: no
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"

- name: Remove default.conf site
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  notify: reload nginx

- name: Enable Nginx system service
  service:
    name: "{{ nginx_system_service }}"
    enabled: yes
    state: started

- include_tasks: "firewall.yml"
  tags:
    - firewall