$button-default-color: $color-black;
$button-toolbar-color: $color-black;
$button-small-border-radius: $border-radius;
$button-toolbar-background-color-focus: transparent;
$button-default-body-outline-color-focus: transparent;

$darken-white: darken($color-white, 10%);

.extend-button-gradient {
	@include background-gradient($darken-white, matte, top);

	&.x-btn-pressed {
		@include background-gradient($darken-white, matte-reverse, top);
	}
}

.x-btn-inner {
	font-weight: bold;
}

.x-btn.x-btn-default-small {
	&,
	&.x-btn-over,
	&.x-btn-focus {
		@extend .extend-button-gradient;
		box-shadow: 0 0 2px $color-midnight-blue;
		border: none;
		margin: 2px;
	}
}

.x-toolbar-item.x-btn-default-toolbar-small {
	&,
	&.x-btn-focus.x-btn-over {
		@extend .extend-button-gradient;
		box-shadow: 0 0 2px $color-midnight-blue;
		margin: 2px;

		.x-btn-button {
			font-size: $font-size-base;
			padding: 5px;
		}
	}
}

.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-small {
	box-shadow: none;
}

.x-btn.x-segmented-button-item.x-btn-default-toolbar-small {
	@extend .extend-button-gradient;
	border-color: $color-silver;
}

.x-datepicker {
	.x-btn.x-btn-default-small {
		&,
		&.x-btn-over,
		&.x-btn-focus {
			background-image: none;
			box-shadow: none;
			border: none;
			margin: 0;
		}
	}
}