{{ mongo_arbiter_log_path }} {
    daily
    rotate 30
    compress
    size 250M
    dateext
    missingok
    notifempty
    sharedscripts
    copytruncate
    postrotate
        /bin/kill -SIGUSR1 `cat {{ mongo_arbiter_pid }} 2> /dev/null` 2> /dev/null || true
    endscript
}
