---
- name: Install PostgreSQL
  yum:
    name: "{{item}}"
    state: present
    update_cache: yes
  with_items:
    - postgresql{{postgresql_version|replace(".","")}}-server
    - postgresql{{postgresql_version|replace(".","")}}-contrib
    - postgresql{{postgresql_version|replace(".","")}}-plpython
    - python-psycopg2
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"

- name: PostgreSQL init db
  command: '{{postgres_bin_dir}}/postgresql{{postgresql_version|replace(".","")}}-setup initdb'
  args:
    creates: /var/lib/pgsql/{{ postgresql_version }}/initdb.log
  when: "has_svc_postgres_master | default(False) or not has_svc_patroni | default(True)"


- name: Install postgres limits file
  template:
    src: "etc/security/limits.d/postgres_limits.conf.j2"
    dest: "/etc/security/limits.d/postgres_limits.conf"
  tags:
    - config
