---
- name: Setting Grafana conf file
  lineinfile: dest=/etc/rc.conf regexp=^grafana_conf= line=grafana_conf=\"{{ etc_prefix }}/grafana/grafana.ini\"

- name: Install Grafana
  pkgng: name="grafana4" state=present

- name: Create Grafana directories
  file: path={{item}} state=directory owner={{grafana_user}} mode=0755
  with_items:
    - "{{ grafana_plugins_dir }}"
    - /var/log/grafana
    - "{{ etc_prefix }}/grafana"
  notify: restart grafana

- name: Create newsyslog rules
  template:
    src: "os/FreeBSD/grafana.conf"
    dest: "/usr/local/etc/newsyslog.conf.d/grafana.conf"
