.noc-menu.x-toolbar-default {
	background-color: $color-midnight-blue;
	background-image: none;
	color: $color-clouds;

	.x-toolbar-item.x-btn-default-toolbar-small {
		background: transparent;
		border: 0;

		.x-btn-inner {
			font-size: $font-size-main-menu;
			color: $color-silver;
		}

		&.x-btn-pressed .x-btn-inner,
		&.x-btn-pressed .x-btn-icon-el::before {
			color: $color-midnight-blue;
		}

		.x-fa {
			color: $color-silver;
		}
	}

	.x-form-trigger-wrap {
		border: 0;

		input {
			background-color: rgb(89, 99, 113);
			color: $color-clouds;
		}
	}

	.x-form-text-wrap {

		&::before {
			content: "\f002";
			font-family: FontAwesome;
			font-size: $font-size-header;
			position: absolute;
			display: block;
			margin: $font-size-header / 2;
		}

		input {
			padding: 10px 10px 10px ($font-size-header * 1.8);
			font-size: $font-size-main-menu;
		}
	}

	.x-form-text-wrap.x-form-text-wrap-toolbar {
		border-radius: $border-radius;
	}

	.x-fa:before {
		font-size: $font-size-header;
	}

	.x-btn.x-btn-default-toolbar-small.x-btn-pressed {
		@extend .extend-button-gradient;
	}
}