{% extends "template/template.html" %}
{% block breadcrumbs %}<div class="breadcrumbs"><A HREF="/">Home</A> &rsaquo; <a href="/admin/sa/">Sa</a> &rsaquo; <a href="/admin/sa/managedobject/">Managed Objects</a> &rsaquo; <a href="/admin/sa/managedobject/">{{object.name}}</a> &rsaquo; Scripts &rsaquo;
</div>
{% endblock %}
<{% block content %}
<h1>Scripts for {{object.name}} ({{object.profile_name}})</h1>
<TABLE BORDER="1">
    <TR><TH>Scripts</TH></TR>
{% for s in scripts %}
    <TR class="{%cycle 'row1' 'row2'%}"><TD><A HREF="{{s.0}}/">{{s.1}}</A></TD></TR>
{% endfor %}
</TABLE>
{%endblock%}