{% for service in noc_services %}
    {%- if service.pool == pool_name %}
        {%- if service.config %}

{{ service.name }}:
{{ service.config |  to_nice_yaml | indent(2, true)}}
        {%- endif %}
    {%- endif %}
{% endfor %}