{% extends "template.html" %}
{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.pager.css">
    <link type="text/css" rel="stylesheet" href="/static/apps/fm/alarm/css/index.css">
    <link type="text/css" rel="stylesheet" href="{% url fm:alarm:css %}">
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/jquery.pager.js"></script>
    <script type="text/javascript" src="/static/apps/fm/alarm/js/index.js"></script>
{% endblock %}
<{% block content %}
    <style>
        #pager {
            width: 100%;
            border: 1px solid #c0c0c0;
        }
    </style>
<h1>Alarms</h1>
<div class="module">
    <h2>Alarm filter <span style="float: right;"><a href="#" id="toggle_panel_link" onclick="toggle_panel();">Hide Filter</a></span></h2>
<div id="form_panel">
    {{form.media}}
    <form id="form">
        {{form.page}}
            <b>Status</b> {{form.status}}
            <b>From:</b> {{form.from_time}}
            <b>To:</b> {{form.to_time}}
            <b>Managed Object:</b> {{form.managed_object}}
            <b>Alarm Class:</b> {{form.alarm_class}}
            <b>Order:</b> {{form.order_by}}
            <INPUT TYPE="submit" VALUE="Filter" class="default"/>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        /* Set up ajax form */
        $("#form").ajaxForm({
            dataType: "json",
            beforeSubmit : show_cover,
            success : show_result,
            url     : "{% url fm:alarm:alarms %}"
        });
        window.setTimeout(update_data, 200);
    });
</script>
</div>
<div class="module">
    <TABLE BORDER='0' width="100%" ID="alarms_table">
        <caption>alarms: <span id="alarms_count"></span></caption>
        <THEAD>
            <TR>
                <TH class="alarm-id">#</TH>
                <TH class="alarm-object">Object</TH>
                <TH class="alarm-time">Time</TH>
                <TH class="alarm-duration">Duration</TH>
                <TH class="alarm-status">Status</TH>
                <TH class="alarm-duration">Owner</TH>
                <TH class="alarm-class">Class</TH>
                <TH class="alarm-severity">Severity</TH>
                <TH>Subject</TH>
            </TR>
        </THEAD>
        <TBODY>
        </TBODY>
    </TABLE>
</div>
<DIV ID="pager"></DIV>
<DIV ID="cover"></DIV>
{%endblock%}
