<!doctype html>
<html lang="{{ setup.language }}">

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="NONE,NOARCHIVE" />
  <meta name="copyright" content="2007-2024, getnoc.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- l10n -->
  <link rel="gettext" href="/ui/web/translations/{{ language }}.json" lang="{{ setup.language }}" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css"
    href="/ui/pkg/extjs/classic/theme-{{ setup.theme }}/resources/theme-{{ setup.theme }}-all.css" />
  <link rel="stylesheet" type="text/css" href="/ui/web/css/extjs.css" />
  <link rel="stylesheet" type="text/css" href="/ui/web/css/theme-patch-{{ setup.theme }}.css" />
  <link rel="stylesheet" type="text/css" href="/ui/pkg/fontawesome/css/font-awesome.min.css" />
  <!-- JS -->
  <script type="text/javascript" src="/ui/pkg/extjs/ext-all.js"></script>
  <script type="text/javascript"
    src="/ui/pkg/extjs/classic/theme-{{ setup.theme }}/theme-{{ setup.theme }}.js"></script>
  <!-- Include the translations -->
  <script type="text/javascript" src="/ui/web/locale/{{ language }}/ext-locale-{{ setup.language }}.js"></script>
  <script type="text/javascript" src="/ui/web/js/glyph.js"></script>
  <script type="text/javascript" src="/ui/login/app/app.js"></script>
</head>

<body>
  <div id="noc-loading-mask"></div>
  <div id="noc-loading">Loading {{ setup.brand }}. Please wait ...</div>
</body>

</html>