.diff {
    border-width: 0px;
}

.diff td {
    padding: 1px 1px 1px 4px;
    margin: 0px;
}

.diff .diff_next {
}

.diff .diff_header {
    display: inline-block;
    width: 4em;
    overflow: hidden;
    margin: 0 4pt 0 0;
    padding: 1px 3px 1px 0;
    text-align: right;
    -webkit-user-select: none;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #998;
    background: #eee;
    color: #999;
}

.diff .diff_add {
    background-color: #CCCC00;
    border: 1px solid #999900;
}

.diff .diff_sub {
    background-color: #EE0000;
    border: 1px solid #990000;
    color: #FFFFFF;
}

.diff .diff_chg {
    background-color: #0000EE;
    border: 1px solid #000099;
    color: #FFFFFF;
}
