body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background-color: #C4C2BE;
}

.login {
    width: 300px;
    background-color: #fff;
    border: 1px solid #999;
}

.banner {
    height: 24px;
    background-color: #417690;
    color: #F4F379;
    font-size: 18px;
    padding: 4px;
}

.submit {
    padding: 4px;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(/media/img/admin/icon_alert.gif) 5px .3em no-repeat;
}

input[type=submit] {
    background: white url(/media/img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
    font-weight: bold;
    color: black;
    text-align: center;
}

.buttons {
    text-align: center;
}

.copyright {
    text-align: center;
    padding: 4px;
}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}
