@import url("/media/css/base.css");
@import url("/media/css/dashboard.css");

#content {
    /*
    margin-left: 204px;
    min-height: 400px;
    */
}

div.breadcrumbs {
    /* margin-left: 204px; */
}

div.breadcrumbs ul, div.breadcrumbs ul li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

div.breadcrumbs ul li:before {
    content: "\00a0";
}

div.breadcrumbs ul li:after {
    content: "\00a0\203a";
}


#changelist table thead th {
    white-space: normal;
}

#user-tools FORM {
    display: inline;
}

#user-tools INPUT {
    margin-top: -2px;
    width: 140px;
}

.paginator { padding: .25em .25em .6em .25em; }
.paginate-pages { padding: 2px 3px; border: 1px solid #ddd; cursor: pointer; text-decoration: underline; }
.paginate-first, .paginate-last { padding: 2px 6px; border: 1px solid #ddd; font-weight: bold; }
.paginate-previous, .paginate-next { padding: 2px 3px; border: 1px solid #ddd; }
.paginate-link { padding: 2px 4px; border: 1px solid #ddd; }
.paginate-current { padding: 2px 4px; border: 1px solid #ddd; font-weight: bold; background:#417690; color:#f4f379; }

.object-tags {
    font-size: 10px;
    font-weight: bold;
    display: block;
    float: left;
    position: relative;
}

.object-tags li {
    display: block;
    float: left;
    background:url(/media/img/admin/tool-left.gif) 0 0 no-repeat;
    padding:0 0 0 8px;
    margin-left:2px;
    height:16px;
}

.object-tags a:link, .object-tags a:visited {
    display: block;
    float: left;
    color: white;
    background:#999 url(/media/img/admin/tool-right.gif) 100% 0 no-repeat;
    padding: .1em 14px .1em 8px;
    height: 14px;
}

ul.tags-list, ul.tags-list li {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-weight: bold;
    display: inline;
    list-style: none;
    height: 16px;
}

ul.tags-list li {
    margin: 2px;
    padding: 2px 6px 2px 6px;
    height: 14px;
    background-color: #999;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

ul.tags-list li a:link, ul.tags-list li a:visited {
    color: white;
}

table tbody tr.selected {
    background-color: #FFFFCC;
}

#changelist-content select {
    margin-left: 8px;
}

#noc-popup-window {
    display: none;
    z-index:9999;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
}

#noc-popup-header {
    font-weight: bold;
    background: #7CA0C7 url(/media/img/admin/default-bg.gif) top left repeat-x;
    color: white;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

#noc-popup-header-close {
    float: right;
}

#noc-popup-header-title {
    position: relative;
    text-align: center;
}

#noc-popup-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#noc-popup-body {
    padding: 4px;
}

#noc-popup-iframe {
    border: 0px;
}

/* TreeApplication */
.noc-tree-category {
    font-weight: bold;
}

.noc-tree-item {
}

@media print {
    #menu {
        display: none;
    }
    
    #header {
        display: none;
    }
    
    #content {
        margin-left: 0px;
    }
    
    #footer {
        display: none;
    }
    
    div.breadcrumbs {
        margin-left: 0px;
    }
    
    ul.messagelist {
        margin-left: 0px;
    }
}
