#nav .x-panel-header-default {
    line-height: 16px;
}

.x-action-col-cell img {
    height: 16px;
    width: 15px;
}

/* Syntax highlight */
/* Override default */
pre.sh_sourceCode {
    background-color:#e7e7e7;
}

.sh_address {
    color: darkgreen;
}
/**/
.noc-tp {
    padding: 4px;
}

.noc-tp TABLE {
    border: 1px solid black;
    padding: 4px;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 8pt;
}

.noc-tp TABLE TH, .noc-tp TABLE TD {
    padding: 4px;
    border: 1px solid black;
}

.noc-tp TABLE TH {
    font-weight: bold;
    background-color:#e0e0e0;
}

TABLE {
    border-collapse: collapse;
    border-spacing: 0;
}

.noc-console {
    background-color: #303030;
    color: #ffffff !important;
}

.noc-console .banner {
    font-style: italic;
}

.noc-console .cmd {
    font-weight: bold;
    clear: both;
    border-bottom: 1px dotted white;
}

.noc-console .result {
}

.noc-inactive {
    background-color: #808080;
}

.noc-fail {
    background-color: #c05050;
}

.noc-numbers {
    float: left;
    text-align: right;
    background-color: #c0c0c0;
    border-right: 1px solid white;
    width: 30pt;
    padding-right: 2pt;
}

.noc-int-command {
}

.noc-int-login {
    color: #4471ed;
}

.noc-int-logout {
    color: #edc044;
}

.noc-int-reboot {
    color: #ed446e;
}

.noc-int-started {
    color: #44ed7f;
}

.noc-int-config {
    color: #edcb44;
}
/*
 * Graph styles
 */
.noc-graph-container {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.noc-graph-tooltip {
    position: absolute;
    display: none;
    border: 1px solid #000;
    padding: 7px;
    opacity: 0.80;
    color: #c8c8c8;
    background-color: #3a3939;
    z-index: 9999;
    overflow: hidden;
    border-radius: 5px;
    pointer-events: none;
    font-size: 11pt;
    font-weight : 200;
    max-width: 800px;
    max-height: 600px;
    line-height: 14px;
}

.noc-graph-tooltip .time {
    font-weight: bold;
    line-height: 20px;
}

.noc-graph-control {
    color: #e0e0e0;
    opacity: 0.80;
}

.noc-graph-control:hover {
    color: #b0b0b0;
}

.x-boundlist-item .item-description {
    color: #404040 !important;
    font-style: italic !important;
    padding-left: 10px !important;
}

.noc-alert {
    border-radius: 4px;
    border: 1px solid;
    padding: 4px;
    margin: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}

.noc-alert-success {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}

.noc-alert-info {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #9acfea;
}

.noc-alert-warning {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
}

.noc-alert-danger {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}

.x-form-focus {
    filter: brightness(0.95);
    -webkit-filter: brightness(0.95);
}

/*.element.highlighted.nocobject {*/
    /*outline: dashed 4px red;*/
/*}*/