#nav .x-panel-header-default {
    line-height: 16px;
}

.x-action-col-cell img {
    height: 16px;
    width: 15px;
}

/* Syntax highlight */
/* Override default */
pre.sh_sourceCode {
    background-color:#e7e7e7;
}

.sh_address {
    color: darkgreen;
}
/**/
.noc-tp {
    padding: 4px;
}

.noc-tp TABLE {
    border: 1px solid black;
    padding: 4px;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 8pt;
}

.noc-tp TABLE TH, .noc-tp TABLE TD {
    padding: 4px;
    border: 1px solid black;
}

.noc-tp TABLE TH {
    font-weight: bold;
    background-color:#e0e0e0;
}

TABLE {
    border-collapse: collapse;
    border-spacing: 0;
}

.noc-console {
    background-color: #303030;
    color: #ffffff !important;
}

.noc-console .banner {
    font-style: italic;
}

.noc-console .cmd {
    font-weight: bold;
    clear: both;
    border-bottom: 1px dotted white;
}

.noc-console .result {
}

.noc-inactive {
    background-color: #808080;
}

.noc-fail {
    background-color: #c05050;
}

.noc-numbers {
    float: left;
    text-align: right;
    background-color: #c0c0c0;
    border-right: 1px solid white;
    width: 30pt;
    padding-right: 2pt;
}

.noc-int-command {
}

.noc-int-login {
    color: #4471ed;
}

.noc-int-logout {
    color: #edc044;
}

.noc-int-reboot {
    color: #ed446e;
}

.noc-int-started {
    color: #44ed7f;
}

.noc-int-config {
    color: #edcb44;
}