#nav .x-panel-header-default {
    line-height: 16px;
}

.x-action-col-cell img {
    height: 16px;
    width: 15px;
}

/* Selectable grid */
.x-selectable, .x-selectable * {
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
}
/* Syntax highlight */
/* Override default */
pre.sh_sourceCode {
    background-color:#d0d0d0;
}

.sh_address {
    color: darkgreen;
}
/**/
.noc-tp {
    padding: 4px;
}

.noc-tp TABLE {
    border: 1px solid black;
    padding: 4px;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 12px;
}

.noc-tp TABLE TH, .noc-tp TABLE TD {
    padding: 4px;
    border: 1px solid black;
}

.noc-tp TABLE TH {
    font-weight: bold;
}