#nav .x-panel-header-default {
    line-height: 16px;
}

.x-action-col-cell img {
    height: 16px;
    width: 15px;
}

/* Selectable grid */
.x-selectable, .x-selectable * {
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
}
/* Syntax highlight */
/* Override default */
pre.sh_sourceCode {
    background-color:#d0d0d0;
}

.sh_address {
    color: darkgreen;
}
/**/
.noc-tp {
    padding: 4px;
}
