---
- include: "os/Debian/main.yml"
  when: ansible_distribution == "Debian"

- include: "os/FreeBSD/main.yml"
  when: ansible_distribution == "FreeBSD"

- include: "os/Ubuntu/main.yml"
  when: ansible_distribution == "Ubuntu"

- include: "os/CentOS/main.yml"
  when: ansible_distribution == "CentOS"

- name: Creating postgres directories
  file: path="{{item}}" state="directory" owner="{{postgres_user}}" mode=0700
  with_items:
    - "{{noc_root}}/var/etc/postgres"

- name: Setting pg_hba.conf
  lineinfile: dest="{{postgresql_hba_path}}" line="host    all             all             0.0.0.0/0            md5"
  notify: restart postgres
  register: s1

- name: Including postgres.conf
  lineinfile: dest="{{postgresql_conf_path}}" line="include = '{{ noc_root }}/var/etc/postgres/postgres.conf'"
  notify: restart postgres
  register: s2

- name: Setting config
  template: src="postgres.conf.j2" dest="{{ noc_root }}/var/etc/postgres/postgres.conf"
  notify: restart postgres
  register: s3

- name: Apply PostgreSQL config
  service: name="{{postgres_system_service}}" state=restarted
  when: s1.changed or s2.changed or s3.changed

- name: Enable postgres system service
  service: name="{{postgres_system_service}}" enabled=yes state=started

- name: Create user
  postgresql_user: name="{{noc_pg_user}}"
                   password="{{noc_pg_password}}"
                   role_attr_flags=CREATEDB,NOSUPERUSER
  become_user: "{{postgres_user}}"
  when: "'svc-postgres-master' in group_names"

- name: Create database
  postgresql_db: name="{{noc_pg_db}}"
                 encoding="UTF-8"
                 owner="{{noc_pg_user}}"
                 state="present"
  become_user: "{{postgres_user}}"
  when: "'svc-postgres-master' in group_names"
