//
// Create database and initialize users
//
(function() {
    var user = "{{ mongod_user }}",
        passwd = "{{ mongod_password }}",
        du = db.getUser(user);
    if(du) {
        db.changeUserPassword(user, passwd);
    } else {
        db.createUser({
            user: user,
            pwd: passwd,
            roles: [{role: "dbOwner", db: "{{mongod_db}}"}]
        });
    }
})();
