{% if result %}
{% load noctags %}
<h1>{{object.name}} ({{object.address}}) BFD Sessions</h1>

{% noctable %}
<table>
    <thead>
        <tr>
            <th>Neighbor</th>
            <th>State</th>
            <th>Interface</th>
            <th>Clients</th>
            <th>LD</th>
            <th>RD</th>
            <th>TX int</th>
            <th>Mult.</th>
            <th>Detect</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
            <tr>
                <td>{{r.remote_address}}</td>
                <td>{{r.state|bool_icon}}</td>
                <td>{{r.local_interface}}</td>
                <td>{{ r.clients }}</td>
                <td>{{r.local_discriminator}}</td>
                <td>{{r.remote_discriminator}}</td>
                <td>{{r.tx_interval}}</td>
                <td>{{r.multiplier}}</td>
                <td>{{r.detect_time}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endnoctable %}
{% else %}
No data!!!
{% endif %}