{% if result %}
    {% load noctags %}
    <h1>{{object.name}} ({{object.address}}) LLDP neighbors</h1>
    
    {% noctable %}
    <table>
        <thead>
            <tr>
                <th>Local interface</th>
                <th>Remote System</th>
                <th>Remote Port</th>
                <th>Remote Caps</th>
        </thead>
        <tbody>
            {% for i in result %}
                {% for n in i.neighbors %}
                    <tr>
                        <td>{{i.local_interface}}</td>
                        <td>{{n.remote_system_name}}<br/>
                            {{n.remote_chassis_id}}</td>
                        <td>{{n.remote_port}}</td>
                        <td>{{n.remote_capabilities}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endnoctable %}
{% else %}
    No data!!!
{% endif %}