{% if result %}
{% load noctags %}
<h1>{{object.name}} ({{object.address}}) ARP Cache</h1>

{% noctable %}
<table>
    <thead>
        <tr><th>IP</th><th>MAC</th><th>Interface</th><th>Commands</th></tr>
    </thead>
    <tbody>
        {% for r in result %}
            <tr>
                <td>{{r.ip}}</td>
                <td>{{r.mac}}</td>
                <td>{{r.interface}}</td>
                <td>
                    {% if "ping" in object.profile.scripts  and r.mac != "FF:FF:FF:FF:FF:FF" %}
                        <a href='{% url sa:managedobject:script object.id "ping" "HTML" %}?address={{r.ip}}'>ping</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endnoctable %}
{% else %}
No data!!!
{% endif %}