{% if result %}
{% load noctags %}
<h1>{{object.name}} ({{object.address}}) MPLS VPNs</h1>

{% noctable %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>RD</th>
            <th>Description</th>
            <th>Interfaces</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
            <tr>
                <td>{{r.name}}</td>
                <td>{{r.type}}</td>
                <td>{{r.status}}</td>
                <td>{{r.rd}}</td>
                <td>{{r.description}}</td>
                <td>{{r.interfaces|join:", "}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endnoctable %}
{% else %}
No data!!!
{% endif %}