{% if result %}
{% load noctags %}

<h1>{{object.name}} ({{object.address}}) MAC address table</h1>

{% noctable %}
<table>
    <thead>
        <tr><th>MAC</th><th>VLAN</th><th>Interfaces</th><th>Type</th></tr>
    </thead>
    <tbody>
        {% for r in result %}
            <tr class="{%cycle 'row1' 'row2'%}">
                <td>{{r.mac}}</td>
                <td>{{r.vlan_id}}</td>
                <td>{{r.interfaces|join:", "}}</td>
                <td>{{r.type}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endnoctable %}
{% else %}
No data!!!
{% endif %}