$button-small-border-radius: $border-radius;
$button-toolbar-background-color-focus: transparent;
$button-default-body-outline-color-focus: transparent;

.x-toolbar-item.x-btn-default-toolbar-small {
  &,
  &.x-btn-focus.x-btn-over {
    $darken-white: darken($color-white, 10%);

    @include background-gradient($darken-white, matte, top);
    box-shadow: 0 0 2px $color-midnight-blue;
    margin: 2px;

    .x-btn-button {
      font-size: $font-size-base;
      padding: 5px;
    }

    &.x-btn-pressed {
      @include background-gradient($darken-white, matte-reverse, top);
    }
  }
}