#jinja2: lstrip_blocks: True
{% if nbi_whitelist_access is defined and nbi_whitelist_access %}
{% set ipadr = nbi_whitelist_access.split(',') %}
{% for ip in ipadr %}
allow {{ ip }};
{% endfor %}
deny all;
{% endif %}