.x-tab {
	$shadow: 0 0 2px $color-midnight-blue;

	&.x-tab-default,
	&.x-tab-focus.x-tab-default,
	&.x-tab-active.x-tab-default,
	&.x-tab-active.x-tab-focus.x-tab-default {
		@include background-gradient($darken-white, matte, top);
		box-shadow: $shadow;
		border: none;
		margin: 2px;
		border-radius: $border-radius;
		outline: none;

		.x-tab-inner {
			color: $color;
		}
	}

	&.x-tab-active.x-tab-default,
	&.x-tab-focus.x-tab-default,
	&.x-tab-active.x-tab-focus.x-tab-default {
		@include background-gradient($darken-white, matte-reverse, top);
		box-shadow: $shadow inset;
	}
}
