---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Create Grafana directories
  file:
    path: "{{ noc_root }}/{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
  with_items:
    - path: var/etc/grafana
      owner: root
    - path: var/db/grafana
      owner: "{{ grafana_user }}"
    - path: var/db/grafana_plugins
      owner: "{{ grafana_user }}"

- name: Create Grafana config
  template:
    src: grafana.ini
    dest: "{{ noc_root }}/var/etc/grafana/grafana.ini"
  notify: restart grafana
  tags:
    - config

- name: Start Grafana service
  service:
    name: "{{ grafana_system_service }}"
    enabled: yes
    state: started

- name: Set up dynamic dashboards
  copy:
    src: noc.js
    dest: "{{ grafana_home }}/public/dashboards/noc.js"

- name: Install Grafana simple datasource plugin
  shell: "grafana-cli --pluginsDir {{ noc_root }}/var/db/grafana_plugins plugins install grafana-simple-json-datasource"
  args:
    creates: "{{ noc_root }}/var/db/grafana_plugins/grafana-simple-json-datasource/src/datasource.js"
  notify: restart grafana
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements
