- name: add pgdg key
  apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
  environment:
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Add PGDG repo
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ jessie-pgdg main"
  tags:
    - repo

- name: Create required directories
  file:
    path: "{{item}}"
    state: "directory"
    mode: 0755
    owner: "{{pgbouncer_user}}"
  with_items:
    - "{{etc_prefix}}/pgbouncer"
    - "/var/log/pgbouncer"

- name: Install pgbouncer config
  template:
    src: "etc/pgbouncer/pgbouncer.ini.j2"
    dest: "{{etc_prefix}}/pgbouncer/pgbouncer.ini"
  notify: reload pgbouncer
  no_log: true
  tags:
    - config

- name: Install pgbouncer
  apt:
    name: pgbouncer
    update_cache: yes
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Create required directories
  file:
    path: "{{item}}"
    state: "directory"
    mode: 0755
    owner: "{{pgbouncer_user}}"
  with_items:
    - "{{etc_prefix}}/pgbouncer"
    - "/var/log/pgbouncer"

- name: Install pgbouncer limits file
  template:
    src: "etc/security/limits.d/pgbouncer_limits.conf.j2"
    dest: "/etc/security/limits.d/pgbouncer_limits.conf"
  tags:
    - config

- name: create systemd override dir
  file:
    path: "/etc/systemd/system/pgbouncer.service.d/"
    state: directory
  tags:
    - config

#https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
#
# order will be by filenaming.
# /etc/systemd/system/pgbouncer.service.d/noc.conf
#[Service]
#LimitNOFILE=1000
# /etc/systemd/system/pgbouncer.service.d/override.conf
#[Service]
#LimitNOFILE=5000
#
- name: Install pgbouncer override.conf
  template:
    src: "etc/override.conf.j2"
    dest: "/etc/systemd/system/pgbouncer.service.d/noc.conf"
  notify: reload systemd
  tags:
    - config

- name: Install pgbouncer logrotated config
  template:
    src: "etc/pgbouncer.j2"
    dest: "/etc/logrotate.d/pgbouncer.conf"
  when: "'Linux' in ansible_system"
  tags:
    - config