---
- name: Set mongod defaults
  template:
    src: "os/FreeBSD/etc/default/mongod.j2"
    dest: "/usr/local/etc/mongodb.conf"
  notify: restart mongod
  tags:
    - config

- name: Setting limits
  lineinfile: dest=/etc/rc.conf regexp=^mongod_limits= line=mongod_limits=\"YES\"

- name: Install MongoDB
  pkgng:
    name: "mongodb{{mongod_version|replace('.','')}}"
    state: present
  tags:
    - requirements

- name: Add newsyslogd rules
  template:
    src: "os/FreeBSD/mongo.conf"
    dest: "/usr/local/etc/newsyslog.conf.d/mongo.conf"
