# {{ ansible_managed }}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/administrativedomain.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/administrativedomain.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/alarmclass.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/alarmclass.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/container.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/container.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/interfaceprofile.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/interfaceprofile.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/managedobject.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/managedobject.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/networksegment.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/networksegment.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/platform.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/platform.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/pool.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/pool.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/profile.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/profile.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/vendor.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/vendor.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/version.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/version.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/interfacedescription.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/interfacedescription.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}
template {
  source = "{{consul_template_ch_dictionaries_dir}}/interfaceattributes.xml.ctmpl"
  destination = "{{ ch_dictionaries_path }}/interfaceattributes.xml"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}