# {{ ansible_managed }}
template {
  source = "{{ consul_template_templates_dir }}/zoo.cfg.ctmpl"
  destination = "{{zookeeper_config_dir}}/zoo.cfg"
  command = "{{ zookeeper_reload_command }}"
  command_timeout = "60s"
  perms = 0644
  backup = true
  wait {
    min = "2s"
    max = "10s"
  }
}