<div class="noc-welcome-title">Welcome to the NOC Project!</div>
<div class="noc-welcome-body">
<img id="noc-welcome-logo" src="/static/img/logo_black.svg" width="32" height="32"/>
<a href="http://nocproject.org">NOC</a> is an Operation Support System (OSS)
for telecom companies, service providers, and enterprise Network Operation Centers
(<a href="http://en.wikipedia.org/wiki/Network_operations_center" target="_blank">NOC</a>).<br/>
NOC is open source and released under the terms of <a href="http://kb.nocproject.org/display/SITE/License" target="_blank">BSD LICENSE</a>.
Read <a href="http://kb.nocproject.org/display/SITE/About" target="_blank">more...</a><br/><br/>

<h2>Getting started:</h2>
<i class="fa fa-hand-o-right"></i> <a href="http://kb.nocproject.org/display/SITE/Registration" target="_blank">Join the Project</a><br/>
<i class="fa fa-desktop"></i> <a href="http://nocproject.org/" target="_blank">Official site</a><br/>
<i class="fa fa-book"></i> <a href="http://kb.nocproject.org/display/DOC/Home" target="_blank">Online documentation</a><br/>
<i class="fa fa-question-circle"></i> <a href="http://kb.nocproject.org/questions" target="_blank">Ask questions</a><br/>
<i class="fa fa-question-circle"></i> <a href="http://kb.nocproject.org/display/FAQ/Home" target="_blank">FAQ</a><br/>
<i class="fa fa-bug"></i> <a href="http://bt.nocproject.org/" target="_blank">Issue Tracker</a><br/>

<h2>Follow us:</h2>
    <i class="fa fa-bullhorn"></i> <a href="https://telegram.me/nocproject" target="_blank">Telegram group</a><br/>
    <i class="fa fa-linkedin"></i> <a href=http://www.linkedin.com/company/nocproject-org?trk=fc_badge" target="_blank">LinkedIn</a><br/>
    <i class="fa fa-twitter"></i> <a href="http://www.twitter.com/nocproject_org" target="_blank">Twitter</a><br/>
    <i class="fa fa-bitbucket"></i> <a href="https://bitbucket.org/nocproject/noc" target="_blank">Bitbucket</a><br/>
    <i class="fa fa-youtube"></i> <a href="http://www.youtube.com/user/thenocproject" target="_blank">YouTube</a><br/>
    <i class="fa fa-info-circle"></i> <a href="http://www.openhub.net/p/noc/" target="_blank">Open Hub</a>
</div>
