<div class="noc-welcome-title">Welcome to the NOC Project!</div>
<div class="noc-welcome-body">
<img id="noc-welcome-logo" src="/static/img/logo_black.svg" width="32" height="32"/>
<a href="http://nocproject.org">NOC</a> is an Operation Support System (OSS)
for telecom companies, service providers, and enterprise Network Operation Centers
(<a href="http://en.wikipedia.org/wiki/Network_operations_center">NOC</a>).<br/>
NOC is open source and released under the terms of <a href="http://kb.nocproject.org/display/SITE/License">BSD LICENSE</a>.
Read <a href="http://kb.nocproject.org/display/SITE/About">more...</a><br/><br/>

<h2>Getting started:</h2>
<i class="fa fa-hand-o-right"></i> <a href="http://kb.nocproject.org/display/SITE/Registration">Join the Project</a><br/>
<i class="fa fa-desktop"></i> <a href="http://nocproject.org/">Official site</a><br/>
<i class="fa fa-book"></i> <a href="http://kb.nocproject.org/display/DOC/Home">Online documentation</a><br/>
<i class="fa fa-question-circle"></i> <a href="http://kb.nocproject.org/questions">Ask questions</a><br/>
<i class="fa fa-question-circle"></i> <a href="http://kb.nocproject.org/display/FAQ/Home">FAQ</a><br/>
<i class="fa fa-bug"></i> <a href="http://bt.nocproject.org/">Issue Tracker</a><br/>

<h2>Follow us:</h2>
    <i class="fa fa-bullhorn"></i> <a href="https://telegram.me/nocproject">Telegram group</a><br/>
    <i class="fa fa-linkedin"></i> <a href=http://www.linkedin.com/company/nocproject-org?trk=fc_badge">LinkedIn</a><br/>
    <i class="fa fa-twitter"></i> <a href="http://www.twitter.com/nocproject_org">Twitter</a><br/>
    <i class="fa fa-bitbucket"></i> <a href="https://bitbucket.org/nocproject/noc">Bitbucket</a><br/>
    <i class="fa fa-youtube"></i> <a href="http://www.youtube.com/user/thenocproject">YouTube</a><br/>
    <i class="fa fa-info-circle"></i> <a href="http://www.openhub.net/p/noc/">Open Hub</a>
</div>
