---
- name: "Include OS-specific tasks"
  include_tasks: "os/{{ ansible_distribution }}/main.yml"

- name: Install classifier python packages
  pip:
    chdir: "{{ noc_root }}"
    requirements: "requirements/classifier.txt"
    virtualenv: "{{ noc_root }}"
  environment:
    https_proxy: "{{ http_proxy }}"
    http_proxy: "{{ http_proxy }}"
    CFLAGS: "{{ pip_cflags | default('') }}"
    LDFLAGS: "{{ pip_ldflags | default('') }}"
  tags:
    - requirements
