{
  "service": {
    "name": "memcached",
    "tags": [ ],
    "port": 11211,
    "enableTagOverride": false,
    "check": {
{% if ansible_distribution in ['RedHat'] %}
        "script": "echo stats | nc localhost 11211 | grep uptime ||(exit 2)",
{% elif ansible_distribution in ['CentOS'] %}
        "script": "echo stats | nc localhost 11211 | grep uptime ||(exit 2)",
{% elif  ansible_distribution in ['FreeBSD'] %}
        "script": "echo stats | nc -N localhost 11211 | grep uptime ||(exit 2)",
{% else %}
        "script": "echo stats | nc -q 1 localhost 11211 | grep uptime ||(exit 2)",
{% endif %}
        "interval": "10s"
    }
  }
}
