[Unit]
Description=Realtime distributed messaging (nsqd)
After=network.target

[Service]
ExecStart={{nsq_root}}/nsqd -config {{nsqd_config_dir}}/nsqd.conf
Restart=always
User=nsq
Group=nsq

[Install]
WantedBy=multi-user.target