file:
  {{ nginx_conf_path }}:
    exists: true
    mode: "0644"
    owner: {{ nginx_user }}
    group: root
    filetype: file
    contains: []
  {{ nginx_conf_upstream_path }}:
    exists: true
    mode: "0644"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ nginx_ssl_cert_path }}:
    exists: true
    mode: "0400"
    owner: {{ nginx_user }}
    group: root
    filetype: file
    contains:
      - '-----BEGIN CERTIFICATE-----'
  {{ nginx_ssl_key_path }}:
    exists: true
    mode: "0400"
    owner: {{ nginx_user }}
    group: root
    filetype: file
    contains:
      - '-----BEGIN PRIVATE KEY-----'
package:
  nginx:
    installed: true
port:
{% if nginx_http_redirect_enabled | bool %}
  tcp:80:
    listening: true
    ip:
    - 0.0.0.0
{% endif %}
  tcp:443:
    listening: true
    ip:
    - 0.0.0.0
service:
  nginx:
    enabled: true
    running: true
{% if ansible_distribution in ['RedHat', 'CentOS'] %}
user:
  {{ nginx_user }}:
    exists: true
    groups:
    - nginx
    home: /var/cache/nginx
    shell: /sbin/nologin
group:
  nginx:
    exists: true
{% endif %}
process:
  nginx:
    running: true
command:
  nginx -t:
    exit-status: 0
    stdout: []
    stderr:
    - 'nginx: the configuration file /etc/nginx/nginx.conf syntax is ok'
    - 'nginx: configuration file /etc/nginx/nginx.conf test is successful'
    timeout: 10000
{% if molecule_yml is not defined %}
{% if nginx_permit_firewall | bool %}
  /sbin/iptables-save | grep "dport 443":
    exit-status: 0
    stdout:
    - /ACCEPT/
    stderr: []
    timeout: 10000
{% endif %}
{% endif %}
