---
- name: add clickhouse group
  group:
    name: clickhouse

- name: add clickhouse user
  user:
    name: clickhouse
    shell: "{{ fake_shell }}"

- name: Create ch directories
  file:
    path: "{{ item }}"
    state: "directory"
    mode: 0775
    group: clickhouse
    owner: clickhouse
    recurse: "True"
  with_items:
    - "{{ ch_etc_path }}"
    - "{{ ch_log_dir }}"
    - "{{ ch_data_dir }}"
    - "{{ ch_big_query_dir }}"
    - "{{ ch_dictionaries_path }}"

- name: "Include OS-specific tasks"
  include_tasks: "os/{{ ansible_distribution }}/main.yml"
  tags:
    - requirements
    - repo

- name: install users.xml
  template:
    src: "users.xml"
    dest: "{{ ch_etc_path }}/"
    owner: clickhouse
    group: clickhouse
    mode: "0640"
  no_log: "{{ tower_show_secrets }}"
  notify: reload clickhouse-server
  tags:
    - config

- name: install config.xml
  template:
    src: "config.xml"
    dest: "{{ ch_etc_path }}/"
    owner: clickhouse
    group: clickhouse
    mode: "0644"
  no_log: "{{ tower_show_secrets }}"
  notify: restart clickhouse-server
  tags:
    - config

- name: place clickhouse ct template
  include_role:
    name: consul-template
    tasks_from: service
  vars:
    ct_service_name: "{{ item[:-10]| basename }}"
    ct_service_source: "{{ item | basename }}"
    ct_service_dest: "{{ ch_dictionaries_path }}/{{ item[:-6] |basename }}"
    ct_service_source_template: "False"
  with_fileglob:
    - "*.ctmpl"
  tags:
    - config

- name: install config overrides
  template:
    src: "noc.xml"
    dest: "{{ ch_etc_path }}/noc.xml"
    force: "False"
    owner: clickhouse
    group: clickhouse
    mode: "0644"
  no_log: "{{ tower_show_secrets }}"
  notify: reload clickhouse-server
  tags:
    - config

- name: force permissions
  file:
    dest: "{{ ch_etc_path }}/noc.xml"
    owner: clickhouse
    group: clickhouse
    mode: "0644"
  tags:
    - config

- name: Start clickhouse service
  service:
    name: "{{ clickhouse_service_name }}"
    enabled: "True"
    state: started

- name: create grafana ds
  include_tasks: ds.yml
  when:
    - "'svc-grafana-exec' in groups"
    #ha setup will take care of datasource by itself
    - has_svc_ha_clickhouse is not defined

- name: place consul check
  import_role:
    name: consul
    tasks_from: service
  vars:
    consul_service_name: clickhouse
    consul_service_tags: ""
    consul_service_port: "{{ clickhouse_http_port }}"
    consul_service_check_type: "http"
    consul_service_check_value: "http://localhost:{{ clickhouse_http_port }}/"
    consul_service_check_interval: "10s"
    consul_service_check_http_skip_verify: "False"

- name: Install clickhouse monitoring
  include_role:
    name: monitoring
    tasks_from: monitor
  vars:
    monitoring_service_name: clickhouse
    monitoring_service_tags: ""
    monitoring_service_port: 8123
    monitoring_service_address: "{{ ansible_host }}"
    monitoring_service_check_interval: "10s"
    monitoring_service_procstat_check: "True"
    monitoring_service_procstat_type: pattern
    monitoring_service_procstat_value: clickhouse-server
  when: has_svc_monitoring is defined
  tags:
    - monitoring
