---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Install packages
  pip: 
    chdir: "{{noc_root}}"
    virtualenv: "{{noc_root}}"
    extra_args: "--trusted-host cdn.getnoc.com --find-links https://cdn.getnoc.com/npkg/simple/ --allow-all-external --upgrade"
    requirements: "requirements/dev.txt"
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"
    CFLAGS: "{{ pip_cflags | default('') }}"
    LDFLAGS: "{{ pip_ldflags | default('') }}"

- name: Install assets
  command: "{{ noc_root }}/scripts/deploy/install-packages requirements/{{ item }}.json"
  args:
    chdir: "{{ noc_root }}"
  register: s
  changed_when: "'CHANGED' in s.stdout"
  with_items: "{{ required_assets }}"
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements