{% extends "template/template.html" %}
<{% block content %}
<h1>Object: {{o.handler_class_name}}::{{o.repo_path}}</h1>
<DIV CLASS="module">
    <TABLE SUMMARY="Object info" WIDTH="100%">
        <CAPTION>Object info</CAPTION>
        <TR><TD><b>ID</b></TD><TD>{{o.id}}</TD></TR>
        <TR><TD><b>Repo Path</b></TD><TD>{{o.repo_path}}</TD></TR>
        <TR><TD><b>Revision</b></TD><TD>{{r.revision}}</TD></TR>
        <TR><TD><b>Modified</b></TD><TD>{{r.date}}</TD></TR>
        <TR><TD><b>Categories</b></TD><TD>{% for c in o.categories.all %} {{c}} {% endfor %}</TD></TR>
    </TABLE>
</DIV>

<DIV CLASS="module">
    <TABLE SUMMARY="Content" WIDTH="100%">
        <CAPTION>Content</CAPTION>
        <TR><TD><PRE>{{content}}</PRE></TD></TR>
    </TABLE>
</DIV>
<A HREF="text/">Plain Text</A>

<DIV CLASS="module">
    <TABLE SUMMARY="Revisions" WIDTH="100%">
        <CAPTION>Revisions</CAPTION>
        {% for rev in o.revisions %}
            <TR><TD><A HREF="/cm/view/{{o.id}}/{{rev.revision}}/">
                {% ifequal r.revision rev.revision%}--&gt;{%endifequal%}
                {{rev.revision}}</A></TD><TD>{{rev.date}}</TD></TR>
        {% endfor %}
    </TABLE>
</DIV>
{%endblock%}