---
- name: Creating mongodb directories
  file:
    path: "{{ item }}"
    state: "directory"
    mode: 0755
  with_items:
    - "{{ mongo_dir }}"

- name: Setting mongod config
  template:
    src: mongod.conf.j2
    dest: "{{ mongo_conf }}"
  notify: restart mongod
  tags:
    - config

- name: Setting mongod-arbiter config
  template:
    src: mongod-arbiter.conf.j2
    dest: "{{ mongo_dir }}/mongod-arbiter.conf"
  notify: restart mongod-arbiter
  when: "has_svc_mongod_arbiter | default(False)"
  tags:
    - config

- name: Generating mongo key file
  template:
    src: "mongo.key.j2"
    dest: "{{ mongo_dir }}/mongo.key"
  no_log: true

- include_tasks: "os/{{ ansible_distribution }}/main.yml"

- name: Setting mongo.key permissions
  file:
    path: "{{ mongo_dir }}/mongo.key"
    owner: "{{ mongo_user }}"
    mode: 0400

- name: Install MongoDB logrotated config
  template:
    src: "etc/logrotate.d/mongod.conf.j2"
    dest: "/etc/logrotate.d/mongod.conf"
  when: "'Linux' in ansible_system and 'file' in mongo_logging_driver"
  tags:
    - config

- name: Enable MongoDB system service
  service:
    name: "{{ mongod_system_service }}"
    enabled: yes
    state: started

- name: Create MongoDB arbiter directory
  file:
    path: "{{ noc_root }}/var/db/mongo-arbiter"
    owner: "{{ mongo_user }}"
    group: "{{ mongo_user }}"
    mode: 0700
    state: directory
  when: "has_svc_mongod_arbiter | default(False)"

- name: Install MongoDB arbiter logrotated config
  template:
    src: "etc/logrotate.d/mongod-arbiter.conf.j2"
    dest: "/etc/logrotate.d/mongod-arbiter.conf"
  when: "has_svc_mongod_arbiter | default(False) and 'Linux' in ansible_system"
  tags:
    - config

- name: Install shell.js
  template:
    src: shell.js.j2
    dest: "{{ mongo_dir }}/shell.js"
  no_log: true
  tags:
    - config

- name: Enable MongoDB arbiter system service
  service:
    name: "{{ mongod_arbiter_system_service }}"
    enabled: yes
    state: started
  when: "has_svc_mongod_arbiter | default(False)"

- include_tasks: "master.yml"
  when: "has_svc_mongod_master  | default(False)"
  tags:
    - rs_init

- name: Install mongodb monitoring
  template:
    src: "etc/telegraf/telegraf.d/mongodb.conf.j2"
    dest: "{{ telegraf_confd_path }}/mongodb.conf"
  notify: reload telegraf
  when:
    - "'svc-telegraf' in groups"
    - "inventory_hostname in groups['svc-telegraf-exec']"
  no_log: true
  tags:
    - config
    - telegraf

- name: copy mongodb consul templates
  template:
    src: mongodb.json
    dest: "{{consul_configd_path}}"
  notify:
    - reload consul
  tags:
    - consul

- name: copy mongodb check script
  template:
    src: mongodb.sh.j2
    dest: "{{consul_scripts_path}}/mongodb.sh"
    mode: 0755
  notify:
    - reload consul
  no_log: true
  tags:
    - consul