- name: add clickhouse group
  group:
    name: clickhouse

- name: add clickhouse user
  user:
    name: clickhouse
    shell: "{{fake_shell}}"

- name: Create ch directories
  file:
    path: "{{item}}"
    state: "directory"
    mode: 0755
    group: clickhouse
    owner: clickhouse
  with_items:
    - "{{ch_etc_path}}"
    - "{{ch_log_dir}}"
    - "{{ch_data_dir}}"
    - "{{ch_big_query_dir}}"
    - "{{ch_dictionaries_path}}"

- name: "Include OS-specific tasks"
  include_tasks: "os/{{ ansible_distribution }}/main.yml"

- name: install configs
  template:
    src: "{{item}}"
    dest: "{{ch_etc_path}}/"
  no_log: true
  notify: reload clickhouse-server
  with_items:
    - "config.xml"
    - "users.xml"

- name: install config overrides
  template:
    src: "noc.xml"
    dest: "{{ ch_etc_path }}/noc.xml"
    force: no
  no_log: true
  notify: reload clickhouse-server
  tags:
    - config

- name: copy clickhouse consul templates
  template:
    src: clickhouse.json.j2
    dest: "{{consul_configd_path}}/clickhouse.json"
  notify: reload consul
  tags:
    - consul

- name: Start clickhouse service
  service:
    name: "{{clickhouse_service_name}}"
    enabled: yes
    state: started
