---
forms:
  mx:
    description: >
      <strong>Service type</strong>: Internal <br/>
      <strong>Short description</strong>: MX service <br/>
      <strong>Long description</strong>: MX sevice send messages over noc components<br/>
      <strong>Scale Recommendations</strong>: At least one per installation. <br/>
      <strong>docs</strong>: <a href=https://docs.getnoc.com/services-reference/mx/ target=_blank>MX</a><br/>
      <strong>Placement constraint</strong>: No special recommendations. <br/>
    power:
      default: 1
      label: "Instances"
      type: int
      max: 8
      min: 0
    loglevel:
      default: info
      label: Loglevel
      type: list
      options:
        - disabled
        - debug
        - info
        - warning
        - error
        - critical

services:
  mx:
    level: global
    category: internal
    supervisord:
      command: "./services/mx/service.py"
      process_name: "%(program_name)s-%(process_num)02d"
      oom_score_adj: 100
      priority: 110
      startretries: 999
      stopwaitsecs: 3
      stdout_logfile_maxbytes: 10MB
      stdout_logfile_backups: 3
    depends:
      - noc
