- name: reload systemd
  become: yes
  systemd:
    name: "{{ mongod_system_service }}"
    daemon_reload: yes

- name: restart mongod
  become: yes
  service:
    name: "{{ mongod_system_service }}"
    state: restarted

- name: restart mongod-arbiter
  become: yes
  service:
    name: "{{ mongod_arbiter_system_service }}"
    state: restarted

- name: reload telegraf
  become: yes
  service:
    name: telegraf
    state: reloaded

- name: reload consul
  become: yes
  service:
    name: consul
    state: reloaded
