#!/bin/sh

# PROVIDE: nsqd
# REQUIRE: DAEMON
# BEFORE: LOGIN
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf to
# enable nsqd:
#
# nsqd_enable (bool): Set to NO by default.
#                     Set it to YES to enable nsqd
#

. /etc/rc.subr

name="nsqd"
rcvar=nsqd_enable

load_rc_config $name

: ${nsqd_enable="NO"}
: ${nsqd_config="{{ nsqd_config_dir }}/${name}.conf"}

command="{{ nsq_root }}/${name}"
start_precmd=nsqd_prestart
extra_commands="reload"

command_args="-config ${nsqd_config} > {{ nsd_log_dir }}/nsqd.log 2>&1 &"

nsqd_prestart() {
# Have to empty rc_flags so they don't get passed to daemon(8)
    rc_flags=""
    if [ ! -f "${nsqd_config}" ]; then
        sleep 10
    fi
}

run_rc_command "$1"
