{
  "bind_addr": "{{ consul_bind_address }}",
  "addresses": {
    "dns": "{{ consul_dns_bind_address }}",
    "http": "{{ consul_http_bind_address }}",
    "https": "{{ consul_https_bind_address }}"
  },
  {% if consul_ports -%}
    "ports": {{ consul_ports | to_nice_json }},
  {% endif -%}
  {% if consul_recursors|length > 0 -%}
    "recursors": [ {% set comma = joiner(", ") -%}
      {% for recursor in consul_recursors -%}
        {{ comma() }}"{{ recursor }}"
      {%- endfor %} ],
  {% endif -%}
  "bootstrap": false,
  "server": true,
  "check_update_interval": "0s",
  "node_name": "{{ consul_node_name }}",
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_path }}",
  "encrypt": "{{ consul_raw_key }}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": {{ consul_syslog_enable|lower }},
  "enable_script_checks": true,
  "retry_interval": "3s",
  "retry_join": [ {% set comma_nodes = joiner(", ") -%}
  {% for n in groups['svc-consul-server'] %}
      {{ comma_nodes() }}"{{hostvars[n].ansible_host}}"
  {% endfor %}]
}
