[Unit]
Description=High-performance, schema-free document-oriented database
Documentation=https://docs.mongodb.org/manual
After=syslog.target network.target

[Service]
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitRSS=infinity
LimitNPROC=64000
TasksMax=infinity
TasksAccounting=false
# Recommended limits for for mongod as specified in
# http://docs.mongodb.org/manual/reference/ulimit/#recommended-settings
User={{ mongo_user }}
Group={{ mongo_user }}
PIDFile={{ mongo_pid }}
Environment="OPTIONS= -f {{ mongo_conf }}"
PermissionsStartOnly=true
ExecStartPre=/bin/touch {{ mongo_pid }}
ExecStartPre=/bin/chown {{ mongo_user }}:{{ mongo_user }} {{ mongo_pid }}
ExecStart=/usr/bin/mongod $OPTIONS

[Install]
WantedBy=multi-user.target
