{% extends "template.html" %}
{% load noctags %}
{% block content %}
<h1>{{app.title}}</h1>
<div class="module">
    {% noctable %}
    <table width="100%">
        <caption>Choose snippet...</caption>
        {% for s in snippets %}
            <tr class="{%cycle 'row1' 'row2'%}">
                <td style="width: 200px">
                    <a href="{% url sa:runsnippet:snippet s.id %}">
                        {{s.name}}
                    </a>
                </td>
                <td>{{s.description}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endnoctable %}
</div>
{% endblock %}
