# General settings
#
# for os specific see pre role

# packages
postgresql_version: "{{ lookup('env','POSTGRES_VERSION') | default(9.4, True)}}"
mongo_version: "{{ lookup('env','MONGO_VERSION') | default(3.2, True)}}"
grafana_version: "4.3.1"
nsq_version: "0.3.8"
telegraf_version: "1.2.1-1"

consul_version: "0.8.1"
consul_url: "{{ lookup('env','CONSUL_URL')}}"
consul_token: "{{lookup('env','CONSUL_TOKEN')}}"
consul_env: '{{ True if (consul_url and consul_token) else False}}'

consul_template_version: "0.18.2"
consul_template_config_dir: "{{etc_prefix}}/consul-template/config"
consul_template_templates_dir: "{{consul_template_config_dir}}/templates"

telegraf_prometheus_enabled: "{{lookup('env','PROMETHEUS_ENABLED') | default(False, True)}}"
telegraf_influxdb_enabled: "{{lookup('env','INFLUXDB_ENABLED') | default(True, True)}}"

tower_ip: 127.0.0.1
tower_path: /opt/tower
tower_dist_dir: "{{tower_path}}/var/tower/data/src_dist"
tower_version: "{{lookup('env','TOWER_VERSION')}}"
tower_minimum_version: "0.1a66"
http_proxy:  "" # just default. please set actual variable via tower on DC tab

noc_prefix: /opt
noc_root: "{{noc_prefix}}/noc"

grafana_group: grafana
grafana_home: /usr/share/grafana
grafana_system_service: grafana-server
grafana_user: grafana
grafana_pg_user: grafana
grafana_pg_password:
grafana_pg_db: grafana

etc_prefix: /etc

influx_path: /usr/bin/influx
influxdb_conf: /etc/influxdb/influxdb.conf
influxdb_db_path_meta: "{{ lookup('env','INFLUXDB_META_DIRECTORY') | default('/var/lib/influxdb/meta', True) }}"
influxdb_db_path_data: "{{ lookup('env','INFLUXDB_DATA_DIRECTORY') | default('/var/lib/influxdb/data', True) }}"
influxdb_db_path_wal: "{{ lookup('env','INFLUXDB_WAL_DIRECTORY') | default('/var/lib/influxdb/wal', True) }}"
influxdb_group: influxdb
influxdb_system_service: influxdb
influxdb_user: influxdb
mongo_arbiter_log_path: /var/log/mongodb/mongod-arbiter.log
mongo_arbiter_pid: /var/run/mongodb/mongod-arbiter.pid
mongo_db_path: /var/lib/mongo/
mongo_fork: "false"
mongo_log_path: /var/log/mongodb/mongod.log
mongo_path: /usr/bin/mongo
mongo_pid: /var/run/mongodb/mongod.pid
mongo_user: mongodb
mongod_arbiter_system_service: mongod-arbiter
mongod_path: /usr/bin/mongod
mongod_system_service: mongod
nginx_conf_path: /etc/nginx/conf.d/noc.conf
nginx_log_dir: /var/log/nginx
nginx_path: /usr/sbin/nginx
nginx_ssl_cert_path: /etc/nginx/ssl/noc.crt
nginx_ssl_key_path: /etc/nginx/ssl/noc.key
nginx_system_service: nginx
nginx_user: nginx
noc_service_pidfile: /var/run/noc.pid
noc_system_service: noc

#Memtune
kernel_shmall: "{{ ansible_memtotal_mb * 128 }}"
kernel_shmmax: "{{ kernel_shmall|int() * 4096 }}"

postgres_path: /usr/bin/postgres
postgres_system_service: postgresql
postgres_user: postgres
postgres_listen: 5432

patroni_listen: 8008
haproxy_patroni_listen: 5000

apt_cache_valid_time: 86400
pycurl_ssl_library: openssl

memcahed_user: memcache
memcahed_log_file: /var/log/memcached.log
memcahed_conf: /etc/memcached.conf

# Alerta http://docs.alerta.io/en/latest/api/reference.html
# seconds
alerta_blackout_duration: 300


vg_name: vg00
vg_device: /dev/sdb

vg_fast_name: vg_fast
vg_fast_device: /dev/sdb

wal_lv_size: 256M
wal_mount_point: /wal
wal_fs: xfs

influx_data_lv_size: 2G
influx_data_mount_point: /data/influx
influx_data_fs: xfs

mongo_index_lv_size: 1G
mongo_index_mount_point: /data/mongo_index
mongo_index_fs: xfs

mongo_data_lv_size: 4G
mongo_data_mount_point: /data/mongo
mongo_data_fs: xfs

postgres_data_lv_size: 4G
postgres_data_mount_point: /data/postgres
postgres_data_fs: xfs

nsq_cache_lv_size: 10G
nsq_cache_mount_point: /opt/noc/var/db/nsq
nsq_cache_fs: xfs

opt_lv_size: 5G
opt_mount_point: /opt/noc
opt_fs: xfs

sentry_scheme: "{{ lookup('env','SENTRY_SCHEME') | default('https', True)}}"
sentry_host: "{{ lookup('env','SENTRY_HOST') | default('localhost', True)}}"
sentry_public_key: "{{ lookup('env','SENTRY_PUBLIC_KEY') }}"
sentry_secret_key: "{{ lookup('env','SENTRY_SECRET_KEY') }}"
sentry_path: "{{ lookup('env','SENTRY_PATH') | default('/', True)}}"
sentry_project_id: "{{ lookup('env','SENTRY_PROJECT_ID') }}"
sentry_js_token: "{{ lookup('env','SENTRY_JS_TOKEN') }}"
sentry_url: "{{sentry_scheme}}://{{sentry_public_key}}:{{sentry_secret_key}}@{{sentry_host}}{{sentry_path}}{{sentry_project_id}}"

consul_config_path: "{{etc_prefix}}/consul"
consul_configd_path: "{{etc_prefix}}/consul.d"
consul_scripts_path: "{{consul_configd_path}}/scripts"