# mongodb RedHat
---
- name: Add MongoDB repository
  yum_repository:
    name: mongodb
    description: MongoDB Repository
    baseurl: https://repo.mongodb.org/yum/redhat/{{ ansible_distribution_major_version }}/mongodb-org/{{ mongo_version }}/x86_64/
    gpgcheck: yes
    gpgkey: https://www.mongodb.org/static/pgp/server-{{ mongo_version }}.asc
    enabled: yes
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Disable Transparent Hugepages (bootloader)
  template:
    src: "os/RedHat/etc/grub.d/50_disable_transparent_hugepages.j2"
    dest: /etc/grub.d/50_disable_transparent_hugepages
  register: dht_status

- name: Disable Transparent Hugepages (runtime)
  shell: if test -f /sys/kernel/mm/transparent_hugepage/enabled; then
            echo never > /sys/kernel/mm/transparent_hugepage/enabled;
            echo never > /sys/kernel/mm/transparent_hugepage/defrag;
         fi
  when: dht_status.changed
  notify: restart mongod

- name: Install MongoDB
  yum:
    name: "mongodb-org"
    state: present
    update_cache: yes
  environment:
    https_proxy: "{{http_proxy}}"

- name: Install mongodb limits file
  template:
    src: "etc/security/limits.d/mongo_limits.conf.j2"
    dest: "/etc/security/limits.d/mongo_limits.conf"
  tags:
    - config

- name: Set mongod defaults
  template:
    src: "os/RedHat/etc/sysconfig/mongod.j2"
    dest: "/etc/sysconfig/mongod"
  notify: restart mongod
  when: mongo_version == 3.2
  tags:
    - config

- include: "arbiter.yml"
  when: "has_svc_mongo_arbiter | default(False)"