{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}
    {%if parent%}
        <li><a href="{% url ip:ipmanage:vrf_index vrf.id parent %}">{{parent}}</a></li>
    {%endif%}
    <li>Allocate Block &rsaquo;</li>
{% endblock %}
{% block content %}
<H1>Allocate IPv4 block. VRF {{vrf.name}} ({{vrf.rd}})</H1>

<div id="content-main">
    <FORM METHOD="POST" ACTION="" >{% csrf_token %}
        <div>
            {% include "includes/noc_fieldset.html" %}
            <div class="submit-row" >
                <input type="submit" value="Save" class="default" name="_save" />
                <input type="submit" value="Save and add another" name="_addanother"  />
                <input type="submit" value="Save and continue editing" name="_continue" />
            </div>
        </div>
    </FORM>
</div>

{% if suggestions %}
    <div class="module">
        <SCRIPT TYPE="text/javascript">
        function accept_suggestion(s) {
            $("#id_prefix").val(s);
        }
        </SCRIPT>

        <table width="100%">
            <caption>Suggested Free Blocks</caption>
            <thead>
                <tr><th style="width: 9em">Free Block</th><th>Size</th></tr>
            </thead>
            {% for b,s in suggestions %}
            <TR class="{%cycle 'row1' 'row2'%}">
                <TD><A HREF="#" ONCLICK="accept_suggestion('{{b}}');">{{b}}</A></TD>
                <td>{{s}}</td>
            </TR>
            {% endfor %}
        </TABLE>
    </div>
{% endif %}
{% endblock %}
