{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}<li><a href="{% url ip:ipmanage:vrf_index vrf.id '0.0.0.0/0' %}">VRF: {{vrf.name}}</A><li>
{% for p in parents %}
    <li><a href="{% url ip:ipmanage:vrf_index vrf.id p.prefix %}" title="{{p.description}}">{{p.prefix}}</a></li>
{% endfor %}
<li>Assign Address</li>
{%endblock%}
{% block content %}
<H1>Assign IPv4 address. VRF: {{vrf}} ({{vrf.rd}})</H1>
<SCRIPT TYPE="text/javascript">
    <!--
    function confirm_delete(msg)
    {
        var agree=confirm(msg);
        if (agree)
            return true;
        else
            return false;
    }
    // -->
</SCRIPT>
<div id="content-main">
    <FORM METHOD="POST" ACTION="" >{% csrf_token %}
        <div>
            {% include "includes/noc_fieldset.html" %}
            <div class="submit-row" >
                <input type="submit" value="Save" class="default" name="_save" />
                {% if can_delete %}
                <p class="deletelink-box"><a href="{% url ip:ipmanage:revoke_address vrf.id ip %}" class="deletelink" onclick="return confirm_delete('Delete address?');">Delete</a></p>
                {% endif %}
                <input type="submit" value="Save and add another" name="_addanother"  />
                <input type="submit" value="Save and continue editing" name="_continue" />
            </div>
        </div>
    </FORM>
</div>
{% endblock %}
