{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}<li><a href="{% url ip:ipmanage:vrf_index vrf.id '0.0.0.0/0' %}">VRF: {{vrf.name}}</A><li>
{% for p in parents %}
    <li><a href="{% url ip:ipmanage:vrf_index vrf.id p.prefix %}" title="{{p.description}}">{{p.prefix}}</a></li>
{% endfor %}
{%endblock%}
{% block content %}
<H1>Assign IPv4 address. VRF: {{vrf}} ({{vrf.rd}})</H1>
<SCRIPT TYPE="text/javascript">
    <!--
    function confirm_delete(msg)
    {
        var agree=confirm(msg);
        if (agree)
            return true;
        else
            return false;
    }
    // -->
</SCRIPT>

<FORM METHOD="POST" ACTION="" >
    <DIV>
    <fieldset class="module aligned ">
        <table>{{form.as_table}}</table>
    </fieldset>
    <div class="submit-row">
        <INPUT TYPE="submit" VALUE="Save" CLASS="default"/>
        <p class="deletelink-box"><a href="{% url ip:ipmanage:revoke_address vrf.id prefix %}" class="deletelink" ONCLICK="return confirm_delete('Delete Address?')">Delete</a></p>
    </div>
    </DIV>
</FORM>
{% endblock %}
