{% extends "template.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/apps/ip/ipmanage/css/vrf_index.css" />
{% endblock %}
{% load tags %}
{% block breadcrumbs %}{{block.super}}<li><a href='{% url ip:ipmanage:vrf_index vrf.id "0.0.0.0/0"%}'>VRF: {{vrf.name}}</A></li>
{% endblock %}
{% block content %}
{% if can_allocate %}
    <ul class="object-tools">
        <li><a href="{% url ip:ipmanage:toggle_bookmark vrf.id prefix.prefix %}" classs="changelink">{% if has_bookmark %}Remove{% else %}Set{% endif %} Bookmark</a></li>
        <li><A HREF="{% url ip:tools:index vrf.id prefix %}" CLASS="changelink">Tools</A></li>
        <li><A HREF="{% url ip:ipmanage:allocate_block vrf.id %}" CLASS="addlink">Allocate new block</A></li>
        <li><A HREF="{% url ip:ipmanage:assign_address vrf.id %}" CLASS="addlink">Assign address</A></li>
    </ul>
{% endif %}
<SCRIPT TYPE="text/javascript">
    <!--
    function confirm_delete(msg)
    {
        var agree=confirm(msg);
        if (agree)
            return true;
        else
            return false;
    }
    
    function on_mynetworks(n)
    {
        document.location="../../"+n.options[n.selectedIndex].value+"/";
    }
    // -->
</SCRIPT>
<!-- Navigation -->
<style>
/* Range colors */
{% for r,c in range_colors %}
    td[class=r{{r.id}}] {
        background-color: {{c}};
    }
{% endfor %}
</style>
<!-- Navigation -->
<div class="module">
    <table width="100%">
        <caption>Navigation</caption>
        <tr>
            <td>
                <a href="{% url ip:ipmanage:vrf_index prefix.vrf.id '0.0.0.0/0' %}>">VRF {{vrf.name}}</a> &#x203a;
                {% for p in parents %}
                    <a href="{% url ip:ipmanage:vrf_index vrf.id p.prefix %}" title="{{p.description}}">{{p.prefix}}</a> &#x203a;
                {% endfor %}
                <a href='{% url ip:ipmanage:vrf_index vrf.id prefix.prefix %}' title="{{prefix.description}}">{{prefix.prefix}}</a>
            </td>
            <td class="nav-label">
                Quick Jump:
            </td>
            <td class="nav-form">
                <form method="POST" action="{% url ip:ipmanage:quickjump prefix.vrf.id %}">{% csrf_token %}
                    <input type="search" name="jump" placeholder="Quick Jump..." />
                </form>
            </td>
        </tr>
        <tr>
            <td style="font-size: 18px; font-weight: bold; color: #666;vertical-align: bottom;">{{prefix.prefix}} ({{prefix.description}})</td>
            <td class="nav-label">
                My Networks:
            </td>
            <td class="nav-form">
                <form>
                    <select onchange="return on_mynetworks(this);">
                        <option>---</option>
                        {% for n in my_networks %}
                        <option value="{{n.prefix}}">{{n.prefix}} {{n.description}}</option>
                        {% endfor %}
                    </select>
                </form>
            </td>
        </tr>
    </table>
</div>

<!-- Allocated blocks -->
{% if prefixes %}
    <DIV CLASS="module">
        <TABLE SUMMARY="Allocated blocks" WIDTH="100%">
            <caption>Allocated blocks</caption>
            <THEAD>
                <TR><TH class="ip">Prefix</TH><TH class="ip">VRF</TH><TH>Description</TH><TH>VC</TH><TH class="tt">TT</TH><TH>Tags</TH></TR>
            </THEAD>
            {%for p in prefixes %}
            <TR class="{%cycle 'row1' 'row2'%}">
                <TD><A HREF="{% url ip:ipmanage:vrf_index p.vrf_id p.prefix %}">{{p.prefix}}</A></TD>
                <TD><A HREF="{% url ip:ipmanage:vrf_index p.vrf_id '0.0.0.0/0' %}">{{p.vrf.name}}</A></TD>
                <TD>{{p.description}}</TD>
                <TD>{% if p.vc %}{{p.vc}}{% endif %}</TD>
                <TD>{%if p.tt %}<A HREF="{{p.tt_url}}">#{{p.tt}}</A>{%endif%}</TD>
                <TD>{% tags p %}</TD>
            </TR>
            {%endfor%}
        </TABLE>
    </DIV>
{% endif %}
{% if has_children %}
<!-- orphaned addresses -->
{%if orphaned_addresses%}
<DIV CLASS="module">
    <TABLE SUMMARY="Orphaned addresses" WIDTH="100%">
        <caption>Orphaned addresses</caption>
        <THEAD>
            <TR><TH class="ip">IP</TH><TH class="fqdn">FQDN</TH><TH>Description</TH><TH class="tt">TT</TH></TR>
        </THEAD>
        {% for a in orphaned_addresses %}
        <TR class="{%cycle 'row1' 'row2'%}">
        <TD>{% if can_allocate %}<A HREF="{% url ip:ipmanage:change_address vrf.id a.ip %}">{{a.ip}}</A>{%else%}{{a.ip}}{%endif%}</TD>
        <TD>{{a.fqdn}}</TD>
        <TD>{{a.description}}</TD>
        <TD>{%if a.tt %}<A HREF="{{a.tt_url}}">#{{a.tt}}</A>{%endif%}</TD>
        </TR>
        {% endfor %}
    </TABLE>
</DIV>
{% endif %}
{% else %}
<!-- Assigned addresses -->
<SCRIPT TYPE="text/javascript">
var _ft_shown=false;

function toggle_free() {
    if(_ft_shown) {
        $(".freeip").each(function (i){this.style.display="none";});
        $("#free_ip_toggle_button").text("Show Free Addresses");
        _ft_shown=false;
    } else {
        $(".freeip").each(function (i){this.style.display="table-row";});
        $("#free_ip_toggle_button").text("Hide Free Addresses");
        _ft_shown=true;
    }
}
</SCRIPT>
<DIV CLASS="module">
    <TABLE SUMMARY="Assigned addresses" WIDTH="100%">
        <caption>Assigned addresses <A HREF="#" ONCLICK="toggle_free();" style="float: right" id="free_ip_toggle_button">Show Free Addresses</A></caption>
        <THEAD>
            <TR>
                <TH class="range"></TH>
                <TH class="ip">IP</TH>
                <TH class="fqdn">FQDN</TH>
                <TH class="mac">MAC</TH>
                <TH class="managed-object">Managed Object</TH>
                <TH class="gw">GW</TH>
                <TH>Description</TH>
                <TH class="tt">TT</TH>
                <TH>Tags</TH>
            </TR>
        </THEAD>
        {% for r,a in all_addresses %}
            {% if a.ip %}
                <TR class="{%cycle 'row1' 'row2'%}">
                <TD {%if r%}class="r{{r.id}}"{%endif%}></TD>
                <TD>
                    {% if can_allocate %}
                        <A HREF="{% url ip:ipmanage:change_address vrf.id a.ip %}">{{a.ip}}</A>
                    {%else%}
                        {{a.ip}}
                    {%endif%}
                </TD>
                <TD>{{a.fqdn}}</TD>
                <TD>{% if a.mac %}{{a.mac}}{% endif %}</TD>
                <TD>{% if a.managed_object %}{{a.managed_object.name}}{% endif %}</TD>
                <TD>{% if a.managed_object and a.managed_object.is_router %}<img src="/media/img/admin/icon-yes.gif" title="yes" />{% endif %}</TD>
                <TD>{{a.description}}</TD>
                <TD>{%if a.tt %}<A HREF="{{a.tt_url}}">#{{a.tt}}</A>{%endif%}</TD>
                <TD>{% tags a %}</TD>
                </TR>
            {% else %}
                <TR CLASS="freeip">
                <TD {%if r%}class="r{{r.id}}"{%endif%}></TD>
                <TD COLSPAN="4">
                    {% if can_allocate %}
                        <A HREF="{% url ip:ipmanage:assign_new_address vrf.id a %}">{{a}}</A>
                    {%else%}
                        {{a}}
                    {% endif %}
                </TD>
                <TD COLSPAN="4">Free</TD>
                </TR>
            {% endif %}
        {% endfor %}
    </TABLE>
</DIV>
{% if ranges %}
    <DIV CLASS="module">
        <TABLE SUMMARY="Address Ranges" WIDTH="100%">
            <CAPTION>Address Ranges</CAPTION>
            <THEAD>
                <TR><TH class="range"></TH><TH>Name</TH><TH>From IP</TH><TH>To IP</TH><TH>Locked</TH><TH>Description</TH></TR>
            </THEAD>
            {% for r in ranges %}
            <TR class="{%cycle 'row1' 'row2'%}">
                <TD class="r{{r.id}}"></TD>
                <TD>{{r.name}}</TD>
                <TD>{{r.from_ip}}</TD>
                <TD>{{r.to_ip}}</TD>
                <TD><img src="/media/img/admin/icon-{%if r.is_locked%}yes{%else%}no{%endif%}.gif"></TD>
                <TD>{{r.description}}</TD>
            </TR>
            {% endfor %}
        </TABLE>
    </DIV>
{% endif %}
{% endif %}

<DIV CLASS="module">
    <TABLE SUMMARY="Block info" WIDTH="100%">
        <CAPTION>{{prefix.prefix}} info</CAPTION>
        {% if prefix.tags %}
        <TR class="row2">
            <TD><B>Tags</B></TD>
            <TD>{%tags prefix%}</TD>
        </TR>
        {% endif %}
        <TR class="row1">
            <TD><b>VC</b></TD>
            <TD>
                {% if prefix.vc %}{{prefix.vc}}{% endif %}
                {% if can_allocate %}
                <a href="{% url ip:ipmanage:bind_vc vrf.id prefix %}"><b>{%if prefix.vc%}Change{%else%}Bind{%endif%}...</b></a>
                {% endif %}
            </TD>
        </TR>
        <TR class="row2">
            <TD><b>Maintainers</b></TD>
            <TD>{{prefix.maintainers|join:", "}} {%if can_allocate%}<a href="{% url ip:ipv4blockaccess:add %}?vrf={{vrf.id}}&prefix={{prefix}}"><b>Add...<b></a>{%endif%}</TD>
        </TR>
        {% for k,v in block_info %}
            <TR class="{%cycle 'row1' 'row2'%}"><TD STYLE="width: 10pt"><b>{{k}}</b></TD><TD>{{v}}</TD></TR>
        {% endfor %}
    </TABLE>
</DIV>

<div class="submit-row">
    <A HREF="{% url ip:ipmanage:change_block prefix.vrf.id prefix.prefix %}" CLASS="changelink">Change</A>
    <A HREF="{% url ip:ipmanage:deallocate_block prefix.vrf_id prefix.prefix %}"
        CLASS="deletelink" ONCLICK="return confirm_delete('Deallocate block {{prefix.prefix}} ({{prefix.description}})?')">Delete</A>
</div>

{% endblock %}
