---
- name: Add Grafana apt key
  apt_key:
    url: https://packagecloud.io/gpg.key
    validate_certs: no
  environment:
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Add Grafana repo
  apt_repository:
    repo: "deb https://packagecloud.io/grafana/stable/debian/ wheezy main"
    state: present
    update_cache: yes
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Install Debian packages
  apt:
    name: grafana={{grafana_version}}
    state: present
    update_cache: yes
    cache_valid_time: "{{apt_cache_valid_time | default (3600)}}"
  notify: restart grafana
  tags:
    - requirements
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"

- name: Set up Grafana service
  lineinfile:
    dest: /etc/default/grafana-server
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
  with_items:
    - key: DATA_DIR
      value: "{{ noc_root }}/var/db/grafana"
    - key: CONF_DIR
      value: "{{ noc_root }}/var/etc/grafana"
    - key: CONF_FILE
      value: "{{ noc_root }}/var/etc/grafana/grafana.ini"
    - key: PLUGINS_DIR
      value: "{{ noc_root }}/var/db/grafana_plugins"
  notify: restart grafana