[[inputs.httpjson]]
  name = "inv_monitor"

  servers = [
    "https://{{ noc_web_host }}/inv/monitor/"
  ]
  method = "GET"

  [inputs.httpjson.headers]
    Authorization = "Basic YWRtaW46YWRtaW4K" # admin:admin

##
## NOC users!
##
## If you want to use that plugin please create special user in noc web and set "Authorization" to
## that  ` echo admin:admin | base64`.
##
