package:
  redpanda:
    installed: true
port:
  tcp:{{ redpanda_kafka_port }}:
    listening: true
  tcp:{{ redpanda_admin_api_port }}:
    listening: true
service:
  redpanda:
    enabled: true
    running: true
user:
  {{ redpanda_user }}:
    exists: true
group:
  {{ redpanda_group }}:
    exists: true
process:
  redpanda:
    running: true
file:
  {{ redpanda_config_path }}/redpanda.yaml:
    exists: true
    mode: "0644"
    owner: {{ redpanda_user }}
    group: {{ redpanda_group }}
    filetype: file
    contains: []
