redpanda:
  empty_seed_starts_cluster: false
  advertised_kafka_api:
  - address: {{ ansible_host }}
    port: {{ redpanda_kafka_port }}
  advertised_rpc_api:
    address: {{ ansible_host }}
    port: {{ redpanda_rpc_port }}
  data_directory: "{{ redpanda_data_directory }}"
  rpc_server:
    address: {{ ansible_host }}
    port: {{ redpanda_rpc_port }}
  kafka_api:
  - address: {{ ansible_host }}
    port: {{ redpanda_kafka_port }}
  admin:
  - address: {{ ansible_host }}
    port: {{ redpanda_admin_api_port }}
  seed_servers:
{% for host in groups["svc-redpanda-exec"] %}
    - host:
        address: {{ hostvars[host].ansible_host }}
        port: {{ redpanda_rpc_port }}
{% endfor %}
rpk:
  additional_start_flags:
    - --smp={{ redpanda_cpu_limit }}
    - --memory={{ redpanda_memory_limit }}G
  kafka_api:
    brokers:
{% for host in groups["svc-redpanda-exec"] %}
    - {{ hostvars[host].ansible_host }}:{{ redpanda_kafka_port }}
{% endfor %}
  admin_api:
    addresses:
{% for host in groups["svc-redpanda-exec"] %}
    - {{ hostvars[host].ansible_host }}:{{ redpanda_admin_api_port }}
{% endfor %}
  tune_network: false
  tune_disk_scheduler: false
  tune_disk_nomerges: false
  tune_disk_write_cache: false
  tune_disk_irq: false
  tune_cpu: false
  tune_aio_events: false
  tune_clocksource: false
  tune_swappiness: false
  tune_ballast_file: false
  overprovisioned: true
  pandaproxy: {}
