### BEGIN INIT INFO
# Provides:          redpanda
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: redpanda service
# Description:       redapnda service of messaging
### END INIT INFO

[Unit]
Description=Redpanda service
Requires=network-online.target
After=network-online.target

[Service]
User={{ redpanda_user }}
Group={{ redpanda_group }}
PIDFile={{ redpanda_pid_path }}
PermissionsStartOnly=true
ExecStart={{ redpanda_bin_path }}/redpanda \
    --config={{ redpanda_config_path }}/redpanda.yaml
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s
LimitNOFILE=16000
LimitNOFILESoft=16000


[Install]
WantedBy=multi-user.target
