---
- name: Install Debian system packages
  apt:
    name: "{{item}}"
    update_cache: yes
    cache_valid_time: "{{apt_cache_valid_time | default (3600)}}"
  with_items:
    - less
    - telnet
    - tcpdump
    - python
    - python-dev
    - python-virtualenv
    - mercurial
    - libjemalloc1
    - quilt
    - gcc
    - libpq-dev
    - libcurl4-openssl-dev
    - libffi6
    - libffi-dev
    - libmemcached11
    - libmemcached-dev
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Install supervisord init script
  template:
    src: "os/Debian/etc/init.d/noc.j2"
    dest: "/etc/init.d/{{ noc_system_service }}"
    mode: "a+rx"
  when: "ansible_service_mgr != 'systemd'"

- name: Install supervisord systemd service
  template:
    src: "os/Debian/etc/systemd/system/{{ noc_system_service }}.service.j2"
    dest: "/etc/systemd/system/{{ noc_system_service }}.service"
  when: "ansible_service_mgr == 'systemd'"
  notify: reload systemd

- name: reload systemd
  command: /bin/systemctl daemon-reload