[Unit]
Description=NOC Node Service
After=network.target

[Service]
Type=forking
ExecStart={{ noc_root }}/bin/supervisord -c {{ noc_root }}/etc/supervisord.conf
ExecReload={{ noc_root }}/bin/supervisorctl reload
ExecStop={{ noc_root }}/bin/supervisorctl shutdown
WorkingDirectory={{ noc_root }}
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=noc.service
