[mongodb-org]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongo_version }}/x86_64/
gpgcheck=1
enabled=1
gpgkey = https://www.mongodb.org/static/pgp/server-3.2.asc
