{% extends "template/template.html" %}
{% block breadcrumbs %}<div class="breadcrumbs"><A HREF="/">Home</A> &rsaquo; <A HREF="/ip/">ip</A> &rsaquo; 
    <a href='/ip/{{vrf.id}}/'>VRF: {{vrf.name}}</A> &rsaquo;
        {% for p in parents %}
            <a href="/ip/{{vrf.id}}/{{p.prefix}}/" title="{{p.description}}">{{p.prefix}}</a> &rsaquo;
        {% endfor %}
</div>
{%endblock%}
{% block content %}
<H1>Assign IPv4 address. VRF: {{vrf}} ({{vrf.rd}})</H1>
<SCRIPT TYPE="text/javascript">
    <!--
    function confirm_delete(msg)
    {
        var agree=confirm(msg);
        if (agree)
            return true;
        else
            return false;
    }
    // -->
</SCRIPT>

<FORM METHOD="POST" ACTION="/ip/{{vrf.id}}{{p}}/assign_address/" >
    <DIV>
    <fieldset class="module aligned ">
        <table>{{form.as_table}}</table>
    </fieldset>
    <div class="submit-row">
        <INPUT TYPE="submit" VALUE="Save" CLASS="default"/>
        <p class="deletelink-box"><a href="../revoke_address/" class="deletelink" ONCLICK="return confirm_delete('Delete Address?')">Delete</a></p>
    </div>
    </DIV>
</FORM>
{% endblock %}