{% extends "template/template.html" %}
{% block content %}
<h1>Select VRF</h1>
{% for g in groups %}
    <DIV CLASS="module">
        <TABLE SUMMARY="VRFs in {{g}} group" WIDTH="100%">
            <CAPTION><A HREF="" CLASS="section">{{g.0.name}}</A></CAPTION>
            {% for vrf in g.1 %}
                <TR class="{%cycle 'row1' 'row2'%}">
                    <TD><A HREF="{{vrf.id}}/">{{vrf.name}}</A></TD><TD>{{vrf.rd}}</TD><TD>{{vrf.description}}</TD>
                </TR>
            {%endfor%}
        </TABLE>
    </DIV>
{%endfor%}
{%endblock%}