{% extends "template/template.html" %}
{% block title%}IP: {{prefix.prefix}}{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><A HREF="/">Home</A> &rsaquo; <A HREF="/ip/">ip</A> &rsaquo; 
    <a href='/ip/{{vrf.id}}/'>VRF: {{vrf.name}}</A> &rsaquo;
        {% for p in parents %}
            <a href="/ip/{{vrf.id}}/{{p.prefix}}/" title="{{p.description}}">{{p.prefix}}</a> &rsaquo;
        {% endfor %}
        <a href='/ip/{{vrf.id}}/{{prefix.prefix}}/' title="{{prefix.description}}">{{prefix.prefix}}</a> &rsaquo;
</div>
{% endblock %}
{% block content %}
{% if can_allocate %}
    <ul class="object-tools">
        <li><A HREF="/ip/{{vrf.id}}/{{prefix}}/tools/" CLASS="changelink">Tools</A></li>
        <li><A HREF="/ip/{{vrf.id}}/allocate_block/" CLASS="addlink">Allocate new block</A></li>
        <li><A HREF="/ip/{{vrf.id}}/assign_address/" CLASS="addlink">Assign address</A></li>
    </ul>
{% endif %}
<SCRIPT TYPE="text/javascript">
    <!--
    function confirm_delete(msg)
    {
        var agree=confirm(msg);
        if (agree)
            return true;
        else
            return false;
    }
    // -->
</SCRIPT>
<DIV CLASS="module">
    <TABLE SUMMARY="Allocated blocks within {{prefix.prefix}}" WIDTH="100%">
        <caption>Allocated blocks within {{vrf.name}}::{{prefix.prefix}} ({{prefix.description}})</caption>
        <TR><TH>Prefix</TH><TH>VRF</TH><TH>Description</TH><TH>TT</TH><TH></TH></TR>
        {%for p in prefixes %}
        <TR>
            <TD><A HREF="/ip/{{p.vrf.id}}/{{p.prefix}}/">{{p.prefix}}</A></TD>
            <TD><A HREF="/ip/{{p.vrf.id}}/">{{p.vrf.name}}</A></TD>
            <TD>{{p.description}}</TD>
            <TD>{%if p.tt %}<A HREF="{{p.tt_url}}">#{{p.tt}}</A>{%endif%}</TD>
            <TD> 
                <A HREF="/ip/{{p.vrf.id}}/{{p.prefix}}/allocate_block/" CLASS="changelink">Change</A>
                <A HREF="/ip/{{p.vrf.id}}/{{p.prefix}}/deallocate_block/"
                    CLASS="deletelink" ONCLICK="return confirm_delete('Deallocate block?')">Delete</A>
            </TD>
        </TR>
        {%endfor%}
    </TABLE>
</DIV>

{% if prefix.has_children %}
{% else %}
<DIV CLASS="module">
    <TABLE SUMMARY="Allocated addresses within {{prefix.prefix}}" WIDTH="100%">
        <TR><TH>IP</TH><TH>FQDN</TH><TH>Description</TH><TH>TT</TH><TH></TH></TR>
        {% for a in prefix.addresses %}
        <TR>
            <TD>{{a.ip}}</TD>
            <TD>{{a.fqdn}}</TD>
            <TD>{{a.description}}</TD>
            <TD>{%if a.tt %}<A HREF="{{a.tt_url}}">#{{a.tt}}</A>{%endif%}</TD>
            <TD>
                {% if can_allocate %}
                <A HREF="/ip/{{vrf.id}}/{{a.ip}}/assign_address/" CLASS="changelink">Change</A>
                <A HREF="/ip/{{vrf.id}}/{{a.ip}}/revoke_address/"
                    CLASS="deletelink"  ONCLICK="return confirm_delete('Delete address?')">Delete</A>
                {% endif %}
            </TD>
        </TR>
        {% endfor %}
    </TABLE>
</DIV>
{% endif %}

<DIV CLASS="module">
    <TABLE SUMMARY="Block info" WIDTH="100%">
        <CAPTION>{{prefix.prefix}} info</CAPTION>
        <TR><TD STYLE="width: 10pt">net</TD><TD>{{prefix}}</TD></TR>
        <TR><TD>mask</TD><TD>{{prefix.netmask}}</TD></TR>
        <TR><TD>broadcast</TD><TD>{{prefix.broadcast}}</TD></TR>
        <TR><TD>wildcard</TD><TD>{{prefix.wildcard}}</TD></TR>
    </TABLE>
</DIV>
{% endblock %}
