{% extends "template/template.html" %}
<{% block content %}
<h1><A HREF="/fm/">Fault Management:</A> Event #{{e.id}}</h1>
<TABLE BORDER="0">
    <TR><TD>Managed Object</TD><TD>{{e.managed_object}}</TD></TR>
    <TR><TD>Class</TD><TD>{{e.event_class}}</TD></TR>
    <TR><TD>Priority</TD><TD>{{e.event_priority}}</TD></TR>
    <TR><TD>Category</TD><TD>{{e.event_category}}</TD></TR>
</TABLE>
<B>Subject:</B> {{e.subject}}<BR/>
<PRE STYLE="border: 1px solid">
    {{e.body}}
</PRE>

<TABLE BORDER='0'>
    {% for ed in e.eventdata_set.all %}
    <TR><TD>{{ed.type}}</TD><TD>{{ed.key}}</TD><TD>{{ed.value}}</TD></TR>
    {% endfor %}
</TABLE>

<A ONCLICK="document.location='/fm/{{e.id}}/reclassify/'">Re-Classify</A>
<A ONCLICK="document.location='/fm/{{e.id}}/create_rule/'">Create Rule</A>

{%endblock%}