{% extends "template/template.html" %}
<{% block content %}
<h1>Fault Management: Event #{{e.id}}</h1>
<TABLE BORDER="0">
    <TR><TD>Managed Object</TD><TD>{{e.managed_object}}</TD></TR>
    <TR><TD>Class</TD><TD>{{e.event_class}}</TD></TR>
    <TR><TD>Priority</TD><TD>{{e.event_priority}}</TD></TR>
    <TR><TD>Category</TD><TD>{{e.event_category}}</TD></TR>
</TABLE>
<B>Subject:</B> {{e.subject}}<BR/>
<PRE>
    {{e.body}}
</PRE>

<TABLE BORDER='0'>
    {% for ed in e.eventdata_set.all %}
    <TR><TD>{%if ed.is_enriched%}[E]{%endif%}</TD><TD>{{ed.key}}</TD><TD>{{ed.value}}</TD></TR>
    {% endfor %}
</TABLE>

{%endblock%}