{% extends "template/template.html" %}
<{% block content %}
<h1>Fault Management</h1>
<TABLE BORDER='0'>
    <TR>
        <TH>#</TH>
        <TH>Object</TH>
        <TH>Time</TH>
        <TH>Class</TH>
        <TH>Priority</TH>
        <TH>Root</TH>
        <TH>Subject</TH>
    </TR>
{% for e in events %}
    <TR>
        <TD><A HREF='{{e.id}}/'>{{e.id}}</A></TD>
        <TD>{{e.managed_object}}</TD>
        <TD>{{e.timestamp}}</TD>
        <TD>{{e.event_class}}</TD>
        <TD>{{e.event_priority}}</TD>
        <TD>{% if e.root %}e.root.id{%else%}-{%endif%}</TD>
        <TD>{% if e.subject %}{{e.subject}}{%else%}-{%endif%}</TD>
    </TR>
{% endfor %}
</TABLE>
{%endblock%}