{% extends "template/template.html" %}
{% block header %}
    <meta http-equiv="refresh" content="60" />
    <link rel="stylesheet" type="text/css" href="/fm/event_list_css/" />
{% endblock %}
<{% block content %}
<h1>Fault Management</h1>
<TABLE BORDER='0'>
    <TR>
        <TH>#</TH>
        <TH>Object</TH>
        <TH>Time</TH>
        <TH>Category</TH>
        <TH>Class</TH>
        <TH>Priority</TH>
        <TH>Subject</TH>
    </TR>
{% for e in events.object_list %}
    <TR CLASS="{{e.event_priority.css_style_name}}">
        <TD><A HREF='{{e.id}}/'>{{e.id}}</A></TD>
        <TD>{{e.managed_object}}</TD>
        <TD>{{e.timestamp}}</TD>
        <TD>{{e.event_category}}</TD>
        <TD>{{e.event_class}}</TD>
        <TD>{{e.event_priority}}</TD>
        <TD>{% if e.subject %}{{e.subject}}{%else%}-{%endif%}</TD>
    </TR>
{% endfor %}
</TABLE>
<DIV class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{events.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{events.number}} of {{events.paginator.num_pages}}.
        </span>

        {% if events.has_next %}
            <a href="?page={{events.next_page_number}}">next</a>
        {% endif %}
    </span>
</DIV>
{%endblock%}