---
- name: Install and configure nsqlookupd
  hosts: svc-nsqlookupd-exec
  become: "True"
  any_errors_fatal: "True"
  tags:
    - nsq
    - nsqlookupd
    - external
  vars_files:
    - "../../vars/main.yml"
    - "../../vars/{{ ansible_distribution }}.yml"
  roles:
    - role: nsqlookupd
    - role: goss
      tags: [goss]
      vars:
        goss_service_name: nsqlookupd
  post_tasks:
    - name: set nsqlookupd complete
      set_fact:
        nsqlookupd_complete: "True"
