{% extends "template.html"%}
{% load noctags %}
{% block content %}
<ul class="object-tools">
    <li><a href="#" onclick="return show_popup('JSON', '{% url fm:alarmclass:to_json o.id%}')">JSON</a></li>
</ul>

<h1>Alarm Class: {{o.name}}</h1>

<style>
    .labels {
        width: 100px;
    }
    
    .types {
        width: 50px;
    }
    
    .required {
        width: 30px;
    }
    
    .optional {
        font-style: italic;
    }
</style>

<div class="module">
    <table border="0" width="100%">
        <tr><td class="labels"><b>Name</b></td><td>{{o.name}}</td></tr>
        <tr><td><b>Is builtin</b></td><td>{{o.is_builtin|bool_icon}}</td></tr>
        <tr><td><b>Description</b></td><td>{{o.description}}</td></tr>
        {% for lang in o.text %}
        <tr>
            <td><b>{{lang}}</b></td>
            <td>
                <table border="0" width="100%">
                    {% for msg in o.text.lang %}
                    <tr>
                        <td class="labels"><b>msg</b></td>
                        <td>{{o.text.lang.msg}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    {% if o.datasources %}
        <h2>DataSources</h2>
        <table width="100%">
            <thead>
                <tr><th>Name</th><th>DataSource</th><th>Search</th>
            </thead>
        {% for ds in o.datasources %}
            <tr>
                <td>{{ds.name}}</td>
                <td>{{ds.datasource}}</td>
                <td>{% for k, v in ds.search.items %}{{k}} = {{v}}<br/>{% endfor %}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <h2>Vars</h2>
    <table border="0" width="100%">
        <thead>
            <tr>
                <th class="labels">Name</th>
                <th>Description</th>
                <th>Default</th>
            </td>
        </thead>
        {% for v in o.vars %}
            <tr>
                <td><b>{{v.name}}</b></td>
                <td>{{v.description}}</td>
                <td>{% if v.default %}{{v.default}}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}