---
- name: systemd script
  template:
    src: consul_systemd.service.j2
    dest: /lib/systemd/system/consul.service
    owner: root
    group: root
    mode: 0644
  tags:
    - config
  notify:
    - reload systemd
    - restart consul

- name: search for correct consul iface
  shell: "/sbin/ip ro get {{hostvars[groups['svc-consul-server'][0]].ansible_host}} | grep dev | awk '{print $(NF-2)}'"
  register: consul_route
  changed_when: false
  environment:
    LC_ALL: C
  when: consul_power == 'agent'
  tags:
    - config

- name: Expose consul_iface as fact
  set_fact:
    consul_iface: "{{consul_route.stdout}}"
  when: consul_power == 'agent'
  tags:
    - config

- name: Expose consul_bind_address as fact
  set_fact:
    consul_bind_address: "{{ hostvars[ansible_nodename]['ansible_'+ consul_iface ]['ipv4']['address'] }}"
  tags:
    - config