# Pre-deployment tasks
---

- name: Display all variables/facts known for a host
  debug:
    var: hostvars[inventory_hostname]
    verbosity: 8
  tags:
    - always

- name: "Loading system-dependend settings"
  include_vars: "os/{{ ansible_distribution }}.yml"
  become: yes
  tags:
    - config
    - always

- set_fact:
    tower_ip: "{{hostvars[inventory_hostname]['ansible_env']['SSH_CLIENT'].split(' ')[0]}}"
    grafana_pg_password: "{{noc_config['config'].get('grafana-global-%s' % ansible_hostname, {}).get('password', 'grafana')}}"
  tags:
    - always

- name: set proxy
  set_fact:
    http_proxy: "{{ proxy }}"
  when: "proxy is defined"
  become: yes
  tags:
    - config
    - always

- name: notify alerta of deployment start
  uri:
    url: "{{alerta_url}}/api/alert?api-key={{alerta_token}}"
    method: POST
    body: "{{ alerta_deploy_start | to_json }}"
    body_format: json
    status_code: 201
    validate_certs: no
  when: "alerta_url and alerta_url is defined and alerta_token is defined and 'prod' in noc_env_type"
  register: alerta_notified
  changed_when: "alerta_notified.status == 201"
  become: yes
  run_once: true
  environment:
    https_proxy: "{{http_proxy}}"
  tags:
    - always

- name: "Include OS-specific tasks"
  include: "os/{{ ansible_distribution }}/main.yml"
  become: yes
  tags:
    - config
    - always


- name: Stop NOC node
  service:
    name: "{{ noc_system_service }}"
    state: stopped
  become: yes
  failed_when: False
  changed_when: False
  tags:
    - restart
