[Unit]
Description=Realtime distributed messaging (nsqlookupd)
After=network.target

[Service]
ExecStart={{nsq_root}}/nsqlookupd -config {{nsqd_config_dir}}/nsqlookupd.conf
Restart=always
User=nsq
Group=nsq

[Install]
WantedBy=multi-user.target
