{
  "service": {
    "name": "nginx",
    "tags": [ ],
    "port": 443,
    "enableTagOverride": false,
    "check": {
        "http": "https://{{ noc_web_host }}/ng_stats",
        "interval": "10s"
    }{% if nginx_self_signed_cerificate %},
    "TLSSkipVerify": true{% endif %}

  }
}
