{% if noc_config["services"].get("web", []) %}
upstream noc-web {
{% for n in noc_config["services"].get("web", []) %}
    {% if n.split(":")[0] in ansible_all_ipv4_addresses %}
    server {{ n }} weight={{web_weight}}  max_fails=3 fail_timeout=10;
    {% else %}
    server {{ n }} weight={{web_weight | int + 10}}  max_fails=3 fail_timeout=10 backup;
    {% endif %}
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("login", []) %}
upstream login {
{% for n in noc_config["services"].get("login", []) %}
    {% if n.split(":")[0] in ansible_all_ipv4_addresses %}
    server {{ n }} weight={{login_weight}}  max_fails=3 fail_timeout=10;
    {% else %}
    server {{ n }} weight={{login_weight | int + 10}}  max_fails=3 fail_timeout=10 backup;
    {% endif %}
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("card", []) %}
upstream card {
{% for n in noc_config["services"].get("card", []) %}
    {% if n.split(":")[0] in ansible_all_ipv4_addresses %}
    server {{ n }} weight={{card_weight}}  max_fails=3 fail_timeout=10;
    {% else %}
    server {{ n }} weight={{card_weight | int + 10 }}  max_fails=3 fail_timeout=10 backup;
    {% endif %}
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("mrt", []) %}
upstream mrt {
{% for n in noc_config["services"].get("mrt", []) %}
    server {{ n }} weight={{mrt_weight}};
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("bi", []) %}
upstream bi {
{% for n in noc_config["services"].get("bi", []) %}
    server {{ n }};
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("notebook", []) %}
upstream notebook {
{% for n in noc_config["services"].get("notebook", []) %}
    server {{ n[:-6] }}:{{ notebook_port }};
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("grafana", []) %}
upstream grafana {
{% for n in noc_config["services"].get("grafana", []) %}
    {% if n.split(":")[0] in ansible_all_ipv4_addresses %}
    server {{ n }} weight={{grafana_weight}}  max_fails=3 fail_timeout=10;
    {% else %}
    server {{ n }} weight={{grafana_weight | int + 10 }}  max_fails=3 fail_timeout=10;
    {% endif %}
{% endfor %}
}
{% endif %}

{% if noc_config["services"].get("grafanads", []) %}
upstream grafanads {
{% for n in noc_config["services"].get("grafanads", []) %}
    {% if n.split(":")[0] in ansible_all_ipv4_addresses %}
    server {{ n }} weight={{grafana_weight}}  max_fails=3 fail_timeout=10;
    {% else %}
    server {{ n }} weight={{grafanads_weight | int + 10 }}  max_fails=3 fail_timeout=10 backup;
    {% endif %}
{% endfor %}
}
{% endif %}