th[class="event-id"] {
    width: 5em;
}

th[class="event-object"] {
    width: 12em;
}

th[class="event-time"] {
    width: 4em;
}

th[class="event-status"] {
    width: 3em;
}

th[class="event-class"] {
    width: 10em;
}

th[class="event-priority"] {
    width: 4em;
}

th[class="event-action"] {
    width: 6em;
}

.checkpoint {
    background-color: #c0c0c0;
    font-weight: bold;
    font-style: italic;
}