<div class="noc-welcome-title">Welcome to the NOC!</div>
<div class="noc-welcome-body">
    <img id="noc-welcome-logo" src="/ui/web/img/logo_black.svg" width="32" height="32"/>
    <p>
        The NOC is the scalable, high-performance and open-source network management system for ISP,
         service and content providers.
    </p>
    <h2>Getting started:</h2>
    <i class="fa fa-desktop"></i> <a href="https://getnoc.com/" target="_blank">Official site and documentation</a><br/>
    <i class="fa fa-bug"></i> <a href="https://code.getnoc.com/noc/noc/-/issues" target="_blank">Issue Tracker</a><br/>

    <h2>Follow us:</h2>
    <p>
        Join <a href="https://getnoc.com/community-guide/" target="_blank">the NOC community.</a>
    </p>
</div>
