<div class="noc-welcome-title">Welcome to the NOC Project!</div>
<div class="noc-welcome-body">
<img id="noc-welcome-logo" src="/ui/web/img/logo_black.svg" width="32" height="32"/>
<a href="http://nocproject.org">NOC</a> is an Operation Support System (OSS)
for telecom companies, service providers, and enterprise Network Operation Centers
(<a href="http://en.wikipedia.org/wiki/Network_operations_center" target="_blank">NOC</a>).<br/>
NOC is open source and released under the terms of <a href="https://opensource.org/licenses/BSD-3-Clause" target="_blank">BSD LICENSE</a>.
Read <a href="https://code.getnoc.com/noc/noc/-/blob/master/README.md" target="_blank">more...</a><br/><br/>

<h2>Getting started:</h2>
<i class="fa fa-desktop"></i> <a href="https://getnoc.com/" target="_blank">Official site</a><br/>
<i class="fa fa-book"></i> <a href="https://docs.getnoc.com/" target="_blank">Online documentation</a><br/>
<i class="fa fa-bug"></i> <a href="https://code.getnoc.com/noc/noc/-/issues" target="_blank">Issue Tracker</a><br/>

<h2>Follow us:</h2>
    <i class="fa fa-telegram"></i> <a href="https://telegram.me/nocproject" target="_blank">Telegram group</a><br/>
</div>
