---
# ignore erros will be even here or later
- name: check firewalld state
  command: systemctl is-active firewalld
  register: firewalld_state
  changed_when: false
  ignore_errors: yes
  tags:
    - config
    - firewall

- name: Add firewall permissions for nodes
  firewalld:
    service: https
    permanent: true
    state: enabled
    immediate: true
  when: "firewalld_state.stdout == 'active'"
  tags:
    - config
    - firewall
