/*
 * NOC ExtJS extensions CSS
 */

/*
 * GeoField
 */
.noc-geo-wrap {
}

.noc-geo-lon,
.noc-geo-lat {
  display: inline-block;
}

/* Clickable cell */
.noc-clickable-cell,
.noc-clickable-cell:visited {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px black dotted;
}

.noc-clickable-cell:hover {
  color: #808080;
  text-decoration: none;
  border-bottom: 1px #808080 solid;
}

.noc-label-required {
  font-weight: bold !important;
  color: #c0392b;
}

.noc-const {
  color: #c0c0c0;
}

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
  background: none;
}

.x-form-itemselector-body .x-form-item {
  margin: 0;
}

.x-form-itemselector-top {
  background-image: url(/ui/web/img/ux/top2.gif);
}

.x-form-itemselector-up {
  background-image: url(/ui/web/img/ux/up2.gif);
}

.x-form-itemselector-add {
  background-image: url(/ui/web/img/ux/right2.gif);
}

.x-form-itemselector-remove {
  background-image: url(/ui/web/img/ux/left2.gif);
}

.x-form-itemselector-down {
  background-image: url(/ui/web/img/ux/down2.gif);
}

.x-form-itemselector-bottom {
  background-image: url(/ui/web/img/ux/bottom2.gif);
}
.x-display-tag {
  display: inline-block;
  position: relative;
  border-radius: 7px;
  padding: 0px 4px 0px 4px !important;
  margin: 0px 1px 0px 0px;
  background-color: #7f8c8d;
  color: #ffffff;
  border: 1px solid;
  cursor: default;
}

/*.x-panel-body-default {*/
/*    background-color: #ecf0f1 !important;*/
/*}*/

/*.x-grid-row {*/
/*    background-color: #ecf0f1 !important;*/
/*}*/

.x-summary {
  color: #7f8c8d;
}

/*
 Labels
 */
.x-noc-label {
  display: inline-block;
  font-size: 11px;
  padding: 0 7px 0px 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  max-width: 100%;
  border-radius: 5px;
}

.x-noc-label-text {
  display: inline-block;
  padding-bottom: 2px;
}

.x-noc-label-text-scoped {
  display: inline-block;
  padding: 0 2px 2px 0;
}

/* packages/ux/classic/sass/src/grid/SubTable.scss:1 */
.x-grid-subtable {
  border-collapse: collapse;
}
/* packages/ux/classic/sass/src/grid/SubTable.scss:7 */
tr.x-grid-subtable-row {
  background-color: #fff;
}
/* packages/ux/classic/sass/src/grid/SubTable.scss:11 */
.x-grid-subtable-header {
  border: 1px solid #c5c5c5;
  color: #000;
  font: normal 11px/13px tahoma, arial, verdana, sans-serif;
  background-image: none;
  background-color: #c5c5c5;
  background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #f9f9f9), color-stop(0%, #e6e3e3));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e6e3e3);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e6e3e3);
  background-image: -o-linear-gradient(top, #f9f9f9, #e6e3e3);
  background-image: -ms-linear-gradient(top, #f9f9f9, #e6e3e3);
  background-image: linear-gradient(top, #f9f9f9, #e6e3e3);
  padding: 3px 6px 4px 6px;
  text-overflow: ellipsis;
}
/* packages/ux/classic/sass/src/grid/SubTable.scss:29 */
.x-grid-subtable-cell {
  font: normal 11px/13px tahoma, arial, verdana, sans-serif;
  border-top: 1px solid #ededed;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #d0d0d0;
}
