{% extends "template.html" %}
{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{% url fm:alarm:css %}">
{% endblock %}
{% block breadcrumbs %}{{block.super}}<li>{{object.name}}</li><li>Active Alarms</li>{% endblock %}
<{% block content %}
<h1>Active alarms for {{object.name}}</h1>
<table>
    <thead>
        <tr>
            <th>Id</th><th>Class</th><th>Severity</th><th>Timestamp</th>
            <th>Duration</th><th>Subject</th>
        </tr>
    </thead>
    {% for a, s, subject in alarms %}
        <tr class="{{a.effective_style.css_class_name}}">
            <td><a href="{% url fm:alarm:alarm a.id %}">{{a.id}}</a></td>
            <td>{{a.alarm_class.name}}</td>
            <td>{{s}} ({{a.severity}})</td>
            <td>{{a.timestamp}}</td>
            <td>{{a.display_duration}}</td>
            <td>{{subject}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}