{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}<li>{{object.name}}</li><li>Attributes</li>{% endblock %}
<{% block content %}
<h1>{{object.name}} ({{object.profile_name}}) attributes</h1>
<div class="module">
    <table width="100%">
        <caption>Attributes</caption>
        <thead>
            <tr><th style="width: 150px">Attribute</th><th>Value</th>
        </thead>
        <tr class="row1"><td>Profile</td><td>{{object.profile_name}}</td></tr>
        <tr class="row2"><td>Address</td><td>{{object.address}}</td></tr>
        {% for a in attributes %}
            <TR class="{%cycle 'row1' 'row2'%}">
                <TD>{{a.key}}</TD>
                <TD>{{a.value}}</TD>
            </TR>
        {% endfor %}
    </table>
</div>
{%endblock%}
