{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}<li>Test Selectors</li>{% endblock %}
{% block content %}
<h1>Test Managed Objects selectors</h1>
<table border="0">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Profile</th><th>Address</th><th>Description</th><th>Users</th><th>Groups</th></tr>
    </thead>
    <tbody>
    {% for r in data %}
    <tr class="{%cycle 'row1' 'row2'%}">
        <td>{{r.object.id}}</td>
        <td>{{r.object.name}}</td>
        <td>{{r.object.profile_name}}</td>
        <td>{{r.object.address}}</td>
        <td>{{r.object.description}}</td>
        <td>{{r.users|join:", "}}</td>
        <td>{{r.groups|join:", "}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
