[Unit]
Documentation=http://unix.stackexchange.com/questions/247436/
Description=Set custom read-ahead on storage device

[Service]
Type=oneshot
ExecStart=/sbin/blockdev --setra 32 {{mongodb_blockdev.stdout}}