[[inputs.influxdb]]
  ## Works with InfluxDB debug endpoints out of the box,
  ## but other services can use this format too.
  ## See the influxdb plugin's README for more details.

  ## Multiple URLs from which to read InfluxDB-formatted JSON
  urls = [
    "http://127.0.0.1:{{ influxdb_port }}/debug/vars"
  ]


[[inputs.procstat]]
pattern = "influxd"
