{% extends "template.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css" />
<script>
function gettext(x) {
    return x;
}
function get_format(fmt) {
    switch(fmt) {
        case 'FIRST_DAY_OF_WEEK':
            return '1';
        case 'DATE_INPUT_FORMATS':
            return ['%d.%m.%Y'];
    }
}
django = {
    jQuery: $
};
</script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
{% endblock %}
{% block content %}
<h1>{{app.title}}</h1>
<form action="" method="POST">
<table border="0">
    {{form.as_table}}
</table>
<input type="submit" value="Generate Report"/>
{% endblock %}
