{% extends "template.html" %}
{% block extrahead %}{{ block.super }}
    <script TYPE="text/javascript"
            SRC="/ui/pkg/pdfmake/pdfmake.min.js"></script>
    <script TYPE="text/javascript"
            SRC="/ui/pkg/pdfmake/vfs_fonts.js"></script>
{% endblock %}
{% block content %}
    {{ data|safe }}
    <script>
        function getPDF(t) {
            var rows = [],
                table = $(t);
            var makeRow = function(tag, child){
              table.find(tag).find("tr").each(function(i, e) {
                var row = [];
                $(e).find(child).each(function(i, e) {
                    var colSpan = $(e).prop('colSpan'),
                        name = $(e).text();
                    if(colSpan > 0) {
                        row.push({width: 'auto', text: name, colSpan: colSpan, fontSize: 8});
                    } else {
                        row.push({width: 'auto', text: name, fontSize: 8});
                    }
                });
                rows.push(row);
              });
            }
            makeRow("thead", "th");
            makeRow("tbody", "td");
            pdfMake.createPdf({
              pageSize: 'A4',
              content: [
                {
                  table: {
                    headerRows: 1,
                    keepWithHeaderRows: 1,
                    body: rows
                  },
                  layout: 'lightHorizontalLines'
                }
              ]
            }).open();
        }
    </script>
{% endblock %}
