description "Realtime distributed messaging (nsqd)"

start on stopped rc RUNLEVEL=[2345]
stop on starting rc RUNLEVEL=[016]

console log
respawn

setuid nsq
setgid nsq

exec {{ noc_root }}/bin/nsqd -config {{ noc_root }}/var/etc/nsq/nsqd.conf
