#!/bin/sh
export PGPASSWORD={{ postgres_noc_password }}
isok=$(timeout 1 {{ postgres_bin_dir }}/psql -U {{ postgres_noc_user }} --host {{ ansible_host }} -qAt0 --port 5432 {{ postgres_noc_db }} -c "select pg_is_in_recovery()::int")
if [ "$isok" = "0" ]
then
    exit 0
else
    exit 2
fi
