file:
  {{ postgresql_conf_prefix }}/pg_hba.conf:
    exists: true
    mode: "0600"
    owner: {{ postgres_user }}
    group: postgres
    filetype: file
    contains:
    - /host\s+all\s+all\s+0.0.0.0/0\s+md5/
  {{ postgresql_conf_prefix }}/postgresql.conf:
    exists: true
    mode: "0600"
    owner: {{ postgres_user }}
    group: postgres
    filetype: file
    contains: []
port:
  tcp:5432:
    listening: true
service:
  {{ postgres_system_service }}:
{% if 'svc-patroni' in groups %}
    enabled: false
    running: false
{% else %}
    enabled: true
    running: true
{% endif %}
user:
  {{ postgres_user }}:
    exists: true
    groups:
    - postgres
    home: {{ postgres_home }}
    shell: /bin/bash
group:
  postgres:
    exists: true
process:
  {{ postgres_proccess }}:
    running: true
{% if noc_env_type == 'prod' %}
mount:
  {{ postgres_home }}:
    exists: true
    opts:
    - rw
    - relatime
    filesystem: xfs
{% endif %}
