# nginx role
---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Install nginx monitoring
  template:
    src: "etc/telegraf/telegraf.d/nginx.conf.j2"
    dest: "{{etc_prefix}}/telegraf/telegraf.d/nginx.conf"
  notify: reload telegraf
  tags:
    - config

- name: Set up SSL directory
  file:
    path: "{{ nginx_ssl_key_path | dirname }}"
    mode: 0700
    owner: "{{ nginx_user }}"
    state: directory

- name: Set up SSL key
  copy:
    content: "{{ noc_ssl_key }}"
    dest: "{{ nginx_ssl_key_path }}"
    mode: 0400
    owner: "{{ nginx_user }}"
  notify: restart nginx

- name: Set up SSL certificate
  copy:
    content: "{{ noc_ssl_cert }}"
    dest: "{{ nginx_ssl_cert_path }}"
    mode: 0400
    owner: "{{ nginx_user }}"
  notify: restart nginx

- name: Setup nginx
  template:
    src: "etc/nginx/conf.d/noc.conf.j2"
    dest: "{{ nginx_conf_path }}"
  notify: restart nginx
  tags:
    - config

- name: Install packages
  pip:
    chdir: "{{noc_root}}"
    requirements: "requirements/web.txt"
    virtualenv: "{{noc_root}}"
    extra_args: "--trusted-host cdn.getnoc.com --find-links https://cdn.getnoc.com/npkg/simple/ --allow-all-external --upgrade"
  when: "has_svc_web | default(False) "
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"
    CFLAGS: "{{ pip_cflags | default('') }}"


- name: Install assets
  command: "{{ noc_root }}/scripts/deploy/install-packages requirements/{{ item }}.json"
  args:
    chdir: "{{ noc_root }}"
  register: s
  changed_when: "'CHANGED' in s.stdout"
  with_items: "{{ required_assets }}"
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Enable Nginx system service
  service:
    name: "{{ nginx_system_service }}"
    enabled: yes
    state: restarted