# nginx role
---
- include: "os/{{ ansible_distribution }}/main.yml"

- name: Set up SSL directory
  file: path="{{ nginx_ssl_key_path | dirname }}" mode=0700 owner="{{ nginx_user }}" state=directory

- name: Set up SSL key
  copy: content="{{ noc_ssl_key }}" dest="{{ nginx_ssl_key_path }}" mode=0400 owner="{{ nginx_user }}"
  notify: restart nginx

- name: Set up SSL certificate
  copy: content="{{ noc_ssl_cert }}" dest="{{ nginx_ssl_cert_path }}" mode=0400 owner="{{ nginx_user }}"
  notify: restart nginx

- name: Setup nginx
  template: src="etc/nginx/conf.d/noc.conf.j2" dest="{{ nginx_conf_path }}"
  notify: restart nginx

- name: Install packages
  pip: >
    chdir="{{noc_root}}"
    executable="{{noc_root}}/bin/pip"
    requirements="requirements/web.txt"
    virtualenv="{{noc_root}}"
    extra_args="--trusted-host cdn.nocproject.org --find-links https://cdn.nocproject.org/pkg/simple/ --allow-all-external --upgrade"
  when: "'web' not in group_names"
