{% extends "template.html" %}
{% block breadcrumbs %}{{block.super}}<li>Test</li>{% endblock %}
{% block content %}
<H1>Test VC Filters</H1>
<div>
    <FORM METHOD="POST">
        {% include "includes/noc_fieldset.html" %}
        <div class="submit-row" >
            <input type="submit" value="Test" class="default"/>
        </div>
    </FORM>
</div>

{% if result %}
<DIV CLASS="module">
    <TABLE SUMMARY="Block info" WIDTH="100%">
        <CAPTION>{{prefix.prefix}} info</CAPTION>
        <THEAD>
            <TR><TH STYLE="width: 40px">VC Id</TH><TH>Description</TH></TR>
        </THEAD>
        {% for r in result %}
            <TR class="{%cycle 'row1' 'row2'%}">
                <TD>{{r.vcfilter}}</TD>
                <TD><img src="/media/img/admin/icon-{%if r.result%}yes{%else%}no{%endif%}.gif"></TD>
            </TR>
        {% endfor %}
    </TABLE>
</DIV>
{% endif %}
{%endblock%}
