# Consul options
EXTRA_OPTS="agent -config-dir={{noc_root}}/var/etc/consul/\
    -bind={{ hostvars[ansible_nodename].ansible_ssh_host }}\
    -node={{ ansible_nodename }}\
    -dc={{noc_dc}}\
{% if "svc-consul" not in group_names %}
    {% for n in groups["svc-consul"] %}
        -join={{ hostvars[n].ansible_ssh_host }} \
    {% endfor %}
{% endif %}
"
