---
- name: Create required directories
  file:
    path: "{{item}}"
    state: "directory"
    mode: 0755
  with_items:
    - "{{etc_prefix}}/pgbouncer"

- name: Install pgbouncer config
  template:
    src: "etc/pgbouncer/pgbouncer.ini.j2"
    dest: "{{etc_prefix}}/pgbouncer/pgbouncer.ini"
  notify: reload pgbouncer
  tags:
    - config

- name: Install pgbouncer
  yum:
    name: pgbouncer
  environment:
    http_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Install pgbouncer limits file
  template:
    src: "etc/security/limits.d/pgbouncer_limits.conf.j2"
    dest: "/etc/security/limits.d/pgbouncer_limits.conf"
  tags:
    - config

- name: create systemd override dir
  file:
    path: "/etc/systemd/system/pgbouncer.service.d/"
    state: directory
  tags:
    - config
#https://www.freedesktop.org/software/systemd/man/systemd.unit.html#id-1.11.3
#
# order will be by filenaming.
# /etc/systemd/system/pgbouncer.service.d/noc.conf
#[Service]
#LimitNOFILE=1000
# /etc/systemd/system/pgbouncer.service.d/override.conf
#[Service]
#LimitNOFILE=5000
#
- name: Install pgbouncer override.conf
  template:
    src: "etc/override.conf.j2"
    dest: "/etc/systemd/system/pgbouncer.service.d/noc.conf"
  notify: reload systemd
  tags:
    - config