[Unit]
Description=Consul-Template Daemon
Wants=basic.target
After=basic.target network.target

[Service]
Environment=HOSTNAME={{ ansible_nodename }}
User=root
Group=root
ExecStart={{ consul_template_bin_path }}/consul-template -config {{consul_template_config_dir}}{%  if consultemplate_use_dedup %} -dedup{% endif %}

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s
LimitNOFILE=4096
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
