[[inputs.httpjson]]
  name = "inv_monitor"

  servers = [
    "https://{{ noc_web_host }}/inv/monitor/"
  ]
  method = "GET"

  insecure_skip_verify = {% if nginx_self_signed_cerificate %}true{% else %}false{% endif %}

  response_timeout = "15s"

  [inputs.httpjson.headers]
    Authorization = "Basic YWRtaW46YWRtaW4=" # admin:admin

##
## NOC users!
##
## If you want to use that plugin please create special user in noc web and set "Authorization" to
## that  `echo -n admin:admin | base64`.
## or wget -d --auth-no-challenge --no-check-certificate https://admin:admin@{{ noc_web_host }}/inv/monitor/
##
