---
- name: Install and upgrade NOC
  hosts: nodes
  become: no
  any_errors_fatal: true
  vars_files:
    - [ "vars/main.yml", "vars/local.yml" ]
  vars:
    ansible_tags: "{{ lookup('get_tags') }}"

  roles:
    - role: pre

    - role: node
      become: yes
      tags:
        - node
        - noc

    - role: dev
      become: yes
      when: "{{ has_svc_dev | default(False) }} or {{ has_svc_notebook | default(False) }}"
      tags:
        - dev

    - role: mongod
      become: yes
      when: "{{ has_svc_mongod | default(False) }}"
      tags:
        - mongod
        - external

    - role: postgres
      become: yes
      when: "{{ has_svc_postgres | default(False) }}"
      tags:
        - postgres
        - external

    - role: pgbouncer
      become: yes
      when: "{{ has_svc_pgbouncer | default(False) }}"
      tags:
        - pgbouncer
        - external
    - role: influxdb
      become: yes
      when: "{{ has_svc_influxdb | default(False) }}"
      tags:
        - influxdb
        - external

    - role: nginx
      become: yes
      when: "{{ has_svc_nginx | default(False) }}"
      tags:
        - nginx
        - web
        - external

    - role: grafana
      become: yes
      when: "{{ has_svc_grafana | default(False) }}"
      tags:
        - grafana
        - external

    - role: nsqd
      become: yes
      when: "{{ has_svc_nsqd | default(False) }}"
      tags:
        - nsq
        - nsqd
        - external

    - role: nsqlookupd
      become: yes
      when: "{{ has_svc_nsqlookupd| default(False) }}"
      tags:
        - nsq
        - nsqlookupd
        - external

    - role: nsqadmin
      become: yes
      when: "{{ has_svc_nsqadmin | default(False) }}"
      tags:
        - nsq
        - nsqadmin
        - external

    - role: notebook
      become: yes
      when: "{{ has_svc_notebook | default(False) }}"
      tags:
        - notebook
        - external

    - role: memcached
      become: yes
      when: "{{ has_svc_memcached | default(False) }}"
      tags:
        - memcached
        - external

    - role: migrate
      become: yes
      when: "{{ has_svc_mongod_master | default(False) }}"
      tags:
        - migrate

    - role: login
      become: yes
      when: "{{ has_svc_login | default(False) }}"
      tags:
        - login
        - node
        - noc

    - role: mrt
      become: yes
      when: "{{ has_svc_mrt | default(False) }}"
      tags:
        - mrt
        - node
        - noc

    - role: escalator
      become: yes
      when: "{{ has_svc_escalator | default(False) }}"
      tags:
        - escalator
        - node
        - noc        

    - role: web
      become: yes
      when: "{{ has_svc_web | default(False) }}"
      tags:
        - node
        - web
        - noc

    - role: card
      become: yes
      when: "{{ has_svc_card | default(False) }}"
      tags:
        - node
        - card
        - noc

    - role: grafanads
      become: yes
      when: "{{ has_svc_grafanads | default(False) }}"
      tags:
        - node
        - grafanads
        - noc

    - role: mailsender
      become: yes
      when: "{{ has_svc_mailsender | default(False) }}"
      tags:
        - mailsender
        - node
        - noc

    - role: tgsender
      become: yes
      when: "{{ has_svc_tgsender | default(False) }}"
      tags:
        - tgender
        - node
        - noc  

    - role: omap
      become: yes
      when: "{{ has_svc_omap | default(False) }}"
      tags:
        - omap
        - node
        - noc

    - role: pmwriter
      become: yes
      when: "{{ has_svc_pmwriter | default(False) }}"
      tags:
        - pmwriter
        - node
        - noc

    - role: activator
      become: yes
      when: "{{ has_svc_activator | default(False) }}"
      tags:
        - activator
        - node
        - noc

    - role: classifier
      become: yes
      when: "{{ has_svc_classifier | default(False) }}"
      tags:
        - classifier
        - node
        - noc

    - role: correlator
      become: yes
      when: "{{ has_svc_correlator | default(False) }}"
      tags:
        - correlator
        - node
        - noc

    - role: syslogcollector
      become: yes
      when: "{{ has_svc_syslogcollector | default(False) }}"
      tags:
        - syslogcollector
        - node
        - noc

    - role: trapcollector
      become: yes
      when: "{{ has_svc_trapcollector | default(False) }}"
      tags:
        - trapcollector
        - node
        - noc

    - role: ping
      become: yes
      when: "{{ has_svc_ping | default(False) }}"
      tags:
        - ping
        - node
        - noc

    - role: sae
      become: yes
      when: "{{ has_svc_sae | default(False) }}"
      tags:
        - sae
        - node
        - noc

    - role: scheduler
      become: yes
      when: "{{ has_svc_scheduler | default(False) }}"
      tags:
        - scheduler
        - node
        - noc

    - role: discovery
      become: yes
      when: "{{ has_svc_discovery | default(False) }}"
      tags:
        - discovery
        - node
        - noc

    - role: post
      become: yes
      tags:
        - post