---
- name: pre tasks
  hosts: all
  become: no
  any_errors_fatal: false
  gather_facts: True
  vars_files:
    - "vars/main.yml"
  vars:
    ansible_tags: "{{ lookup('get_tags') }}"
  roles:
    - role: pre
      tags:
        - always

- name: Common tasks
  hosts: all
  become: no
  any_errors_fatal: false
  gather_facts: True
  vars_files:
    - "vars/main.yml"
  roles:
    - role: telegraf
      become: yes
      tags:
        - telegraf

    - role: haproxy
      become: yes
      when: "has_svc_haproxy| default(False) or consul_env"
      tags:
        - haproxy

    - role: keepalived
      become: yes
      when: "has_svc_keepalived | default(False) or consul_env"
      tags:
        - keepalived

    - role: consul
      become: yes
      tags:
        - consul

    - role: consul-template
      become: yes
      tags:
        - consul-template
        - external

    - role: node
      become: yes
      tags:
        - node
        - noc

- name: Install and configure nsq
  hosts: all
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: nsqd
      become: yes
      tags:
        - nsq
        - nsqd
        - external

    - role: nsqlookupd
      become: yes
      when: "has_svc_nsqlookupd| default(False) or consul_env"
      tags:
        - nsq
        - nsqlookupd
        - external

- name: Install and configure mongo
  hosts: svc-mongod
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: mongod
      become: yes
      when: "has_svc_mongod | default(False) or consul_env"
      tags:
        - mongod
        - external

- name: Install and configure postgres
  hosts: svc-postgres
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: postgres
      become: yes
      when: "has_svc_postgres | default(False) or consul_env"
      tags:
        - postgres
        - external

- name: Install and configure pgbouncer
  hosts: svc-pgbouncer
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: pgbouncer
      become: yes
      when: "has_svc_pgbouncer | default(False) or consul_env"
      tags:
        - pgbouncer
        - external

- name: Install and configure influxdb
  hosts: svc-influxdb
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: influxdb
      become: yes
      when: "has_svc_influxdb | default(False) or consul_env"
      tags:
        - influxdb
        - external

- name: Install and configure nginx
  hosts: svc-nginx
  serial: 1
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: nginx
      become: yes
      when: "has_svc_nginx | default(False) or consul_env"
      tags:
        - nginx
        - web
        - external

- name: Install and configure grafana
  hosts: svc-grafana
  become: yes
  serial: 1
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: grafana
      become: yes
      when: "has_svc_grafana | default(False) or consul_env"
      tags:
        - grafana
        - external


- name: Install and configure memcached
  hosts: svc-memcached
  become: yes
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: memcached
      become: yes
      when: "has_svc_memcached | default(False) or consul_env"
      tags:
        - memcached
        - external

- name: Install and upgrade NOC
  hosts: svc-activator,svc-bi,svc-card,svc-classifier,svc-correlator,svc-discovery,svc-escalator,svc-grafanads,svc-login,svc-mailsender,svc-mrt,svc-omap,svc-ping,svc-pmwriter,svc-sae,svc-scheduler,svc-syslogcollector,svc-tgsender,svc-trapcollector,svc-web,
  become: no
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  roles:
    - role: login
      become: yes
      when: "has_svc_login | default(False) or consul_env"
      tags:
        - login
        - node
        - noc

    - role: mrt
      become: yes
      when: "has_svc_mrt | default(False) or consul_env"
      tags:
        - mrt
        - node
        - noc

    - role: escalator
      become: yes
      when: "has_svc_escalator | default(False) or consul_env"
      tags:
        - escalator
        - node
        - noc

    - role: web
      become: yes
      when: "has_svc_web | default(False) or consul_env"
      tags:
        - node
        - web
        - noc

    - role: card
      become: yes
      when: "has_svc_card | default(False) or consul_env"
      tags:
        - node
        - card
        - noc

    - role: grafanads
      become: yes
      when: "has_svc_grafanads | default(False) or consul_env"
      tags:
        - node
        - grafanads
        - noc

    - role: mailsender
      become: yes
      when: "has_svc_mailsender | default(False) or consul_env"
      tags:
        - mailsender
        - node
        - noc

    - role: tgsender
      become: yes
      when: "has_svc_tgsender | default(False) or consul_env"
      tags:
        - tgsender
        - node
        - noc

    - role: omap
      become: yes
      when: "has_svc_omap | default(False) or consul_env"
      tags:
        - omap
        - node
        - noc

    - role: pmwriter
      become: yes
      when: "has_svc_pmwriter | default(False) or consul_env"
      tags:
        - pmwriter
        - node
        - noc

    - role: chwriter
      become: yes
      when: "has_svc_chwriter | default(False) or consul_env"
      tags:
        - chwriter
        - node
        - noc

    - role: activator
      become: yes
      when: "has_svc_activator | default(False) or consul_env"
      tags:
        - activator
        - node
        - noc

    - role: classifier
      become: yes
      when: "has_svc_classifier | default(False) or consul_env"
      tags:
        - classifier
        - node
        - noc

    - role: correlator
      become: yes
      when: "has_svc_correlator | default(False) or consul_env"
      tags:
        - correlator
        - node
        - noc

    - role: syslogcollector
      become: yes
      when: "has_svc_syslogcollector | default(False) or consul_env"
      tags:
        - syslogcollector
        - node
        - noc

    - role: trapcollector
      become: yes
      when: "has_svc_trapcollector | default(False) or consul_env"
      tags:
        - trapcollector
        - node
        - noc

    - role: ping
      become: yes
      when: "has_svc_ping | default(False) or consul_env"
      tags:
        - ping
        - node
        - noc

    - role: sae
      become: yes
      when: "has_svc_sae | default(False) or consul_env"
      tags:
        - sae
        - node
        - noc

    - role: scheduler
      become: yes
      when: "has_svc_scheduler | default(False) or consul_env"
      tags:
        - scheduler
        - node
        - noc

    - role: discovery
      become: yes
      when: "has_svc_discovery | default(False) or consul_env"
      tags:
        - discovery
        - node
        - noc

    - role: bi
      become: yes
      when: "has_svc_bi | default(False) or consul_env"
      tags:
        - bi
        - node
        - noc

- name: Install and configure dev tools
  hosts: svc-dev
  become: yes
  any_errors_fatal: false
  vars_files:
    - "vars/main.yml"
  roles:
    - role: dev
      become: yes
      when: "has_svc_dev | default(False) or has_svc_notebook | default(False) or consul_env"
      tags:
        - dev

    - role: notebook
      become: yes
      when: "has_svc_notebook | default(False) or consul_env"
      tags:
        - notebook
        - external
        - dev

    - role: nsqadmin
      become: yes
      when: "has_svc_nsqadmin | default(False) or consul_env"
      tags:
        - nsq
        - nsqadmin
        - external
        - dev


- name: Finally
  hosts: all
  become: no
  any_errors_fatal: true
  vars_files:
    - "vars/main.yml"
  vars:
    ansible_tags: "{{ lookup('get_tags') }}"
  roles:
    - role: migrate
      become: yes
      run_once: true
      tags:
        - migrate

    - role: post
      become: yes
      tags:
        - post