---
- name: Add Grafana repository
  yum_repository:
    name: grafana
    description: Grafana repository
    baseurl: https://packagecloud.io/grafana/stable/el/{{ ansible_distribution_major_version }}/{{ ansible_architecture }}
    gpgcheck: yes
    gpgkey: https://grafanarel.s3.amazonaws.com/RPM-GPG-KEY-grafana
    enabled: yes
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - repo

- name: Install CentOS packages
  yum:
    name: grafana-{{ grafana_version }}
    state: present
    update_cache: yes
  notify: restart grafana
  tags:
    - requirements
  environment:
    https_proxy: "{{http_proxy}}"
    http_proxy: "{{http_proxy}}"

- name: Set up Grafana service
  lineinfile:
    dest: /etc/sysconfig/grafana-server
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
  with_items:
    - key: DATA_DIR
      value: "{{ noc_root }}/var/db/grafana"
    - key: CONF_DIR
      value: "{{ noc_root }}/var/etc/grafana"
    - key: CONF_FILE
      value: "{{ noc_root }}/var/etc/grafana/grafana.ini"
    - key: PLUGINS_DIR
      value: "{{ noc_root }}/var/db/grafana_plugins"
  notify: restart grafana
