<i class="fa fa-desktop"></i> <a href="https://getnoc.com/" target="_blank">Official site and documentation</a><br/>
<i class="fa fa-bug"></i> <a href="https://code.getnoc.com/noc/noc/-/issues" target="_blank">Issue Tracker</a><br/>

<h2>Follow us:</h2>
<p>
    Join <a href="https://getnoc.com/community-guide/" target="_blank">the NOC community.</a>
</p>
