    <img src="/ui/web/img/logo_black.svg" width="32" height="32" style="float: left" />
    <p>
        NOC is the scalable, high-performance and open-source network management system for ISP,
         service and content providers.
    </p>
