<i class="gf gf-1x brand-noc-s" style="float:left; margin-right: 4px"></i>
<p>
    NOC is the scalable, high-performance and open-source network management system for ISP,
        service and content providers.
</p>
