# Migrate database schema
---
- name: syncdb
  command: ./noc syncdb --noinput
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"

- name: Migrate
  command: ./noc migrate --ignore-ghost-migrations
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"

- name: Apply pools
  command: "{{ noc_root }}/scripts/deploy/apply-pools"
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  register: result
  changed_when: "'CHANGED' in result.stdout"

- name: Synchronize collections
  command: ./noc collection --sync
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"

- name: Synchronize permissions
  command: ./noc sync-perm
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"

- name: Synchronize MIBs
  command: ./noc sync-mibs
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
