# {{ ansible_managed }}
consul = {
    address = "{{ consul_template_consul_server }}:{{ consul_template_consul_port }}"
}
{% if consul_template_log_level -%}
    log_level = "{{consul_template_log_level}}"
{% endif %}

{% if consul_template_wait is defined %}
wait = "{{consul_template_wait}}"
{% endif %}

syslog {
  # This enables syslog logging. Specifying any other option also enables
  # syslog logging.
  enabled = true
}

deduplicate {
  # This enables de-duplication mode. Specifying any other options also enables
  # de-duplication mode.
  enabled = {{ consul_template_use_dedup | bool | lower}}

  # This is the prefix to the path in Consul's KV store where de-duplication
  # templates will be pre-rendered and stored.
  prefix = "consul-template/dedup/"
}