.widget-base {
	box-shadow: 0 0 10px 2px lighten($color-silver, 10%);

	.x-panel-body-default,
	.x-panel-header-default {
		background-color: $color-white;

		.x-tool-img {
			color: $color-black;
			background-color: transparent;
		}
	}

	.x-column-header.x-column-header-default,
	.x-grid-item,
	.x-column-header-over,
	.x-column-header-focus,
	.x-column-header-trigger,
	.x-column-header-open {
		background-color: $color-white;
	}

	.x-column-header-last .x-column-header-over .x-column-header-trigger {
		border-right: none;
	}

	& .x-panel-header {
		border-radius: $border-radius $border-radius 0 0;
	}

	& .x-panel-body {
		border-radius: 0 0 $border-radius $border-radius;
	}

	.x-grid-with-row-lines .x-grid-item:last-child {
		border-bottom-width: 0;
	}
}