.app-header-logo {
    width: 20px;
    height: 20px;
}

.app-header-app-name {
    margin-left: 1rem;
}

.app-header__start {
    display: flex;
    align-items: center;
}
.app-header__middle {
    flex: 1 1 auto;
}

.app-header__end {
    display: flex;
    align-items: center;
}
