<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button [style.visibility]="isAuth ? 'visible' : 'hidden'" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <svg class="app-header-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <path fill="white"
            d="M120 500 L0 380 H45 V75 A75 75 0 0 1 180 30 L305 197 V120 H259 L380 0 L500 120 H455 V425 A75 75 0 0 1 319 469 L195 302 L195 380 H241 Z" />
    </svg>
    <span class="app-header-app-name">NOC</span>
    <mat-button-toggle-group appearance="legacy">
      <mat-button-toggle value="analytics">Analytics</mat-button-toggle>
      <mat-button-toggle value="monitoring">Monitoring</mat-button-toggle>
      <mat-button-toggle value="logical">Logical</mat-button-toggle>
      <mat-button-toggle value="physical">Physical</mat-button-toggle>
      <mat-button-toggle value="admin">Admin</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="app-header-spacer"></span>
    <noc-lang-picker lang="{{lang}}" (langSwitchEvent)="langSwitch($event)"></noc-lang-picker>
    <button [style.visibility]="isAuth ? 'visible' : 'hidden'" mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
