{
  "service": {
    "name": "clickhouse",
    "tags": [ ],
    "port": {{clickhouse_http_port}},
    "enableTagOverride": false,
    "check": {
        "http": "http://localhost:{{clickhouse_http_port}}/",
        "interval": "10s"
    }
  }
}
