upstream noc-web {
    {% for n in groups["svc-web"] %}
    server {{ n }}:8000;
    {% endfor %}
}

server {
    listen 443;
    server_name {{ noc_web_host }};
    ssl on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_certificate {{ nginx_ssl_cert_path }};
    ssl_certificate_key {{ nginx_ssl_key_path }};
    access_log  {{ nginx_log_dir }}/noc.access.log;
    error_log  {{ nginx_log_dir }}/noc.error.log;

    location /media/ {
        alias {{ noc_root }}/lib/python/site-packages/django/contrib/admin/static/;
        gzip on;
        gzip_types text/css text/x-js;
    }

    location /static/ {
        alias {{ noc_root }}/static/;
        gzip on;
        gzip_types text/css text/x-js;
    }

    location ~ ^([^/]+)/([^/]+)/(js|css|img)/(.+)$ {
        root {{ noc_root }};
        rewrite ^([^/]+)/([^/]+)/(js|css|img)/(.+)$
                /$1/apps/$2/$3/$4 break;
        gzip on;
        gzip_types text/css text/x-js;
    }

    location / {
        proxy_pass http://noc-web;
        gzip on;
        gzip_types text/css text/x-js;
        proxy_set_header Host $http_host;
        proxy_set_header X-Scheme $scheme;
    }
}
