---
- name: Copy mongod-arbiter service file
  template:
    src: "os/Ubuntu/etc/systemd/system/mongod-arbiter.service.j2"
    dest: "/etc/systemd/system/mongod-arbiter.service"
  notify:
    - restart mongod-arbiter
    - reload systemd
