{
  "service": {
    "name": "{{ name }}",
    "tags": [ "{{ consul_tags | default('') }}" ],
    "port": {{ port }},
    "enable_tag_override": false,
    "check": {
{% if check_type == 'script' %}
        "args": ["{{ check_value }}"],
{% else %}
        "{{ check_type }}": "{{ check_value }}",
{% endif %}
        "timeout": "{{ check_timeout }}",
        "interval": "{{ check_interval }}"
        {% if check_http_skip_verify %},
        "tls_skip_verify": true{% endif %}
    }
  }
}
