# {{ ansible_managed }}
template {
  source = "{{ consul_template_templates_dir }}/noc_syslogcollector.ctmpl"
  destination = "{{ telegraf_confd_path }}/noc-syslogcollector.conf"
  command = "{{ telegraf_reload_command }}"
  command_timeout = "60s"
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "60s"
  }
}