<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2">
            <a href="/api/card/view/vrf/{{ object.vrf.id }}/">{{ object.vrf.name }}</a> |
            IPv{{ object.afi }} |
            {% for p in path %}
            <a href="/api/card/view/prefix/{{ p.id }}/" title="{{ p.name }}">{{ p.prefix }}</a> |
            {% endfor %}
            {{ object.address }}
        </th>
    </tr>
    <tr>
        <th scope="row">{{ _("Name") }}</th>
        <td>{{object.name}}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("Profile") }}</th>
        <td>{{object.profile.name}}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("State") }}</th>
        <td>{{object.state.name}}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("Description") }}</th>
        <td>{{object.description}}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("Source") }}</th>
        <td>{{source}}</td>
    </tr>
</tbody>
