<div id="map"></div>
<div id="summary"><i class="fa fa-spinner fa-spin"></i> {{ _("Loading ...") }}</div>
<script>
$(document).ready(function() {
    var heatmap = new Heatmap();
    heatmap.run({{maintenance}}, {{lon}}, {{lat}}, {{zoom}});
});
</script>
