<div id="map"></div>
<div id="summary"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>
<script>
$(document).ready(function() {
    var heatmap = new Heatmap();
    heatmap.run();
});
</script>
