<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ card_title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ hashed("/ui/pkg/bootstrap/css/bootstrap.min.css") }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ hashed("/ui/pkg/bootstrap/css/bootstrap-theme.min.css") }}">
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="/ui/pkg/bootstrap/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="{{ hashed("/ui/pkg/fontawesome/css/font-awesome.min.css") }}">
    <script src="{{ hashed("/ui/pkg/jquery/jquery.min.js") }}"></script>
    {% if card_js -%}
        {% for js in card_js -%}
            <script src="{{ hashed(js) }}"></script>
        {%- endfor %}
    {%- endif %}
    {% if card_css -%}
        {% for css in card_css -%}
            <link rel="stylesheet" href="{{ hashed(css) }}">
        {%- endfor %}
    {%- endif %}
</head>
<body>
    <div class="container-fluid">
        {{ card_data }}
    </div>
</body>
</html>
