<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2" class="{{ {"before": "warning", "progress": "danger", "complete": "success"}[status] }}">
            {{ title }}
        </th>
    </tr>
    <tr>
        <th scope="row" class="col-sm-1">{{ _("Type") }}</th>
        <td>{{ object.type.name }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Date") }}</th>
        <td>{{ start | timestamp }} - {{ stop | timestamp }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Services") }}</th>
        <td>{{ summary | glyph_summary }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Description") }}</th>
        <td>{{ description }}</td>
    </tr>
    {% if object.time_pattern %}
    <tr>
        <th scope="row" class="col-sm-1">{{ _("Time Pattern") }}</th>
        <td>
            <a href="/api/card/view/timepattern/{{ object.time_pattern.id }}/">{{ object.time_pattern.name }}</a>
        </td>
    <tr>
    {% endif %}
    {% if object.escalation_tt %}
    <tr>
        <th scope="row">{{ _("Escalation") }}</th>
        <td>
            TT <a href="/api/card/view/tt/{{ object.escalation_tt }}/">{{ object.escalation_tt }}</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">{{ _("Contacts") }}</th>
        <td>{{ contacts }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Affected objects") }}</th>
        <td>
            <table>
                <thead>
                    <th class="col-xs-4">{{ _("Object") }}</th>
                    <th class="col-xs-2">{{ _("Model") }}</th>
                    <th class="col-xs-2">{{ _("IP") }}</th>
                    <th class="col-xs-4">{{ _("Services") }}</th>
                </thead>
                <tbody>
                    {% for a in affected %}
                    <tr>
                        <td>
                            <a href="/api/card/view/managedobject/{{ a["id"] }}/">{{ a["name"] }}</a>
                            <br/>
                            <span class="small">{{ a["object"] | object_location }}</span>
                        </td>
                        <td>{{ a["platform"] }}</td>
                        <td>{{ a["address"] }}</td>
                        <td>{{ a["summary"] | glyph_summary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</tbody>
</table>
