<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2" class="{{ {"before": "warning", "progress": "danger", "complete": "success"}[status] }}">
            {{ title }}
        </th>
    </tr>
    <tr>
        <th scope="row" class="col-sm-1">{{ _("Type") }}</th>
        <td>{{ object.type.name }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Date") }}</th>
        <td>{{ start | timestamp }} - {{ stop | timestamp }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Services") }}</th>
        <td>{{ summary | glyph_summary }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Description") }}</th>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Contacts") }}</th>
        <td>{{ contacts }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _("Affected objects") }}</td>
        <td>
            <table>
                <thead>
                    <th>{{ _("Object") }}</th>
                    <th>{{ _("Model") }}</th>
                    <th>{{ _("IP") }}</th>
                    <th>{{ _("Services")</th>
                </thead>
                <tbody>
                    {% for a in affected %}
                    <tr>
                        <td>
                            <a href="/api/card/view/managedobject/{{ id }}/>{{ name }}</a>
                        </td>
                        <td>{{ address }}</td>
                        <td>{{ platform }}</td>
                        <td>{{ summary | glyph_summary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</tbody>
</table>
