<h3>{{ object_profile_name }}</h3>
<div class="row">
    <div class="col-md-12">
        {{ name }}, {% if platform %}{{ platform }}, {% endif %}{{ address }}, @todo: MAC
    </div>
</div>
<div class="row">
    <div class="col-md-2">Container</div>
    <div class="col-md-10">Blabla</div>
</div>
<div class="row">
    <div class="col-md-2">Version</div>
    <div class="col-md-10">{{ version }}</div>
</div>
<div class="row">
    <div class="col-md-2">Description</div>
    <div class="col-md-10">{{ description }}</div>
</div>


Service range:
L2 terminator:
L3 terminator:
Uptime:
Neighbors:
TT List: