<table class="table table-condensed table-hover">
<tbody>
<tr>
    <th colspan="2" class="{{ {'up': 'success', 'alarm': 'warning', 'down': 'danger'}[current_state] }}">
        {{ object | managed_object_title }}
        <span style="float: right">
        {% if current_state == "down" %}Down{% else %}<i class="fa fa-check"></i>Up{% endif %}{%if current_start %}: {{ current_duration }} ({{ current_start | timestamp }}){% endif %}
        </span>
    </th>
</tr>
{% if maintenance %}
<tr>
    <th scope="row" class="col-sm-1">{{ _("Maintenance") }}</th>
    <td>
        <table>
            <thead>
                <tr>
                    <th class="col-sm-6">{{ _("Subject") }}</th>
                    <th class="col-sm-3">{{ _("Start") }}</th>
                    <th class="col-sm-3">{{ _("Stop") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for m in maintenance %}
                <tr class="{{ {True: "danger", False: "warning"}[m["in_progress"]] }}">
                    <td><a href="/api/card/view/maintenance/{{ m["id"] }}/">{{ m["subject"] }}</a></td>
                    <td>{{ m["start"] | timestamp }}</td>
                    <td>{{ m["stop"] | timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
<tr>
{% endif %}
{% if container_path %}
<tr>
    <th scope="row" class="col-sm-1">{{ _("Container") }}</th>
    <td>
        {% for o in container_path %}
        <a href="/api/card/view/object/{{ o.id }}/">{{ o.name }}</a>
        {% if not loop.last %} | {% endif %}
        {% endfor %}
    </td>
</tr>
{% endif %}
<tr>
    <th scope="row" class="col-sm-1">{{ _("Location") }}</th>
    <td>{{ object | object_location }}</td>
</tr>
<tr>
    <th scope="row">{{ _("Administrative Domain") }}</th>
    <td>{{ object.administrative_domain.name }}</td>
</tr>
{% if object.time_pattern %}
<tr>
    <th scope="row" class="col-sm-1">{{ _("Time Pattern") }}</th>
    <td>
        <a href="/api/card/view/timepattern/{{ object.time_pattern.id }}/">{{ object.time_pattern.name }}</a>
    </td>
<tr>
{% endif %}
<tr>
    <th scope="row">{{ _("Segment") }}</th>
    <td>
        {% if segment %}
        <a href="/api/card/view/segment/{{ segment.id }}/">
                {% if segment.is_redundant %}
                    {% if segment.lost_redundancy %}
                        <i class="fa fa-exclamation-triangle" title="{{ _("Lost redundancy") }}"></i>
                    {% else %}
                        <i class="fa fa-check" title="{{ _("Redundant") }}"></i>
                    {% endif %}
                {% else %}
                    <i class="fa fa-times" title="{{ _("No redundancy") }}"></i>
                {% endif %}
            {{ segment.name }}
        </a>
        {% endif %}
    </td>
</tr>
<tr>
    <th scope="row">{{ _("Redundancy") }}</th>
    <td>
        {{ {"R": _("Redundant"), "L": _("Lost redundancy"), "N": _("No redundancy") }[redundancy] }}
    </td>
</tr>
<tr>
    <th scope="row">{{ _("Model") }}</th>
    <td>{{ platform }}</td>
</tr>
{% if service_summary %}
<tr>
    <th scope="row">{{ _("Services") }}</th>
    <td>
        {{ service_summary | glyph_summary }}
    </td>
</tr>
{% endif %}
<tr>
    <th scope="row">{{ _("IP") }}</th>
    <td>{{ address }} {{ object | object_console }}</td>
</tr>
<tr>
    <th scope="row">{{ _("MAC") }}</th>
    <td>{{ macs }}</td>
</tr>
<tr {% if firmware_status in ('n', 'd') %}class="warning"{% endif %}>
    <th scope="row">{{ _("Version") }}</th>
    <td>{% if version %}{{ version }}
            {% if firmware_recommended and firmware_recommended.version != version %}
            ({{ _("Recommended") }}: {{ firmware_recommended.version }})
            {% endif %}
        {% endif %}
    </td>
</tr>
<tr>
    <th scope="row">{{ _("Description") }}</th>
    <td>{% if description %}{{ description }}{% endif %}</td>
</tr>
<tr>
    <th scope="row">{{ _("Dashboard") }}</th>
    <td><a href="/ui/grafana/dashboard/script/noc.js?dashboard=mo&id={{ object.id }}">View metrics</a></td>
</tr>
<tr>
    <th scope="row">{{ _("Service Range") }}</th>
    <td>N/A</td>
</tr>
<tr>
    <th scope="row">{{ _("L2 Terminator") }}</th>
    <td>
        {% if l2_terminators %}
        <table class="table table-condensed table-hover">
            <thead>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Address") }}</th>
                <th>{{ _("Model") }}</th>
            </thead>
            <tbody>
                {% for t in l2_terminators %}
                <tr>
                    <td><a href="/api/card/view/managedobject/{{ t.id }}/">{{ t.name }}</a></td>
                    <td>{{ t.address }}</td>
                    <td>{{ t.platform }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </td>
</tr>
<tr>
    <th scope="row">{{ _("L3 Terminator") }}</th>
    <td>N/A</td>
</tr>
<tr>
    <th scope="row">{{ _("Neighbors") }}</th>
    <td>
        {% if links %}
            <table class="table table-condensed hable-hover">
                <thead>
                    <th class="col-sm-1">{{ _("Local port") }}</th>
                    <th class="col-sm-4">{{ _("Remote object") }}</th>
                    <th class="col-sm-1">{{ _("Remote port") }}</th>
                </thead>
                <tbody>
                    {% for l in links %}
                        <tr class="{{ {'up': 'success', 'alarm': 'warning', 'down': 'danger'}[l["remote_status"]] }}">
                            <td>
                                {% if l["role"] == "uplink" %}
                                    <i class="fa fa-arrow-circle-up" title="Uplink"></i>
                                {% else %}
                                    <i class="fa fa-arrow-circle-down" title="Downlink"></i>
                                {% endif %}
                                {% for i in l["local_interface"] %}
                                {{ i.name }}{% if not loop.first %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/api/card/view/managedobject/{{ l["remote_object"].id }}/">
                                    {{ l["remote_object"] | managed_object_title }}
                                </a>
                            </td>
                            <td>
                                {% for i in l["remote_interface"] %}
                                {{ i.name }}{% if not loop.first %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </td>
</tr>
<tr>
    <th scope="row">{{ _("TT") }}</th>
    <td>N/A</td>
</td>
{% if alarms %}
<tr>
    <th scope="row">{{ _("Alarms") }}</th>
    <td>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{{ _("Timestamp") }}</th>
                    <th>{{ _("Duration") }}</th>
                    <th>{{ _("Subject") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for a in alarms %}
                <tr>
                    <td><a href="/api/card/view/alarm/{{ a["id"] }}/">{{ a["timestamp"] | timestamp}}</a></td>
                    <td>{{ a["duration"] }}</td>
                    <td>{{ a["subject"] }}</td>
                </td>
                {% endfor %}
            </tbody>
        </table>
    </td>
<td>
{% endif %}
{% if inventory %}
<tr>
    <th scope="row">{{ _("Inventory") }}</th>
    <td>
        <table class="table table-condensed">
            <thead>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Model") }}</th>
                <th>{{ _("Revision") }}</th>
                <th>{{ _("Serial") }}</th>
                <th>{{ _("Description") }}</th>
            </thead>
            <tbody>
                {% for i in inventory %}
                <tr>
                    <td>{{ "".join(["&nbsp;&nbsp;&nbsp;&nbsp;"] * i["level"]) }}{{ i["name"] }}</td>
                    <td>{{ i["model"] }}</td>
                    <td>{{ i["revision"] }}</td>
                    <td>{{ i["serial"] }}</td>
                    <td>{{ i["description"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
{% endif %}
</tbody>
</table>
<table class="table table-condensed table-hover">
    <thead>
        <th class="col-sm-1">{{ _("Port") }}</th>
        <th class="col-sm-1">{{ _("Admin") }}/{{ _("Oper") }}</th>
        <th class="col-sm-1">{{ _("Speed") }}/{{ _("Duplex") }}</th>
        <th class="col-sm-1">{{ _("VLAN") }}</th>
        <th class="col-sm-1">{{ _("Errors") }}</th>
        <th class="col-sm-1">{{ _("Status") }}</th>
        <th>{{ _("Service") }}</th>
    </thead>
    <tbody>
        {% for i in interfaces %}
            <tr>
                <td>{{ i["name"] }}</td>
                <td{% if not i["oper_status"] %} class="danger"{% endif %}>
                    {{ {True: "<i class='text-success fa fa-circle' title='Admin Up'></i>", False: "<i class='text-danger fa fa-circle' title='Admin Down'></i>"}[i["admin_status"]] }}&nbsp;
                    {{ {True: "<i class='text-success fa fa-circle' title='Oper Up'></i>", False: "<i class='text-danger fa fa-circle' title='Oper Down'></i>"}[i["oper_status"]] }}
                </td>
                <td{% if not i["full_duplex"]%} class="danger"{% endif %}>
                    {% if i["oper_status"] %}
                        {{ i["speed"] }}M/{{ {True: "Full", False: "Half"}[i.full_duplex] }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if i["untagged_vlan"] %}U: {{ i["untagged_vlan"] }}{% endif %}
                    {% if i["tagged_vlans"] %}T: {{ i["tagged_vlans"] }}{% endif %}
                </td>
                <td></td>
                {% if i["service"] %}
                <td>
                    {{ i["service"].logical_status | logical_status }}<br>
                    <span class="small">{{ i["service"].stage_name }}</span>
                </td>
                <td>
                    <a href="/api/card/view/service/{{ i["service"].id }}/">{{ i["service"].order_id }}</a>:
                    {{ i["service"].subscriber.name }}
                    {% if i["service_summary"] %}
                        <span class="pull-right">
                            {{ i["service_summary"] | glyph_summary(True) }}
                        </span>
                    {% endif %}
                    {% if i["service"].address %}
                    <br/>
                    <span class="small">{{ i["service"].address }}</span>
                    {% endif %}
                </td>
                {% else %}
                <td></td>
                <td>{{ i["description"] }}</td>
                {% endif %}
            <tr>
        {% endfor %}
    </tbody>
</table>
