<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2">
            {% for o in path %}
                {% if o.id == object.id %}
                    {{ o.name }}
                {% else %}
                    <a href="/api/card/view/object/{{ o.id }}/">{{ o.name }}</a> |
                {% endif %}
            {% endfor %}
        </th>
     </tr>
    <tr>
        <th scope="row">{{ _("Модель") }}</th>
        <td>{{ object.model.name }}</td>
    </tr>
    {% if children %}
    <tr>
        <th scope="row">{{ _("Потомок") }}</th>
        <td>
            <table>
                <tbody>
                {% for o in children %}
                <tr>
                    <td>
                        <a href="/api/card/view/managedobject/{{ o.id }}/">{{ o.name }}</a>
                        {% if o.alarms %}
                        <tr>
                            <th scope="row">{{ _("Alarms") }}</th>
                            <td>

                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>{{ _("Timestamp") }}</th>
                                            <th>{{ _("Duration") }}</th>
                                            <th>{{ _("Subject") }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for a in o.alarms %}
                                        <tr>
                                            <td><a href="/api/card/view/alarm/{{ a["id"] }}/">{{ a["timestamp"] | timestamp}}</a></td>
                                            <td>{{ a["duration"] }}</td>
                                            <td>{{ a["subject"] }}</td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        {% endif %}
                     <div class="panel panel-default">
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    {% endif %}
</tbody>
</table>
