<table class="table table-condensed table-hover">
<tbody>
</tbody>
<tr>
    <th colspan="2">
        {{ _("Phone Number") }}: {{ object.number }}
    </th>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Dialplan") }}
    </th>
    <td>
        <a href="/api/card/view/dialplan/{{ object.dialplan.id }}/">{{ object.dialplan.name }}</a>
        {% for p in path %}
            /
            <a href="/api/card/view/phonerange/{{ p.id }}/">{{ p.name }} ({{ p.from_number }} - {{ p.to_number }})</a>
        {% endfor %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Category") }}
    </th>
    <td>
        {% if object.category %}{{ object.category.name }}{% endif %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Status") }}
    </th>
    <td>
        {{ object.status }}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Protocol") }}
    </th>
    <td>
        {{ object.protocol }}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Profile") }}
    </th>
    <td>
        {% if object.profile %}{{ object.profile.name }}{% endif %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Project") }}
    </th>
    <td>
        {% if object.project %}{{ object.project.name }}{% endif %}
    </td>
</tr>

<tr>
    <th scope="row">
        {{ _("Description") }}
    </th>
    <td>
        {% if object.description %} {{ object.description }} {% endif %}
    </td>
</tr>

<tr>
    <th scope="row">
        {{ _("ENUM") }}
    </th>
    <td>
        {{ object.enum }}
    </td>
</tr>
