<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2">
            Platform: {{ object.vendor.name }} {{ object.name }}
        </th>
    </tr>
    {% if object.aliases %}
    <tr>
        <th scope="row">{{ _("Aliases") }}</th>
        <td>{{", ".join(object.aliases)}}</td>
    <tr>
    {% endif %}
    <tr>
        <th scope="row">{{ _("Description") }}</th>
        <td>{{object.description}}</td>
    <tr>
    {% if object.start_of_sale %}
    <tr>
        <th scope="row">{{ _("Start of Sale") }}</th>
        <td>{{object.start_of_sale}}</td>
    <tr>
    {% endif %}
    {% if object.end_of_sale %}
    <tr>
        <th scope="row">{{ _("End of Sale") }}</th>
        <td>{{object.end_of_sale}}</td>
    <tr>
    {% endif %}
    {% if object.end_of_support %}
    <tr>
        <th scope="row">{{ _("End of Support") }}</th>
        <td>{{object.end_of_support}}</td>
    <tr>
    {% endif %}
    {% if object.end_of_xsupport %}
    <tr>
        <th scope="row">{{ _("End of Ext. Support") }}</th>
        <td>{{object.end_of_xsupport}}</td>
    <tr>
    {% endif %}
    {% if object.snmp_sysobjectid %}
    <tr>
        <th scope="row">{{ _("SNMP sysObjectId") }}</th>
        <td>{{object.snmp_sysobjectid}}</td>
    <tr>
    {% endif %}
</tbody>
</table>
