<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2">
            {{ object.name }} {{ summary | glyph_summary }}
        </th>
    </tr>
    {% if parent %}
    <tr>
        <th scope="row">{{ _("Parent") }}</th>
        <td><a href="/api/card/view/segment/{{ parent.id }}/">{{ parent.name }}</a></td>
    </tr>
    {% endif %}
    {% if children %}
    <tr>
        <th scope="row">{{ _("Children") }}</th>
        <td>
            <table>
                <tbody>
                {% for c in children %}
                <tr>
                    <td><a href="/api/card/view/segment/{{ c.id }}/">{{ c.name }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">{{ _("Objects") }}</th>
        <td>
            <table>
                <thead>
                    <th class="col-sm-6">{{ _("Name") }}</th>
                    <th class="col-sm-2">{{ _("Address") }}</th>
                    <th class="col-sm-2">{{ _("Model") }}</th>
                    <th class="col-sm-2">{{ _("Summary") }}</th>
                </thead>
                <tbody>
                {% for o in managed_objects %}
                <tr>
                    <td><a href="/api/card/view/managedobject/{{ o.id }}/">{{ o.object | managed_object_title}}</a></td>
                    <td>{{ o.object.address }}</td>
                    <td>{{ o.object.platform }}</td>
                    <td>{{ o.summary | glyph_summary }}</td>
                </tr>
                {% endfor %}
                </tbody>
            <table>
        </td>
    <tr>
</tbody>
</table>
