<table class="table table-condensed table-hover">
<tbody>
</tbody>
<tr>
    <th colspan="2">
        {{ object.name }}
    </th>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Description") }}
    </th>
    <td>
        {% if object.description %} {{ object.description }} {% endif %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Service Model") }}
    </th>
    <td>
        {% if object.service_model %} {{ object.service_model }} {% endif %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Client Model") }}
    </th>
    <td>
        {% if object.client_model %} {{ object.client_model }} {% endif %}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Single Service") }}
    </th>
    <td>
        {{ object.single_service }}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Single Client") }}
    </th>
    <td>
        {{ object.single_client }}
    </td>
</tr>
<tr>
    <th scope="row" class="col-md-2">
        {{ _("Allow Children") }}
    </th>
    <td>
        {{ object.allow_children }}
    </td>
</tr>
</table>
