<table class="table table-condensed table-hover">
<tbody>
    <tr>
        <th colspan="2">
            {{ object.name }} VRF
        </th>
    </tr>
    <tr>
        <th scope="row">{{ _("Profile") }}</th>
        <td>{{object.profile.name}}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("RD") }}</th>
        <td>{{ object.rd }}</td>
    <tr>
    {% if object.description %}
    <tr>
        <th scope="row">{{ _("Description") }}</th>
        <td>{{object.description}}</td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">{{ _("VPN ID") }}</th>
        <td>{{ object.vpn_id }}</td>
    <tr>
    <tr>
        <th scope="row">{{ _("Prefixes") }}</th>
        <td>
            {% if ipv4_prefix %}<a href="/api/card/view/prefix/{{ ipv4_prefix.id }}/">IPv4</a>{% endif %}
            {% if ipv6_prefix %}<a href="/api/card/view/prefix/{{ ipv6_prefix.id }}/">IPv6</a>{% endif %}
        </td>
    <tr>
</tbody>
</table>
