[supervisord]
## Environment name. Latin letters and digits
## i.e:
##    * prod
##    * test
##    * dev
##    * eval
NOC_ENV = {{noc_env}}
## Datacenter name. Latin letters and digits
NOC_DC = {{noc_dc}}
## Node name. Latin letters and digits
NOC_NODE = {{ansible_hostname}}
##
NOC_USER = {{noc_user}}
