# Post-deployment tasks
---
- name: check if noc running
  command: "{{ noc_root }}/noc ctl status"
  changed_when: false
  register: noc_ctl_status
  tags:
    - config
    - soft_restart
    - noc_config

- name: Reread config
  command: "{{ noc_root }}/noc ctl reread"
  when: "'RUNNING' in noc_ctl_status.stdout"
  register: noc_ctl_reread
  tags:
    - config
    - soft_restart
    - noc_config

- name: Serial NOC restart
  command: "{{ noc_root }}/noc ctl serialrestart all"
  when: "noc_ctl_reread"
  changed_when: False
  tags:
    - soft_restart

- name: Restart NOC node
  service:
    name: "{{ noc_system_service }}"
    state: restarted
    sleep: 3
    enabled: yes
  changed_when: False
  tags:
    - restart

- name: Wait for NOC to start
  pause:
    seconds: 30
  tags:
    - soft_restart
    - restart

- name: set ch_host to clickhouse when we have only one clickhouse
  set_fact:
    ch_host: "{{ hostvars[groups['svc-clickhouse'][0]].ansible_host}}"
    ch_port: 8123
  when: "'svc-clickhouse' in groups and groups['svc-clickhouse'] | length == 1"

- name: set ch_host to virtual_ip when we have complex clickhouse setup
  set_fact:
    ch_host: "{{keepalived_clickhouse_virtual_ip}}"
    ch_port: "{{haproxy_clickhouse_listen}}"
  when: "'svc-haproxy' in groups and groups['svc-haproxy'] | length >= 1 and keepalived_clickhouse_virtual_ip"

- name: set ch_host to virtual_ip when we have complex clickhouse setup
  set_fact:
    ch_host: "{{hostvars[groups['svc-haproxy'][0]].ansible_host}}"
    ch_port: "{{haproxy_clickhouse_listen}}"
  when: "'svc-haproxy' in groups and groups['svc-haproxy'] | length >= 1 and not keepalived_clickhouse_virtual_ip"

- name: Add default CH datasource
  uri:
    url: "https://{{ noc_web_host }}/ui/grafana/api/datasources"
    method: POST
    timeout: 60
    user: admin
    password: admin
    force_basic_auth: yes
    status_code: 200, 302, 401, 409
    body_format: json
    validate_certs: no
    body:
      name: nocchdb
      type: vertamedia-clickhouse-datasource
      url: "http://{{ ch_host }}:{{ch_port}}"
      access: proxy
      isDefault: True
      database: "{{ clickhouse_db }}"
      user: "readonly"
      password: "{{ clickhouse_ro_password }}"
  ignore_errors: yes
  register: ids
  run_once: true
  changed_when: ids.status != 409
  failed_when: ids.status == 500
  when: "has_svc_clickhouse | default(False)"
  tags:
    - config

- name: Add grafanads datasource
  uri:
    url: "https://{{ noc_web_host }}/ui/grafana/api/datasources"
    method: POST
    user: admin
    password: admin
    force_basic_auth: yes
    status_code: 200, 302, 401, 409
    body_format: json
    validate_certs: no
    body:
      name: NocDS
      type: grafana-simple-json-datasource
      url: "https://{{ noc_web_host }}/api/grafanads"
      access: direct
      isDefault: False
  ignore_errors: yes
  register: gds
  run_once: true
  changed_when: gds.status != 409
  failed_when: gds.status == 500
  when: "has_svc_grafanads | default(False)"
  tags:
    - config

