/* NOC Docs Extra CSS */
.noc-book-index {
  display: grid;
}

@media screen and (max-width: 320px) {
  .noc-book-index {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 321px) {
  .noc-book-index {
    grid-template-columns: repeat(2, 1fr);
  }
}

.noc-book-index .item {
  padding: 8px;
}
