.hero-container {
    padding: 2rem 0;
    background: url(horizon.svg),
        linear-gradient(180deg,
            var(--md-primary-fg-color),
            var(--md-accent-fg-color) 99%,
            var(--md-default-bg-color) 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mdx-hero {
    color: var(--md-primary-bg-color);
}

.mdx-hero .md-button {
    color: var(--md-primary-bg-color);
}

.mdx-hero .md-button--primary {
    color: #000000;
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}

.hero-image {
    order: 1;
}

.hero-image img {
    height: auto;
    max-width: 100%;
    animation: Sway 10s ease-in-out infinite;
    filter: invert(85%);
}

.hero-content {
    margin-top: 5rem;
    padding-bottom: 20vh;
    text-align: left;
}

.hero-content h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--md-primary-bg-color);
}

.md-content__inner h1 {
    display: none;
}

/*.noc-highlights-section {
    background: url('/assets/fixed-background.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/

/* .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
} */

.noc-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
}

.noc-highlights .item {
    width: 350px;
}

.noc-highlights .title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.5;
}

.noc-highlights .text {
    text-align: justify;
}

.noc-highlights .link {
    text-align: center;
}

.hero-version {
    margin-top: 0.7em;
}

.hero-version a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.hero-version a,
.hero-version a:visited {
    color: #ffffff;
}

.hero-version a:hover {
    color: #e67e22;
}

@keyframes Sway {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
    text-align: center;
}

@media screen and (min-width: 960px) {
    .mdx-hero {
        display: flex;
        align-items: stretch;
    }

    .hero-image {
        width: 50%;
    }

    .hero-content {
        width: 50%;
    }

    .hero-buttons {
        flex-direction: row;
    }
}