[[inputs.procstat]]
pattern = "noc-ping"
prefix = "ping"

[[inputs.httpjson]]
  name = "noc-ping"
  servers = [
{% for service in noc_config.services -%}
    {% if "ping" in service -%}
        {% for host in noc_config.services[service] -%}
            {% if ansible_ssh_host in host -%}
"http://{{host}}/mon/",
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
  ]
  method = "GET"
  tag_keys = ["service", "instance"]