{
  "service": {
    "name": "notebook",
    "tags": [ ],
    "port": {{notebook_port}},
    "enableTagOverride": false,
    "check": {
        "http": "http://{{ hostvars[ansible_nodename].ansible_host }}:{{ notebook_port }}/notebook/login",
        "interval": "300s"
    }
  }
}
