---
- include_tasks: "os/{{ ansible_distribution }}/main.yml"

- name: Create Grafana config
  template:
    src: grafana.ini
    dest: "{{ etc_prefix }}/grafana/grafana.ini"
  notify: restart grafana
  #no_log: true
  tags:
    - config

- name: create grafana users
  import_role:
    name: postgres
    tasks_from: users
  vars:
      db_name: "{{grafana_pg_db}}"
      db_password: "{{grafana_pg_password}}"
      db_user: "{{grafana_pg_user}}"
  delegate_to: "{{groups['svc-postgres-master'][0]}}"

- name: create Grafana dir
  file:
    path: "{{ item }}"
    mode: 0755
    state: directory
    group: grafana
    owner: grafana
  with_items:
    - "{{grafana_dashboard_dir}}"
    - "{{grafana_plugins_dir}}"

- name: Start Grafana service
  service:
    name: "{{ grafana_system_service }}"
    enabled: yes
    state: started

- name: Set up dynamic dashboards
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
  with_items:
    - src: noc.js.j2
      dest: "{{ grafana_home }}/public/dashboards/noc.js"
    - src: report.js.j2
      dest: "{{ grafana_home }}/public/dashboards/report.js"

- name: Install Grafana simple datasource plugin
  command: "grafana-cli plugins install grafana-simple-json-datasource"
  args:
    creates: "{{grafana_plugins_dir}}/grafana-simple-json-datasource/src/datasource.js"
  notify: restart grafana
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: Install Grafana clickhouse datasource plugin
  command: "grafana-cli plugins install vertamedia-clickhouse-datasource"
  args:
    creates: "{{grafana_plugins_dir}}/vertamedia-clickhouse-datasource/datasource.js"
  notify: restart grafana
  environment:
    http_proxy: "{{http_proxy}}"
    https_proxy: "{{http_proxy}}"
  tags:
    - requirements

- name: copy Grafana consul templates
  template:
    src: grafana.json.j2
    dest: "{{consul_configd_path}}/grafana.json"
  notify:
    - reload consul
  tags:
    - consul
