---
- name: reload systemd
  become: yes
  systemd:
    name: consul
    daemon_reload: yes

- name: restart consul
  become: yes
  service:
    name: consul
    state: restarted

- name: reload consul
  become: yes
  service:
    name: consul
    state: reloaded

- name: start consul
  become: yes
  service:
    name: consul
    enabled: yes
    state: started
