# Migrate database schema
---
- name: create noc user
  include_role:
    name: postgres
    tasks_from: users
    apply:
      delegate_to: "{{ postgres_master_node }}"
  vars:
    db_name: "{{ postgres_noc_db }}"
    db_password: "{{ postgres_noc_password }}"
    db_user: "{{ postgres_noc_user }}"
  when: postgres_master_node is defined
  tags:
    - postgres

- import_tasks: configure_consul.yml

- name: Migrate db
  command: ./noc migrate
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  register: migrate_out
  changed_when: "'Nothing to migrate' not in migrate_out.stdout"

- name: Ensure Mongo indecies
  command: ./noc ensure-indexes
  args:
    chdir: "{{ noc_root }}"
  become: "True"
  become_user: "{{ noc_user }}"
  changed_when: false

- name: migrate liftbridge partitions 1
  command: ./noc migrate-liftbridge
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  register: migrate_lb_out
  changed_when: "'CHANGED' in migrate_lb_out.stdout"

- name: Synchronize collections
  command: ./noc collection sync
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  tags:
    - coll_sync

- name: migrate liftbridge partitions 2
  command: ./noc migrate-liftbridge
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  register: migrate_lb_out
  changed_when: "'CHANGED' in migrate_lb_out.stdout"

- name: migrate ch db
  command: ./noc migrate-ch --host "{{ item }}"
  args:
    chdir: "{{ noc_root }}"
  register: migrate_ch
  with_items: "{{ groups['svc-clickhouse-exec'] }}"
  delegate_to: "{{ groups['svc-chwriter-exec'][0] }}"
  changed_when: "'CHANGED' in migrate_ch.stdout"
  when:
    - "'svc-chwriter-exec' in groups"

- name: Synchronize permissions
  command: ./noc sync-perm
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  tags:
    - perms
    - skip_ansible_lint

- name: Synchronize MIBs
  command: ./noc sync-mibs
  args:
    chdir: "{{ noc_root }}"
  become_user: "{{ noc_user }}"
  become: "True"
  register: mibs_out
  changed_when: mibs_out.stdout | length > 7

- name: Apply pools
  command: "{{ noc_root }}/scripts/deploy/apply-pools"
  args:
    chdir: "{{ noc_root }}"
  environment:
    PYTHONPATH: "{{ noc_root | dirname }}"
    DJANGO_SETTINGS_MODULE: "noc.settings"
  become_user: "{{ noc_user }}"
  become: "True"
  register: result
  changed_when: "'CHANGED' in result.stdout"
