---
- name: Add MongoDB apt key
  apt_key:
    keyserver: keyserver.ubuntu.com
    id: "{{ item }}"
  with_items:
    - 7F0CEB10
    - EA312927
    - 0C49F3730359A14518585931BC711F9BA15703C6
  environment:
    https_proxy: "{ {http_proxy }}"
    http_proxy: "{{ http_proxy }}"
  tags:
    - repo

- name: Add MongoDB repository
  apt_repository:
    repo: "deb http://repo.mongodb.org/apt/ubuntu {{ ansible_distribution_release }}/mongodb-org/{{ mongo_version }} multiverse"
    state: present
    update_cache: yes
  environment:
    https_proxy: "{{ http_proxy }}"
    http_proxy: "{{ http_proxy }}"
  tags:
    - repo

- name: Disable Transparent Hugepages (runtime)
  shell: if test -f /sys/kernel/mm/transparent_hugepage/enabled; then
            echo never > /sys/kernel/mm/transparent_hugepage/enabled;
            echo never > /sys/kernel/mm/transparent_hugepage/defrag;
         fi
  notify: restart mongod

- name: Install MongoDB
  apt:
    name: mongodb-org
    state: present
    update_cache: yes
    cache_valid_time: "{{ apt_cache_valid_time | default (3600) }}"
  environment:
    https_proxy: "{{ http_proxy }}"
    http_proxy: "{{ http_proxy }}"

- name: Copy mongod service file
  template:
    src:  "os/Ubuntu/etc/systemd/system/mongod.service.j2"
    dest: "/etc/systemd/system/mongod.service"
  register: mongod_service
  notify: restart mongod

- name: Copy systemd tmpfile
  template:
    src: etc/tmpfiles.d/mongo.conf.j2
    dest: /etc/tmpfiles.d/mongo.conf

- include: "arbiter.yml"
  when: "{{ has_svc_mongod_arbiter | default(False) }}"

- name: Reload systemd daemon
  command: /bin/systemctl daemon-reload
  when: mongod_service.changed
